workflows/n8n_하루건강약사_수동실행.json
{
  "id": "mxrYb3maJS31gEYC",
  "name": "하루건강약사 - n8n 유튜브 쇼츠 자동화",
  "nodes": [
    {
      "parameters": {
        "content": "하루건강약사 쇼츠\n\n- 소재 폴더: C:/dev/n8n-youtube-shorts-automation/하루건강약사 소재\n- txt/md/json 한 파일씩 넣기\n- 생성순서대로 1개 선택 후 사용완료로 이동\n- YouTube account로 업로드",
        "height": 200,
        "width": 470
      },
      "id": "e69caa07-76b6-43cb-a82a-b2e2de887eb1",
      "name": "Format Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        1328
      ]
    },
    {
      "parameters": {},
      "id": "29000a16-13fc-4e7d-a0f9-0b5617e48c39",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1968,
        2064
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nfunction activeTopicLine(value) {\n  const line = String(value || '').trim();\n  return line && !line.startsWith('#');\n}\n\nfunction cleanString(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction bool(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const normalized = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'on'].includes(normalized)) return true;\n  if (['false', '0', 'no', 'n', 'off'].includes(normalized)) return false;\n  return fallback;\n}\n\nfunction list(value) {\n  if (Array.isArray(value)) return value.map(cleanString).filter(Boolean);\n  const text = cleanString(value);\n  if (!text) return [];\n  return text.split(/\\r?\\n|[,|]/).map(cleanString).filter(Boolean);\n}\n\nfunction normalizeSunoModel(value) {\n  const raw = cleanString(value || 'V5_5');\n  const key = raw.toLowerCase().replace(/[\\s_.]+/g, '-');\n  const aliases = {\n    'v5-5': 'V5_5',\n    'v55': 'V5_5',\n    'suno-v5-5': 'V5_5',\n    'suno-v55': 'V5_5',\n    'v5': 'V5',\n    'suno-v5': 'V5',\n  };\n  return aliases[key] || 'V5_5';\n}\n\nfunction kstDate(value = new Date()) {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Asia/Seoul',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(value).reduce((acc, part) => {\n    acc[part.type] = part.value;\n    return acc;\n  }, {});\n  return parts.year + '-' + parts.month + '-' + parts.day;\n}\n\nfunction appendJsonLine(filePath, payload) {\n  fs.mkdirSync(path.dirname(filePath), { recursive: true });\n  fs.appendFileSync(filePath, JSON.stringify(payload) + '\\n', 'utf8');\n}\n\nfunction uniqueStrings(values) {\n  const seen = new Set();\n  const result = [];\n  for (const value of values) {\n    const text = cleanString(value);\n    const key = text.toLowerCase();\n    if (!text || seen.has(key)) continue;\n    seen.add(key);\n    result.push(text);\n  }\n  return result;\n}\n\nfunction loadRecentTitleHistory(filePath, limit = 100) {\n  try {\n    if (!filePath || !fs.existsSync(filePath)) return [];\n    const rows = fs.readFileSync(filePath, 'utf8')\n      .split(/\\r?\\n/)\n      .map((line) => line.trim())\n      .filter(Boolean)\n      .map((line) => {\n        try { return JSON.parse(line); } catch (error) { return null; }\n      })\n      .filter(Boolean)\n      .reverse();\n\n    const titles = [];\n    for (const row of rows) {\n      const title = cleanString(row.title || row.hook_title || row.topic || row.theme);\n      if (title) titles.push(title);\n      if (titles.length >= limit) break;\n    }\n    return uniqueStrings(titles);\n  } catch (error) {\n    return [];\n  }\n}\n\nfunction slug(value) {\n  return String(value || '').replace(/[^a-zA-Z0-9가-힣_-]+/g, '-').replace(/-+/g, '-').replace(/^-|-$/g, '').slice(0, 80) || Date.now().toString(36);\n}\n\nfunction parseRankLine(line) {\n  const cleaned = String(line || '')\n    .replace(/^\\s*(?:[-*•]|\\d+[.)]|\\d+위|TOP\\s*\\d+)\\s*/i, '')\n    .trim();\n  if (!cleaned) return null;\n  const parts = cleaned\n    .split(/\\s+-\\s+|\\s+–\\s+|\\s+—\\s+|\\s*\\|\\s*|\\s*:\\s*/)\n    .map(cleanString)\n    .filter(Boolean);\n  return {\n    name: parts[0] || cleaned,\n    reason: parts[1] || '',\n    caution: parts.slice(2).join(' '),\n  };\n}\n\nfunction titleFromFilePath(filePath) {\n  const base = path.basename(String(filePath || ''), path.extname(String(filePath || '')));\n  return cleanString(base\n    .replace(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}-\\d{2}-\\d{2}[^-]*-?/, '')\n    .replace(/^\\d{8,14}[-_]?/, '')\n    .replace(/[-_]+/g, ' '));\n}\n\nfunction isListLine(line) {\n  return /^\\s*(?:[-*•]|\\d+[.)]|\\d+위|TOP\\s*\\d+)\\s+/i.test(String(line || ''));\n}\n\nfunction inferTopicLane(value) {\n  const text = cleanString(typeof value === 'string'\n    ? value\n    : [\n        value?.title,\n        value?.subtitle,\n        value?.notes,\n        value?.rough_brief,\n        value?.raw_text,\n        ...(value?.rank_items || []).map((item) => [item.name, item.reason, item.caution].filter(Boolean).join(' ')),\n      ].join(' ')).toLowerCase();\n  const checks = [\n    ['blood_sugar_meals', /혈당|당뇨|믹스커피|단맛|주스|밥|탄수|식후|간식|야식/],\n    ['joint_mobility', /무릎|허리|관절|걷|계단|신발|발목|보폭|스트레칭/],\n    ['sleep_recovery', /수면|잠|불면|새벽|침실|카페인|조명|멜라토닌|코골/],\n    ['digestion_gut', /소화|장|속|더부룩|변비|설사|가스|유산균|국물/],\n    ['hydration_salt', /수분|물|나트륨|소금|붓기|부종|짜게|갈증/],\n    ['kitchen_storage', /냉장고|보관|식재료|반찬|전자레인지|해동|상온|유통기한/],\n    ['supplement_basics', /영양제|비타민|마그네슘|오메가|프로바이오틱스|복용|성분/],\n    ['body_signals', /피로|갈증|소변|손발|눈|몸의 신호|어지럼|컨디션/],\n    ['seasonal_home', /더위|추위|습도|환기|계절|실내|에어컨|난방/],\n    ['shopping_labels', /라벨|장보기|간편식|소스|성분표|칼로리|원재료|마트/],\n    ['morning_energy', /아침|기상|햇빛|모닝|활력|공복/],\n    ['evening_reset', /저녁|밤|소파|샤워|야간|리셋/],\n    ['senior_life_wisdom', /시니어|노후|은퇴|품위|인간관계|대접|혼자|말년/],\n    ['money_saving_home', /생활비|병원비|절약|전기요금|돈|비용|장바구니/],\n    ['household_common_sense', /상식|살림|집안|정리|청소|꿀팁|생활/],\n    ['food_cooking_magic', /집밥|요리|레시피|반찬|맛있|조리|음식|주부/],\n    ['brain_memory_knowledge', /기억|뇌|퀴즈|상식|외래어|치매|대화/],\n  ];\n  return checks.find(([, pattern]) => pattern.test(text))?.[0] || '';\n}\n\nfunction parseMarkdownTopic(text, filePath) {\n  const rawText = String(text || '').replace(/^\\uFEFF/, '').trim();\n  const lines = rawText.split(/\\r?\\n/);\n  const spec = {\n    title: '',\n    subtitle: '',\n    lane: '',\n    tags: [],\n    notes: '',\n    rough_brief: rawText,\n    raw_text: rawText,\n    rank_items: [],\n    source_file: filePath,\n    source_format: 'freeform_file',\n  };\n  let section = 'meta';\n  const noteLines = [];\n\n  for (const rawLine of lines) {\n    const line = rawLine.trim();\n    if (!line) continue;\n\n    const heading = line.match(/^#\\s+(.+)/);\n    if (heading && !spec.title) {\n      spec.title = cleanString(heading[1]);\n      continue;\n    }\n\n    if (/^(ranks?|rank_items?|순위|목록)\\s*:/i.test(line)) {\n      section = 'ranks';\n      const rest = line.replace(/^(ranks?|rank_items?|순위|목록)\\s*:/i, '').trim();\n      if (rest) {\n        const item = parseRankLine(rest);\n        if (item) spec.rank_items.push(item);\n      }\n      continue;\n    }\n\n    if (/^(notes?|memo|brief|rough|메모|내용|설명)\\s*:/i.test(line)) {\n      section = 'notes';\n      const rest = line\n        .replace(/^(notes?|memo|brief|rough)\\s*:/i, '')\n        .replace(/^(메모|내용|설명)\\s*:/i, '')\n        .trim();\n      if (rest) noteLines.push(rest);\n      continue;\n    }\n\n    const kv = line.match(/^(title|topic|idea|subtitle|lane|content_lane|tags?|count|rank_count|angle|format_angle|주제|아이디어|부제|분류|태그|개수|순위수|각도)\\s*[:：]\\s*(.+)$/i);\n    if (kv && section === 'meta') {\n      const key = kv[1].toLowerCase();\n      const value = cleanString(kv[2]);\n      if (['title', 'topic', 'idea', '주제', '아이디어'].includes(key)) spec.title = value;\n      else if (['subtitle', '부제'].includes(key)) spec.subtitle = value;\n      else if (['lane', 'content_lane', '분류'].includes(key)) spec.lane = value;\n      else if (['tag', 'tags', '태그'].includes(key)) spec.tags = value.split(/[,|]/).map(cleanString).filter(Boolean);\n      else if (['count', 'rank_count', '개수', '순위수'].includes(key)) spec.rank_count = Number(value) || null;\n      else if (['angle', 'format_angle', '각도'].includes(key)) spec.format_angle = value;\n      continue;\n    }\n\n    if (section === 'ranks' || (spec.title && isListLine(line))) {\n      const item = parseRankLine(line);\n      if (item) spec.rank_items.push(item);\n      continue;\n    }\n\n    if (!spec.title) {\n      spec.title = cleanString(line.replace(/^#\\s+/, ''));\n      continue;\n    }\n\n    noteLines.push(line);\n  }\n\n  if (!spec.title) spec.title = titleFromFilePath(filePath);\n  spec.notes = cleanString(noteLines.join(' '));\n  spec.lane = cleanString(spec.lane) || inferTopicLane(spec);\n  spec.rank_items = spec.rank_items\n    .map((item, index) => ({ rank: index + 1, ...item }))\n    .filter((item) => item.name);\n  if (!spec.rank_count && spec.rank_items.length) spec.rank_count = spec.rank_items.length;\n  return spec.title ? spec : null;\n}\n\nfunction normalizeSpec(value, sourceFile = '') {\n  if (!value || typeof value !== 'object') return null;\n  const title = cleanString(value.title || value.topic || value.name || value.hook_title || value.theme) || titleFromFilePath(sourceFile);\n  if (!title) return null;\n  const rankItems = Array.isArray(value.rank_items || value.ranks)\n    ? (value.rank_items || value.ranks).map((item, index) => {\n        if (typeof item === 'string') {\n          const parsed = parseRankLine(item);\n          return parsed ? { rank: index + 1, ...parsed } : null;\n        }\n        return {\n          rank: Number(item.rank || index + 1),\n          name: cleanString(item.name || item.item || item.title),\n          reason: cleanString(item.reason || item.why || item.description),\n          caution: cleanString(item.caution || item.note),\n        };\n      }).filter((item) => item && item.name)\n    : [];\n  const normalized = {\n    title,\n    topic: title,\n    subtitle: cleanString(value.subtitle),\n    lane: cleanString(value.lane || value.content_lane),\n    format_angle: cleanString(value.format_angle || value.angle),\n    tags: Array.isArray(value.tags) ? value.tags.map(cleanString).filter(Boolean) : cleanString(value.tags).split(/[,|]/).map(cleanString).filter(Boolean),\n    notes: cleanString(value.notes || value.memo || value.body || value.rough_brief || value.raw_text),\n    rough_brief: cleanString(value.rough_brief || value.raw_text || value.notes || value.memo || value.body),\n    raw_text: cleanString(value.raw_text),\n    rank_count: Number(value.rank_count || value.count) || null,\n    rank_items: rankItems,\n    source_file: sourceFile || value.source_file || '',\n    source_format: value.source_format || (sourceFile ? 'topic_file' : 'manual'),\n  };\n  normalized.lane = normalized.lane || inferTopicLane(normalized);\n  if (!normalized.rank_count && normalized.rank_items.length) normalized.rank_count = normalized.rank_items.length;\n  return normalized;\n}\n\nfunction parseTopicFile(filePath) {\n  const text = fs.readFileSync(filePath, 'utf8');\n  if (/\\.json$/i.test(filePath)) return normalizeSpec(JSON.parse(text), filePath);\n  return normalizeSpec(parseMarkdownTopic(text, filePath), filePath);\n}\n\nfunction listPendingFiles(pendingDir) {\n  if (!fs.existsSync(pendingDir)) return [];\n  const ignoredNames = new Set([\n    'README.txt',\n    'README.md',\n    '줄소재.txt',\n    'queue.txt',\n    'used.jsonl',\n    'upload-log.jsonl',\n    '사용기록.jsonl',\n    '업로드기록.jsonl',\n  ]);\n  return fs.readdirSync(pendingDir, { withFileTypes: true })\n    .filter((entry) =>\n      entry.isFile() &&\n      !entry.name.startsWith('.') &&\n      !ignoredNames.has(entry.name) &&\n      /\\.(md|txt|json)$/i.test(entry.name)\n    )\n    .map((entry) => {\n      const filePath = path.join(pendingDir, entry.name);\n      const stat = fs.statSync(filePath);\n      const addedMs = Number.isFinite(stat.birthtimeMs) && stat.birthtimeMs > 0\n        ? stat.birthtimeMs\n        : (stat.ctimeMs || stat.mtimeMs);\n      return { filePath, name: entry.name, addedMs, mtimeMs: stat.mtimeMs };\n    })\n    .sort((a, b) =>\n      a.addedMs - b.addedMs ||\n      a.mtimeMs - b.mtimeMs ||\n      a.name.localeCompare(b.name, 'ko')\n    );\n}\n\nfunction consumePendingFile(filePath, usedDir, spec) {\n  fs.mkdirSync(usedDir, { recursive: true });\n  const stamp = new Date().toISOString().replace(/[:.]/g, '-');\n  const destination = path.join(usedDir, stamp + '-' + slug(spec.title) + path.extname(filePath));\n  fs.renameSync(filePath, destination);\n  return destination;\n}\n\nfunction loadTopicQueue({ queuePath, pendingDir, usedDir, usedLogPath, consume }) {\n  const result = {\n    queue_path: queuePath,\n    pending_dir: pendingDir,\n    used_dir: usedDir,\n    used_log_path: usedLogPath,\n    selected: null,\n    consumed: false,\n    consumed_file: null,\n    remaining_before: 0,\n    remaining_after: 0,\n    error: null,\n  };\n\n  try {\n    fs.mkdirSync(path.dirname(queuePath), { recursive: true });\n    fs.mkdirSync(pendingDir, { recursive: true });\n    fs.mkdirSync(usedDir, { recursive: true });\n    if (!fs.existsSync(queuePath)) fs.writeFileSync(queuePath, '', 'utf8');\n\n    const files = listPendingFiles(pendingDir);\n    result.remaining_before = files.length;\n    if (files.length) {\n      const picked = files[0];\n      const spec = parseTopicFile(picked.filePath);\n      if (!spec) throw new Error('Could not parse topic file: ' + picked.filePath);\n      const id = 'file-topic-' + Date.now().toString(36) + '-' + Math.random().toString(36).slice(2, 8);\n      result.selected = {\n        id,\n        source: 'topic_file',\n        score: 300,\n        picked_at: new Date().toISOString(),\n        ...spec,\n      };\n      if (consume) {\n        result.consumed_file = consumePendingFile(picked.filePath, usedDir, spec);\n        result.consumed = true;\n        appendJsonLine(usedLogPath, {\n          id,\n          title: spec.title,\n          source: 'topic_file',\n          source_file: picked.filePath,\n          consumed_file: result.consumed_file,\n          rank_count: spec.rank_items?.length || spec.rank_count || null,\n          status: 'picked',\n          date_kst: kstDate(),\n          picked_at: result.selected.picked_at,\n        });\n      }\n      result.remaining_after = Math.max(0, files.length - (result.consumed ? 1 : 0));\n      return result;\n    }\n\n    const raw = fs.readFileSync(queuePath, 'utf8').replace(/^\\uFEFF/, '');\n    const lines = raw.split(/\\r?\\n/);\n    const activeIndexes = lines\n      .map((line, index) => ({ line, index }))\n      .filter((entry) => activeTopicLine(entry.line));\n    result.remaining_before = activeIndexes.length;\n    if (!activeIndexes.length) return result;\n\n    const picked = activeIndexes[0];\n    const title = cleanString(picked.line);\n    const id = 'line-topic-' + Date.now().toString(36) + '-' + Math.random().toString(36).slice(2, 8);\n    result.selected = {\n      id,\n      title,\n      topic: title,\n      source: 'topic_queue',\n      score: 250,\n      picked_at: new Date().toISOString(),\n    };\n\n    if (consume) {\n      lines.splice(picked.index, 1);\n      const nextText = lines.join('\\n').replace(/\\n*$/, '');\n      fs.writeFileSync(queuePath, nextText ? nextText + '\\n' : '', 'utf8');\n      result.consumed = true;\n      appendJsonLine(usedLogPath, {\n        id,\n        title,\n        source: 'topic_queue',\n        status: 'picked',\n        date_kst: kstDate(),\n        picked_at: result.selected.picked_at,\n      });\n    }\n\n    result.remaining_after = Math.max(0, result.remaining_before - (result.consumed ? 1 : 0));\n    return result;\n  } catch (error) {\n    result.error = error.message;\n    return result;\n  }\n}\n\nconst first = $input.first()?.json ?? {};\nconst isWebhook = first.body !== undefined && first.headers !== undefined;\nconst incoming = isWebhook ? (first.body || {}) : first;\nconst dryRun = bool(incoming.dry_run, bool(incoming.test_mode, false));\nconst privacyInput = incoming.youtube_privacy_status || incoming.YOUTUBE_PRIVACY_STATUS || 'public';\nconst requestedPrivacy = ['public', 'unlisted', 'private'].includes(String(privacyInput).toLowerCase())\n  ? String(privacyInput).toLowerCase()\n  : 'public';\nconst variationSeed =\n  cleanString(incoming.variation_seed || incoming.seed) ||\n  [new Date().toISOString(), Math.random().toString(16).slice(2, 10)].join('-');\n\nconst model_config = {\n  prompt_model: incoming.PROMPT_MODEL || incoming.prompt_model || 'claude-opus-4-7',\n  image_model: incoming.IMAGE_MODEL || incoming.image_model || 'gpt-image-2-text-to-image',\n  image_edit_model: incoming.IMAGE_EDIT_MODEL || incoming.image_edit_model || 'gpt-image-2-image-to-image',\n  music_model: incoming.MUSIC_MODEL || incoming.music_model || 'V5_5',\n};\n\nconst config = {\n  run_mode: dryRun ? 'dry_run' : 'live_upload',\n  test_mode: dryRun,\n  dry_run: dryRun,\n  use_live_kie_ai: !dryRun && bool(incoming.use_live_kie_ai, true),\n  use_live_image: !dryRun && bool(incoming.use_live_image, true),\n  use_live_bgm: !dryRun && bool(incoming.use_live_bgm, true),\n  use_live_render: !dryRun && bool(incoming.use_live_render, true),\n  allow_youtube_upload: !dryRun && bool(incoming.allow_youtube_upload, true),\n  youtube_privacy_status: requestedPrivacy,\n  rank_count: incoming.rank_count ? Number(incoming.rank_count) : null,\n  rank_count_mode: incoming.rank_count ? 'fixed' : 'auto',\n  rank_count_min: Number(incoming.rank_count_min || 3),\n  rank_count_max: Number(incoming.rank_count_max || 7),\n  duration_seconds: Number(incoming.duration_seconds || 5),\n  kie_ai_model: incoming.kie_ai_model || model_config.prompt_model,\n  kie_image_model: incoming.kie_image_model || model_config.image_model,\n  kie_image_edit_model: incoming.kie_image_edit_model || model_config.image_edit_model,\n  kie_bgm_model_requested: incoming.kie_bgm_model || model_config.music_model,\n  kie_bgm_model: normalizeSunoModel(incoming.kie_bgm_model || model_config.music_model),\n  render_provider: incoming.render_provider || 'local_ffmpeg_full_image_card',\n  local_render_dir: incoming.local_render_dir || 'C:/dev/n8n-youtube-shorts-automation/renders',\n  local_render_script: incoming.local_render_script || 'C:/dev/n8n-youtube-shorts-automation/scripts/render-static-card.mjs',\n  ffmpeg_path:\n    incoming.ffmpeg_path ||\n    'C:/Users/hjyeo/AppData/Local/Microsoft/WinGet/Packages/Gyan.FFmpeg_Microsoft.Winget.Source_8wekyb3d8bbwe/ffmpeg-8.1-full_build/bin/ffmpeg.exe',\n  node_path: incoming.node_path || 'C:/Program Files/nodejs/node.exe',\n  poll_interval_seconds: Number(incoming.poll_interval_seconds || 30),\n  image_poll_interval_seconds: Number(incoming.image_poll_interval_seconds || 30),\n  image_retry_wait_seconds: Number(incoming.image_retry_wait_seconds || 30),\n  image_poll_max_attempts: Number(incoming.image_poll_max_attempts || 30),\n  youtube_category_id: String(incoming.youtube_category_id || '27'),\n  region_code: incoming.region_code || 'KR',\n  timezone: incoming.timezone || 'Asia/Seoul',\n  topic_queue_path: incoming.topic_queue_path || 'C:/dev/n8n-youtube-shorts-automation/하루건강약사 소재/기록/줄소재.txt',\n  topic_pending_dir: incoming.topic_pending_dir || 'C:/dev/n8n-youtube-shorts-automation/하루건강약사 소재',\n  topic_used_dir: incoming.topic_used_dir || 'C:/dev/n8n-youtube-shorts-automation/하루건강약사 소재/사용완료',\n  topic_queue_used_log_path: incoming.topic_queue_used_log_path || 'C:/dev/n8n-youtube-shorts-automation/하루건강약사 소재/기록/사용기록.jsonl',\n  upload_log_path: incoming.upload_log_path || 'C:/dev/n8n-youtube-shorts-automation/하루건강약사 소재/기록/업로드기록.jsonl',\n  rss_url:\n    incoming.rss_url ||\n    'https://news.google.com/rss/search?q=%EA%B1%B4%EA%B0%95%20%EC%88%98%EB%A9%B4%20%ED%98%88%EB%8B%B9%20%EC%9A%B4%EB%8F%99%20%EC%98%81%EC%96%91&hl=ko&gl=KR&ceid=KR:ko',\n  topic_candidates: Array.isArray(incoming.topic_candidates) ? incoming.topic_candidates : [],\n  recent_titles: list(incoming.recent_titles || incoming.previous_titles || incoming.recent_topics),\n  diversity_mode: incoming.diversity_mode || 'rotating_profiles',\n  category_cooldown_window: Number(incoming.category_cooldown_window || 5),\n  category_cooldown_threshold: Number(incoming.category_cooldown_threshold || 2),\n  topic_category_override: cleanString(incoming.topic_category || incoming.topic_category_override),\n  blocked_topic_categories: list(incoming.blocked_topic_categories || incoming.blocked_categories),\n  variation_seed: variationSeed,\n  content_lane_override: cleanString(incoming.content_lane || incoming.content_lane_override),\n  visual_profile_override: cleanString(incoming.visual_profile || incoming.visual_profile_override),\n  bgm_profile_override: cleanString(incoming.bgm_profile || incoming.bgm_profile_override),\n  notify_slack: !dryRun && bool(incoming.notify_slack, false),\n  slack_webhook_url: incoming.slack_webhook_url || '',\n  trigger_type: incoming.scheduled_daily_run ? 'schedule' : (isWebhook ? 'webhook' : 'manual_or_schedule'),\n  model_config,\n};\n\nconst topicQueue = loadTopicQueue({\n  queuePath: config.topic_queue_path,\n  pendingDir: config.topic_pending_dir,\n  usedDir: config.topic_used_dir,\n  usedLogPath: config.topic_queue_used_log_path,\n  consume: false,\n});\nif (topicQueue.selected?.lane && !config.content_lane_override) {\n  config.content_lane_override = topicQueue.selected.lane;\n}\nif (topicQueue.selected) {\n  config.topic_candidates = [topicQueue.selected, ...config.topic_candidates];\n}\nconfig.topic_queue = topicQueue;\n\nconst incomingRecentTitles = config.recent_titles;\nconst uploadLogRecentTitles = loadRecentTitleHistory(config.upload_log_path, Number(incoming.recent_title_history_limit || 100));\nconst topicLogRecentTitles = loadRecentTitleHistory(config.topic_queue_used_log_path, Number(incoming.recent_title_history_limit || 100));\nconfig.recent_titles = uniqueStrings([\n  ...incomingRecentTitles,\n  ...uploadLogRecentTitles,\n  ...topicLogRecentTitles,\n]).slice(0, Number(incoming.recent_title_history_limit || 160));\nconfig.recent_title_sources = {\n  incoming: incomingRecentTitles.length,\n  upload_log: uploadLogRecentTitles.length,\n  topic_queue_used_log: topicLogRecentTitles.length,\n  total: config.recent_titles.length,\n};\n\nreturn [{ json: { config, incoming, topic_queue: topicQueue, trigger: { type: config.trigger_type, received_at: new Date().toISOString() } } }];"
      },
      "id": "b9d35d0c-8314-4e37-82bb-c3379a7eeab6",
      "name": "Load Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        2064
      ]
    },
    {
      "parameters": {
        "content": "하루건강약사 쇼츠\n\n- 소재 폴더: C:/dev/n8n-youtube-shorts-automation/하루건강약사 소재\n- txt/md/json 한 파일씩 넣기\n- 생성순서대로 1개 선택 후 사용완료로 이동\n- YouTube account로 업로드",
        "height": 170,
        "width": 430
      },
      "id": "bfad6f23-0c08-4ad7-852a-4c6954150b94",
      "name": "Credentials",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        1328
      ]
    },
    {
      "parameters": {
        "url": "={{$json.config.rss_url}}",
        "options": {}
      },
      "id": "eebb1fe1-e4ea-46d4-89b0-52fd5ec5f170",
      "name": "Fetch Health RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        2528,
        2064
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Load Config').first().json;\nconst cfg = base.config;\nconst rankWord = String.fromCharCode(50948);\nconst rankLabel = (value) => String(value) + rankWord;\nconst fixedRankCount = Number.isFinite(Number(cfg.rank_count)) && Number(cfg.rank_count) > 0 ? Number(cfg.rank_count) : null;\nconst rankCountMin = Number(cfg.rank_count_min || 3);\nconst rankCountMax = Number(cfg.rank_count_max || 7);\nconst queuedSpec = cfg.topic_queue?.selected || null;\nconst queuedSpecInstruction = queuedSpec?.rank_items?.length\n  ? 'Priority queued file includes rank_items. Use these exact ranked items and rank order unless unsafe. You may shorten reasons for card readability but do not invent unrelated items.'\n  : '';\nconst rankCountInstruction = fixedRankCount\n  ? '- Ranking count must be exactly ' + fixedRankCount + '.'\n  : '- Choose the strongest ranking count between ' + rankCountMin + ' and ' + rankCountMax + '. Use only items that genuinely matter. Do not pad weak items just to reach 7.';\nconst lastRankInstruction = fixedRankCount\n  ? rankLabel(fixedRankCount) + ' last/bottom.'\n  : 'the last selected rank at the bottom.';\nconst hookExamples = ['내 몸이 보내는 조용한 경고', '영양제 괜히 사지 마라', '혈당 급행 vs 저속행', '병원비 줄이는 식탁', '가족 건강을 위협하는 주방 습관', '죽을 때까지 내 발로 걷고 싶다면', '나이 들수록 반드시 줄일 것', '대부분이 잘못 알고 있는', '모르면 평생 손해', '주부 9단도 깜짝 놀란', '자격증 없이 시작하는', '돈 없어도 대접받는'].join(', ');\nconst cautiousPhrases = ['도움 될 수 있습니다', '부담될 수 있습니다', '지나치게 하지 않는 게 좋습니다'].join(', ');\nconst ctaComment = '오늘 항목 중 가장 와닿는 것은 몇 번인가요? 댓글로 번호를 남겨주세요.';\nconst referenceHookTitles = [\n  '영양제 괜히 사지 마라! 돈 아끼는 대체 식품 11가지',\n  '나이 들수록 반드시 줄여야 할 음식 5가지',\n  '건강하게 오래 살려면? 당장 멈춰야 할 5가지 습관',\n  '내 몸이 보내는 조용한 경고! 간 이상 신호 10가지',\n  '죽을 때까지 내 발로 걷고 싶다면 꼭 해야 할 필수 습관 7가지',\n  '내 가족 건강을 위협하는 최악의 주방 습관 10가지',\n  '같은 밥상 다른 목적지! 혈당 급행 vs 저속행 음식 비교',\n  '병원비 1억 아끼는 최고의 노화 방지 아침 식단',\n  '혼자 살아도 절대 늙지 않는 사람들의 10가지 특징',\n  '고혈압보다 무서운 늙은 혈관을 살리는 음식 10가지',\n];\nconst broadViralReferenceTitles = [\n  '나이 들수록 매일 먼저 바꿔야 할 생활 습관 10',\n  '내 몸이 보내는 조용한 SOS 신호 10',\n  '수면 자세 하나로 아침 컨디션이 달라지는 이유 6',\n  '약 먹는 날 무심코 하면 손해 보는 생활 습관 10',\n  '물 한 잔도 보약처럼 마시는 타이밍 7',\n  '시니어라면 꼭 알아둘 건강 숫자 10',\n  '대부분 잘못 알고 있는 자동차 상식 10',\n  '생활비 새는 집에서 먼저 확인할 것 7',\n  '손톱과 얼굴로 보는 내 몸 체크 신호 9',\n  '전기밥솥 200% 활용하는 살림 비법 6',\n  '주방 일이 10배 쉬워지는 살림 지혜 10',\n  '사람 관계에서 절대 고쳐 쓰려 하지 말아야 할 순간 7',\n  '똑똑한 사람은 절대 안 하는 생활 선택 8',\n  '혼자 살아도 품위 있게 나이 드는 습관 7',\n  '유통기한 지났다고 바로 버리면 손해 보는 활용법 12',\n  '돈 걱정 줄이는 노후 생활 관리법 10',\n  '병원비 쓰기 전에 매일 먼저 챙길 생활 습관 10',\n  '약 먹는 시간만 바꿔도 놓치기 쉬운 포인트 7',\n  '영양제 사기 전 먼저 볼 대체 식품 11',\n  '대부분 잘못 알고 있는 생활 상식 10가지',\n];\nconst rssItems = $input.all().map((item) => item.json || {});\n\nfunction clean(value) {\n  return String(value || '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction hashText(value) {\n  let hash = 2166136261;\n  const text = String(value || '');\n  for (let index = 0; index < text.length; index += 1) {\n    hash ^= text.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return hash >>> 0;\n}\n\nfunction pick(items, salt) {\n  return items[hashText([cfg.variation_seed, salt].join('|')) % items.length];\n}\n\nfunction findById(items, value) {\n  const key = clean(value).toLowerCase();\n  if (!key) return null;\n  return items.find((item) => item.id.toLowerCase() === key || item.title.toLowerCase() === key) || null;\n}\n\nfunction normalizeDuplicateTitle(value) {\n  return clean(value)\n    .toLowerCase()\n    .replace(/top\\s*\\d+/gi, ' ')\n    .replace(/[0-9０-９]+\\s*(?:가지|개|위|선|순위|top)?/gi, ' ')\n    .replace(/[ㄱ-ㅎㅏ-ㅣ]/g, ' ')\n    .replace(/[^a-z0-9가-힣]+/gi, ' ')\n    .replace(/\\s+/g, '');\n}\n\nfunction ngrams(value, size = 3) {\n  const text = normalizeDuplicateTitle(value);\n  if (text.length <= size) return text ? [text] : [];\n  const grams = [];\n  for (let index = 0; index <= text.length - size; index += 1) {\n    grams.push(text.slice(index, index + size));\n  }\n  return grams;\n}\n\nfunction titleSimilarity(left, right) {\n  const leftSet = new Set(ngrams(left));\n  const rightSet = new Set(ngrams(right));\n  if (!leftSet.size || !rightSet.size) return 0;\n  let shared = 0;\n  for (const gram of leftSet) {\n    if (rightSet.has(gram)) shared += 1;\n  }\n  return shared / Math.min(leftSet.size, rightSet.size);\n}\n\nfunction duplicateTitleTokens(value) {\n  return clean(value)\n    .toLowerCase()\n    .replace(/top\\s*\\d+/gi, ' ')\n    .replace(/[0-9０-９]+\\s*(?:가지|개|위|선|순위|top)?/gi, ' ')\n    .replace(/[^a-z0-9가-힣]+/gi, ' ')\n    .split(/\\s+/)\n    .map((token) => token.replace(/(에서|으로|부터|까지|처럼|만큼|보다|에게|한테|께|은|는|이|가|을|를|만|도|과|와|의|에|로|과)$/g, ''))\n    .filter((token) => token.length >= 2);\n}\n\nfunction duplicateTitleTokenOverlap(left, right) {\n  const leftTokens = new Set(duplicateTitleTokens(left));\n  const rightTokens = new Set(duplicateTitleTokens(right));\n  if (!leftTokens.size || !rightTokens.size) return 0;\n  let shared = 0;\n  for (const token of leftTokens) {\n    if (rightTokens.has(token)) shared += 1;\n  }\n  return shared / Math.min(leftTokens.size, rightTokens.size);\n}\n\nconst recentTitles = Array.isArray(cfg.recent_titles) ? cfg.recent_titles.map(clean).filter(Boolean) : [];\n\nfunction recentTitleMatch(title) {\n  const key = normalizeDuplicateTitle(title);\n  if (!key) return null;\n  for (const recent of recentTitles) {\n    const recentKey = normalizeDuplicateTitle(recent);\n    if (!recentKey) continue;\n    if (key === recentKey || key.includes(recentKey) || recentKey.includes(key)) return recent;\n    if (duplicateTitleTokenOverlap(title, recent) >= 0.48) return recent;\n    if (titleSimilarity(key, recentKey) >= 0.58) return recent;\n  }\n  return null;\n}\n\nconst topicCategories = [\n  { id: 'food', title: '음식·식사·식품·장보기' },\n  { id: 'sleep', title: '수면·저녁 루틴' },\n  { id: 'movement', title: '걷기·무릎·자세' },\n  { id: 'body_signal', title: '몸의 신호·컨디션' },\n  { id: 'home', title: '집안·계절·살림' },\n  { id: 'money', title: '생활비·병원비·절약' },\n  { id: 'senior_life', title: '노후·인간관계·생활태도' },\n  { id: 'common_sense', title: '상식·지식·궁금증' },\n];\n\nconst laneCategoryMap = {\n  daily_health_habits: 'body_signal',\n  sleep_posture_recovery: 'sleep',\n  medicine_routine_safety: 'body_signal',\n  body_signal_checks: 'body_signal',\n  health_numbers_knowledge: 'common_sense',\n  water_hydration_timing: 'body_signal',\n  movement_longevity: 'movement',\n  senior_relationship_mindset: 'senior_life',\n  money_life_management: 'money',\n  household_saving_tricks: 'home',\n  car_home_maintenance: 'common_sense',\n  practical_common_sense: 'common_sense',\n  cooking_reason_secrets: 'food',\n  food_immunity_table: 'food',\n  shopping_label_savings: 'food',\n  blood_sugar_meals: 'food',\n  digestion_gut: 'food',\n  hydration_salt: 'food',\n  kitchen_storage: 'food',\n  shopping_labels: 'food',\n  supplement_basics: 'food',\n  food_cooking_magic: 'food',\n  sleep_recovery: 'sleep',\n  evening_reset: 'sleep',\n  joint_mobility: 'movement',\n  body_signals: 'body_signal',\n  morning_energy: 'body_signal',\n  seasonal_home: 'home',\n  household_common_sense: 'home',\n  money_saving_home: 'money',\n  senior_life_wisdom: 'senior_life',\n  brain_memory_knowledge: 'common_sense',\n};\n\nfunction normalizeCategory(value) {\n  const key = clean(value).toLowerCase().replace(/[\\s-]+/g, '_');\n  const aliases = {\n    meal: 'food',\n    meals: 'food',\n    eating: 'food',\n    shopping: 'food',\n    grocery: 'food',\n    groceries: 'food',\n    movement_mobility: 'movement',\n    walking: 'movement',\n    body_signals: 'body_signal',\n    signals: 'body_signal',\n    household: 'home',\n    house: 'home',\n    senior: 'senior_life',\n    life: 'senior_life',\n    knowledge: 'common_sense',\n    common: 'common_sense',\n  };\n  const normalized = aliases[key] || key;\n  return topicCategories.some((category) => category.id === normalized) ? normalized : '';\n}\n\nfunction categoryForLane(lane) {\n  return laneCategoryMap[clean(lane)] || '';\n}\n\nfunction categoryForTitle(value) {\n  const text = clean(value).toLowerCase();\n  const checks = [\n    ['sleep', /잠|수면|새벽|침실|자기 전|밤|저녁 루틴|불면|아침까지|잠자기|수면 자세|베개|뒤척/],\n    ['movement', /걷|무릎|허리|관절|계단|다리|발목|하체|자세|스트레칭|운동|발로|보행/],\n    ['body_signal', /몸|신호|피로|갈증|붓|소변|컨디션|기력|뇌|기억|눈|손발|손톱|얼굴|외모|아침 몸|매일 습관|건강 습관|약 먹는 날|복용|약 먹는 시간|면역/],\n    ['money', /돈|생활비|병원비|약값|전기요금|절약|반값|손해|장바구니|지갑|시세|동전|수리비|관리법/],\n    ['senior_life', /은퇴|혼자|대접|말습관|품위|시니어|노후|자격증|인간관계|말년|사람|복수|부질없|나를 위해/],\n    ['home', /집|정리|살림|에어컨|장마|습도|환기|조명|실내|전자레인지|전기밥솥|생활 필수품|자동차|소모품|주방 일/],\n    ['common_sense', /상식|외래어|대화|퀴즈|모르면|잘못 알고|궁금|지식|숫자|top|총정리|비하인드|대운|똑똑/],\n    ['food', /식사|식탁|밥|음식|식품|식재료|재료|반찬|집밥|조리|요리|국물|찌개|커피|간식|야식|과일|먹으면|먹는 음식|먹을 음식|먹어야|혈당|당뇨|단맛|나트륨|소금|더부룩|소화|장 건강|냉장고|보관|유통기한|라벨|장볼|장보기|마트|간편식|영양제|약국|주방|면역 음식/],\n  ];\n  return checks.find(([, pattern]) => pattern.test(text))?.[0] || '';\n}\n\nfunction parseCategoryList(value) {\n  if (Array.isArray(value)) return value.map(normalizeCategory).filter(Boolean);\n  return clean(value).split(/[,|\\s]+/).map(normalizeCategory).filter(Boolean);\n}\n\nfunction buildTopicCategoryCooldown(recentTitles, cfg) {\n  const windowSize = Number(cfg.category_cooldown_window || 5);\n  const threshold = Number(cfg.category_cooldown_threshold || 2);\n  const recentWindow = recentTitles.slice(0, windowSize).map((title) => ({\n    title,\n    category: categoryForTitle(title),\n  })).filter((entry) => entry.category);\n\n  const counts = {};\n  for (const entry of recentWindow) {\n    counts[entry.category] = (counts[entry.category] || 0) + 1;\n  }\n\n  const blockedSet = new Set(parseCategoryList(cfg.blocked_topic_categories));\n  for (const [category, count] of Object.entries(counts)) {\n    if (count >= threshold) blockedSet.add(category);\n  }\n  if (recentWindow.length >= 2 && recentWindow[0].category === recentWindow[1].category) {\n    blockedSet.add(recentWindow[0].category);\n  }\n\n  const forcedCategory = normalizeCategory(cfg.topic_category_override);\n  if (forcedCategory) blockedSet.delete(forcedCategory);\n\n  const blockedCategories = [...blockedSet];\n  return {\n    window_size: windowSize,\n    threshold,\n    recent_window: recentWindow,\n    counts,\n    forced_category: forcedCategory || null,\n    blocked_categories: blockedCategories,\n    allowed_categories: topicCategories.map((category) => category.id).filter((id) => !blockedCategories.includes(id) || id === forcedCategory),\n  };\n}\n\nconst queuedTopicDuplicateOf = queuedSpec ? recentTitleMatch(queuedSpec.title || queuedSpec.topic || queuedSpec.name || '') : null;\nconst usableQueuedSpec = queuedSpec && !queuedTopicDuplicateOf ? queuedSpec : null;\n\nconst contentLanes = [\n  { id: 'daily_health_habits', title: '매일 건강 습관', angle: '인기순 핵심 패턴. 큰돈 쓰기 전 매일 먼저 바꿀 행동, 아침과 저녁에 바로 확인 가능한 생활 습관' },\n  { id: 'sleep_posture_recovery', title: '수면 자세·회복', angle: '수면 자세, 베개, 새벽에 깨는 이유, 아침 컨디션처럼 조회수 높은 수면 궁금증' },\n  { id: 'medicine_routine_safety', title: '약 먹는 날 생활습관', angle: '복용량·처방 조언 없이 물, 커피, 식사, 시간대, 깜빡함처럼 약 먹는 날 주변 습관만 점검' },\n  { id: 'body_signal_checks', title: '몸이 보내는 신호', angle: '손톱, 얼굴, 소변색, 붓기, 피로, 갈증처럼 진단이 아닌 관찰형 체크 소재' },\n  { id: 'health_numbers_knowledge', title: '시니어 건강 숫자·상식', angle: '혈압 숫자 같은 진단 조언 말고 수면 시간, 물컵, 걷는 시간, 보관일처럼 안전한 생활 숫자' },\n  { id: 'water_hydration_timing', title: '물 마시는 타이밍', angle: '맹물도 다르게 느껴지는 타이밍, 아침 첫 물, 커피 대신 물, 밤 물 습관처럼 시각화 쉬운 소재' },\n  { id: 'movement_longevity', title: '평생 걷기·자세', angle: '내 발로 오래 걷기, 무릎 부담, 신발, 계단, 보폭처럼 장수 욕구와 연결되는 생활 장면' },\n  { id: 'household_saving_tricks', title: '살림·주방 지혜', angle: '전기밥솥, 전자레인지, 보관, 정리, 생활용품 활용처럼 저장하고 싶은 살림 상식' },\n  { id: 'money_life_management', title: '돈·수리비·노후 관리', angle: '생활비, 수리비, 지갑 속 물건, 노후 돈 관리처럼 건강 채널에도 붙는 실용 궁금증' },\n  { id: 'car_home_maintenance', title: '자동차·집 관리 상식', angle: '자동차 소모품, 수리비, 집안 점검처럼 중장년이 바로 저장하는 생활 관리 정보' },\n  { id: 'senior_relationship_mindset', title: '시니어 관계·태도', angle: '사람 고쳐 쓰지 않기, 나를 위해 살기, 대접받는 말습관처럼 댓글 반응이 나오는 삶의 태도' },\n  { id: 'practical_common_sense', title: '잘못 알고 있는 상식', angle: '대부분 틀리는 생활 상식, 숫자, 총정리, 의외의 반전처럼 음식 밖 궁금증 확장' },\n  { id: 'cooking_reason_secrets', title: '요리 맛이 안 나는 이유', angle: '된장찌개, 집밥 맛, 조리 순서처럼 음식 소재라도 이유형·문제해결형으로만 다룸' },\n  { id: 'food_immunity_table', title: '나이 들수록 식탁 선택', angle: '면역 음식, 줄일 음식, 대체 식품처럼 음식은 과다 반복 방지용 보조 레인으로 제한' },\n  { id: 'shopping_label_savings', title: '장보기·라벨·영양제 비용', angle: '영양제 대신 식품, 라벨, 장바구니 비용처럼 돈과 연결되는 음식/제품 점검' },\n];\nconst topicCategoryCooldown = buildTopicCategoryCooldown(recentTitles, cfg);\nconst eligibleContentLanes = contentLanes.filter((lane) => {\n  const category = categoryForLane(lane.id);\n  if (topicCategoryCooldown.forced_category) return category === topicCategoryCooldown.forced_category;\n  return !topicCategoryCooldown.blocked_categories.includes(category);\n});\nconst lanePool = eligibleContentLanes.length ? eligibleContentLanes : contentLanes;\nconst selectedLane =\n  findById(contentLanes, cfg.content_lane_override) ||\n  pick(lanePool, 'content_lane|' + topicCategoryCooldown.blocked_categories.join(',') + '|' + recentTitles.slice(0, 5).join('|'));\nconst selectedTopicCategory = categoryForLane(selectedLane.id) || categoryForTitle(selectedLane.title) || 'common_sense';\n\nconst manual = (cfg.topic_candidates || []).map((entry, index) => {\n  if (typeof entry === 'string') return { title: clean(entry), source: 'manual', score: 130 - index, lane: 'manual' };\n  return { title: clean(entry.title || entry.topic || entry.name), source: entry.source || 'manual', score: Number(entry.score || 130 - index), lane: entry.lane || 'manual' };\n});\n\nconst rss = rssItems\n  .filter((item) => item && !item.error)\n  .map((item, index) => ({ title: clean(item.title), source: 'rss', url: item.link || item.guid || '', score: 90 - index, lane: 'rss' }))\n  .filter((candidate) => candidate.title);\n\nconst referenceViral = broadViralReferenceTitles\n  .map((title, index) => ({ title, source: 'reference_high_view_pattern', score: 125 - index, lane: 'reference' }));\n\nconst evergreenPool = [\n  { lane: 'daily_health_habits', title: '나이 들수록 매일 먼저 바꿔야 할 생활 습관 10' },\n  { lane: 'daily_health_habits', title: '큰돈 쓰기 전에 집에서 먼저 챙길 습관 10' },\n  { lane: 'daily_health_habits', title: '건강하게 오래 사는 사람들이 매일 지키는 작은 습관 10' },\n  { lane: 'daily_health_habits', title: '몸이 무너지기 전에 줄여야 할 생활 실수 7' },\n  { lane: 'sleep_posture_recovery', title: '내 몸을 편하게 하는 건강 수면 자세 6가지' },\n  { lane: 'sleep_posture_recovery', title: '새벽에 자주 깨는 사람이 무심코 하는 행동 7' },\n  { lane: 'sleep_posture_recovery', title: '아침까지 피곤한 사람이 놓치는 침실 조건 7' },\n  { lane: 'sleep_posture_recovery', title: '자기 전 이것만 줄여도 밤이 편해지는 습관 7' },\n  { lane: 'medicine_routine_safety', title: '약 먹는 날 무심코 하면 손해 보는 생활 습관 10' },\n  { lane: 'medicine_routine_safety', title: '약 먹는 시간에 자주 놓치는 생활 포인트 7' },\n  { lane: 'medicine_routine_safety', title: '건강제품 먹는 날 커피보다 먼저 확인할 것 7' },\n  { lane: 'medicine_routine_safety', title: '약국 가기 전에 메모하면 좋은 생활 체크 7' },\n  { lane: 'body_signal_checks', title: '내 몸이 보내는 조용한 SOS 신호 10' },\n  { lane: 'body_signal_checks', title: '손톱이 알려주는 몸 상태 신호 9가지' },\n  { lane: 'body_signal_checks', title: '얼굴만 봐도 알 수 있는 몸 상태 신호 10가지' },\n  { lane: 'body_signal_checks', title: '아침 몸 상태로 알 수 있는 생활 힌트 7' },\n  { lane: 'health_numbers_knowledge', title: '꼭 알아둬야 할 시니어 필수 건강 숫자 10가지' },\n  { lane: 'health_numbers_knowledge', title: '나이 들수록 헷갈리면 손해 보는 생활 숫자 10' },\n  { lane: 'health_numbers_knowledge', title: '건강 상식처럼 들리지만 대부분 잘못 아는 숫자 7' },\n  { lane: 'health_numbers_knowledge', title: '집에서 바로 확인하는 중장년 생활 체크 숫자 7' },\n  { lane: 'water_hydration_timing', title: '물 한 잔도 보약처럼 마시는 타이밍 7' },\n  { lane: 'water_hydration_timing', title: '맹물도 다르게 느껴지는 올바른 물 마시기 습관 7' },\n  { lane: 'water_hydration_timing', title: '물을 마셔도 계속 목마른 사람의 습관 7' },\n  { lane: 'water_hydration_timing', title: '아침 첫 물 한 잔 전에 확인할 것 5' },\n  { lane: 'movement_longevity', title: '평생 내 발로 걷고 싶다면 먼저 볼 습관 7' },\n  { lane: 'movement_longevity', title: '무릎이 먼저 늙는 사람이 반복하는 행동 7' },\n  { lane: 'movement_longevity', title: '걷기 운동해도 다리가 무거운 이유 7' },\n  { lane: 'movement_longevity', title: '계단 오를 때 무릎 부담 키우는 실수 7' },\n  { lane: 'household_saving_tricks', title: '전기밥솥 아직 밥만 하면 손해 보는 활용법 6' },\n  { lane: 'household_saving_tricks', title: '주방 일을 10배 쉽게 만드는 고수들의 지혜 10' },\n  { lane: 'household_saving_tricks', title: '유통기한 지났다고 바로 버리면 손해 보는 활용법 12' },\n  { lane: 'household_saving_tricks', title: '전자레인지 돌리기 전 꼭 확인할 생활 상식 7' },\n  { lane: 'money_life_management', title: '평생 돈 걱정 덜어주는 후회 없는 돈 관리법 10' },\n  { lane: 'money_life_management', title: '내 지갑 속 숨은 보물 확인법 7' },\n  { lane: 'money_life_management', title: '생활비 새는 집에서 먼저 확인할 것 7' },\n  { lane: 'money_life_management', title: '영양제 사기 전 장바구니에서 빼면 좋은 것 7' },\n  { lane: 'car_home_maintenance', title: '대부분 잘못 알고 있는 자동차 상식 10가지' },\n  { lane: 'car_home_maintenance', title: '수리비 아끼는 자동차 소모품 교체 주기 총정리' },\n  { lane: 'car_home_maintenance', title: '중장년이 운전 전 꼭 확인할 차 안 습관 7' },\n  { lane: 'car_home_maintenance', title: '여름철 차 안에 두면 손해 보는 물건 7' },\n  { lane: 'senior_relationship_mindset', title: '절대 사람을 고쳐 쓰려 하지 말아야 할 이유 7' },\n  { lane: 'senior_relationship_mindset', title: '다 부질없다 싶을 때 나를 위해 바꿀 생활 태도 7' },\n  { lane: 'senior_relationship_mindset', title: '돈 없어도 대접받는 사람의 말습관 7' },\n  { lane: 'senior_relationship_mindset', title: '혼자 살아도 품위 있게 나이 드는 습관 7' },\n  { lane: 'practical_common_sense', title: '진짜 똑똑한 사람은 절대 안 하는 8가지' },\n  { lane: 'practical_common_sense', title: '대부분이 잘못 알고 있는 생활 상식 10가지' },\n  { lane: 'practical_common_sense', title: '모르면 평생 손해 보는 집안 상식 7' },\n  { lane: 'practical_common_sense', title: '어른들도 자주 틀리는 생활 지식 총정리' },\n  { lane: 'cooking_reason_secrets', title: '된장찌개 맛이 안 나는 진짜 이유 8' },\n  { lane: 'cooking_reason_secrets', title: '요리 맛이 2배 좋아지는 특급 비결 10가지' },\n  { lane: 'cooking_reason_secrets', title: '주부 9단도 다시 보는 집밥 맛 살리는 비법 7' },\n  { lane: 'cooking_reason_secrets', title: '같은 재료인데 맛이 달라지는 조리 순서 7' },\n  { lane: 'food_immunity_table', title: '나이 들수록 반드시 줄여야 할 음식 습관 5' },\n  { lane: 'food_immunity_table', title: '나이 들수록 식탁에서 먼저 챙길 음식 5' },\n  { lane: 'food_immunity_table', title: '영양제 사기 전 먼저 볼 대체 식품 11' },\n  { lane: 'food_immunity_table', title: '아침마다 장이 편해지는 생활 루틴 7' },\n  { lane: 'shopping_label_savings', title: '장볼 때 건강해 보여도 다시 봐야 할 라벨 7' },\n  { lane: 'shopping_label_savings', title: '간편식 살 때 나만 손해 보는 선택 7' },\n  { lane: 'shopping_label_savings', title: '무가당이라 믿고 사면 놓치기 쉬운 것 7' },\n  { lane: 'shopping_label_savings', title: '건강제품 괜히 사기 전 가격표에서 볼 것 7' },\n];\nconst laneCandidates = evergreenPool\n  .map((entry, index) => ({\n    title: entry.title,\n    source: entry.lane === selectedLane.id ? 'evergreen_selected_lane' : 'evergreen_cross_lane',\n    lane: entry.lane,\n    score: (entry.lane === selectedLane.id ? 85 : 55) - index / 100,\n    category: categoryForTitle(entry.title) || categoryForLane(entry.lane),\n  }))\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 16);\n\nconst seen = new Set();\nconst duplicateTopicCandidates = [];\nconst topic_candidates = [...manual, ...referenceViral, ...rss, ...laneCandidates].filter((candidate) => {\n  const title = clean(candidate.title);\n  const key = normalizeDuplicateTitle(title);\n  if (!title || seen.has(key)) return false;\n  seen.add(key);\n\n  const duplicateOf = recentTitleMatch(title);\n  if (duplicateOf) {\n    duplicateTopicCandidates.push({ title, source: candidate.source, lane: candidate.lane, duplicate_of: duplicateOf });\n    return false;\n  }\n\n  const category = categoryForTitle(title) || categoryForLane(candidate.lane) || candidate.category || selectedTopicCategory;\n  candidate.category = category;\n  const manualSource = ['manual', 'topic_file', 'topic_queue'].includes(candidate.source);\n  if (!manualSource && topicCategoryCooldown.blocked_categories.includes(category)) {\n    duplicateTopicCandidates.push({ title, source: candidate.source, lane: candidate.lane, blocked_category: category });\n    return false;\n  }\n\n  return true;\n}).slice(0, 30);\n\nconst tiredExamples = [\n  '늦은 밤 과일 한 접시',\n  '국에 밥 말아 먹기',\n  '저녁 후 바로 눕기',\n  '흰쌀밥만 가득 한 공기',\n  '달콤한 믹스커피 한 잔',\n  '야식 라면과 김밥',\n  '자기 전 과자 한 봉지',\n  '잠들기 직전 따뜻한 샤워',\n  '불 끄고 보는 스마트폰',\n  '자기 전 물 벌컥 마시기',\n];\n\nconst schema = {\n  topic_category: selectedTopicCategory,\n  content_lane: selectedLane.id,\n  format_angle: '이번 영상의 차별화 각도',\n  theme: '랭킹 주제',\n  hook_title: '큰 화면 제목. 예: 장볼 때 놓치는 라벨 습관 5',\n  subtitle: '궁금증을 만드는 짧은 보조 문구',\n  visual_mood_hint: '이미지 생성에 참고할 시각 분위기. 예: 밝은 마트 진열대, 라벨 체크리스트, 산뜻한 민트 포인트',\n  rank_items: [\n    { rank: 1, name: '항목명', reason: '8-16자 안팎의 짧은 이유', caution: '주의 문구 또는 빈 문자열' },\n  ],\n  video_script: 'Short spoken/video copy for 4-5 seconds. No visible disclaimer or consult-professional wording.',\n  description: 'Temporary draft only. Final upload description is generated deterministically from rank_items plus the 하루건강약사 self-introduction tone.',\n  tags: ['건강정보', '시니어건강'],\n  pinned_comment: ctaComment,\n  bgm_prompt: 'one varied calm premium instrumental music direction, no vocals',\n  medical_claims: ['건강 주장 목록'],\n  safety_notes: ['피한 표현'],\n};\n\nconst prompt = [\n  'Create one Korean YouTube Shorts pack for a high-retention ranked card for 하루건강약사. It may be health, senior lifestyle, household, food/cooking, money-saving, or common-sense if useful to Korean ages 50-60.',\n  'Target viewer: Korean ages 50-60. They should feel: I may be doing this, I should check this now.',\n  'This run must feel different from prior uploads. Use a fresh topic lane, fresh objects, fresh verbs, and fresh thumbnail mood.',\n  'Use benchmarked high-interest patterns from @건강-d4i popular Shorts: 매일습관, 수면자세, 몸 신호, 약 먹는 날 주변습관, 물 타이밍, 건강 숫자, 자동차/돈/살림 상식. Translate risky medical hooks into safe daily-life wording.',\n  'Selected content lane: ' + selectedLane.id + ' / ' + selectedLane.title + '. Angle: ' + selectedLane.angle + '.',\n  'Selected top-level category: ' + selectedTopicCategory + '.',\n  topicCategoryCooldown.blocked_categories.length ? 'Hard category cooldown for this run: do not choose or generate topics in these overused categories: ' + topicCategoryCooldown.blocked_categories.join(', ') + '. Food means meals, blood sugar, digestion, hydration/salt, food labels, groceries, supplements, fridge/storage, cooking, and any food object. Pick from allowed categories instead: ' + topicCategoryCooldown.allowed_categories.join(', ') + '.' : '',\n  topicCategoryCooldown.recent_window.length ? 'Recent category window used for cooldown: ' + topicCategoryCooldown.recent_window.map((entry) => entry.category + '=' + entry.title).join(' / ') + '.' : '',\n  usableQueuedSpec ? 'Priority queued topic/spec: ' + JSON.stringify(usableQueuedSpec) + '. Use this unless it is unsafe or unusable. Do not substitute an unrelated topic.' : '',\n  usableQueuedSpec ? queuedSpecInstruction : '',\n  queuedTopicDuplicateOf ? 'Queued topic was skipped before generation because it is too close to recent upload: ' + (queuedSpec.title || queuedSpec.topic || queuedSpec.name || '') + ' ~= ' + queuedTopicDuplicateOf + '.' : '',\n  'The visual format is one finished vertical infographic card. The list must show ' + rankLabel(1) + ' at the TOP, then ' + rankLabel(2) + ', ' + rankLabel(3) + ', down to the final selected rank.',\n  'Do not make boring textbook food lists. Prefer practical tension: common habits, surprising storage mistakes, body signals, money-saving choices, senior life problems, household mistakes, cooking hacks, common-sense gaps, sleep/blood-sugar/knee/digestion pitfalls, things people overlook daily.',\n  'Reference hook patterns from the benchmark channel. Learn from both health and non-health winners. Exact title structures may be borrowed or adapted when they fit: ' + referenceHookTitles.concat(broadViralReferenceTitles).join(' / ') + '.',\n  'Avoid starting hook_title with the fixed phrase 50대 이후 unless the age angle is truly essential. Use proven openers like 대부분이 잘못 알고 있는, 모르면 평생 손해, 주부 9단도 깜짝 놀란, 자격증 없이, 돈 없어도 대접받는, 나이 들수록, 아침마다, 같은 밥상, 내 몸이 보내는, 가족 건강, 영양제 before buying, or another specific curiosity opener instead.',\n  'Avoid repeating these recently overused examples unless absolutely necessary: ' + tiredExamples.join(', ') + '.',\n  recentTitles.length ? 'Hard duplicate filter: do not reuse, translate, or closely paraphrase these recent 하루건강약사 titles/topics: ' + recentTitles.join(' / ') + '.' : '',\n  duplicateTopicCandidates.length ? 'These candidate hooks were removed before generation because they were too close to recent uploads: ' + duplicateTopicCandidates.slice(0, 12).map((item) => item.title + ' ~= ' + item.duplicate_of).join(' / ') + '.' : '',\n  'Hook style: specific, curiosity-driven, useful. Examples: ' + hookExamples + '. No fake certainty or fearmongering.',\n  'Reasons must be short enough for a dense infographic row: ideally 8-14 Korean characters.',\n  'BGM direction should vary by run while staying calm and premium: acoustic, light jazz, Korean fusion, ambient piano, warm woodwind, or soft bossa are all allowed. No vocals, no EDM, no heavy drums.',\n  'Return strict JSON only. No markdown.',\n  'Rules:',\n  '- No cure, guaranteed treatment, guaranteed disease prevention.',\n  '- No medication/supplement dosage or prescription change.',\n  '- No fake doctor identity, fake clinic authority, or miracle language. If the topic is non-health, do not force medical claims; make it a practical senior-life or household ranked card.',\n  '- Use soft phrasing when needed: ' + cautiousPhrases + '.',\n  '- Do not add boilerplate safety/disclaimer copy in title, card text, description, script, or comment. No consult-professional or not-medical-advice wording.',\n  '- pinned_comment must use this exact friendly pharmacist tone: ' + ctaComment,\n  rankCountInstruction,\n  '- Use rank values ascending for display: ' + rankLabel(1) + ' first/top ... ' + lastRankInstruction,\n  'Schema:',\n  JSON.stringify(schema),\n  'Candidates:',\n  JSON.stringify(topic_candidates, null, 2),\n].filter(Boolean).join('\\n\\n');\n\nconst kie_claude_request = {\n  model: cfg.kie_ai_model,\n  stream: false,\n  max_tokens: 3200,\n  messages: [{ role: 'user', content: prompt }],\n};\n\nreturn [{ json: { ...base, selected_content_lane: selectedLane, topic_candidates, duplicate_topic_candidates: duplicateTopicCandidates, recent_titles_used: recentTitles, queued_topic_duplicate_of: queuedTopicDuplicateOf, kie_claude_request } }];"
      },
      "id": "a1f077c9-455f-4074-8ebd-40ed0a291d43",
      "name": "Build Viral Rank Pack Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        2064
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.use_live_kie_ai}}",
              "value2": true
            }
          ]
        }
      },
      "id": "6cf7174a-c852-4378-b428-f907ef8b87d4",
      "name": "Use Live KIE Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3088,
        2064
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/claude/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.kie_claude_request) }}",
        "options": {}
      },
      "id": "bd6c9a6f-2eb4-41e9-9133-b9fda4ebd7e2",
      "name": "KIE Claude Generate Pack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        1808
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Build Viral Rank Pack Request').first().json;\nconst response = $input.first().json || {};\nconst cfg = base.config || {};\nfunction hashText(value) {\n  let hash = 2166136261;\n  const text = String(value || '');\n  for (let index = 0; index < text.length; index += 1) {\n    hash ^= text.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return hash >>> 0;\n}\n\nfunction pick(items, seed, salt) {\n  return items[hashText([seed, salt].join('|')) % items.length];\n}\n\nfunction rows(values) {\n  return values.map((value, index) => {\n    const [name, reason, caution = ''] = value.split('|');\n    return { rank: index + 1, name, reason, caution };\n  });\n}\n\nfunction makePack(entry) {\n  return {\n    content_lane: entry.lane,\n    format_angle: entry.angle,\n    theme: entry.theme,\n    hook_title: entry.title,\n    subtitle: entry.subtitle,\n    visual_mood_hint: entry.visual,\n    rank_items: rows(entry.rows),\n    video_script: entry.script,\n    description: entry.description,\n    tags: ['건강정보', '시니어건강', ...entry.tags, 'shorts'],\n    pinned_comment: '오늘 항목 중 가장 와닿는 것은 몇 번인가요? 댓글로 번호를 남겨주세요.',\n    bgm_prompt: entry.bgm,\n    medical_claims: entry.claims,\n    safety_notes: ['과장 표현 없음', '치료/완치 보장 표현 없음', '복용량 표현 없음'],\n  };\n}\n\nconst fallbackPacks = [];\n\nconst viralFallbackPacks = [\n  makePack({\n    lane: 'body_signals',\n    angle: '아침 몸 상태와 생활 습관을 연결해 점검',\n    theme: '몸의 조용한 신호',\n    title: '내 몸이 보내는 조용한 경고 신호 7',\n    subtitle: '큰 병 이야기보다 생활 점검입니다',\n    visual: '아침 세면대, 손발, 물컵, 체크 아이콘, 밝은 화이트와 스카이블루',\n    rows: ['입이 자주 마름|수분 습관 점검', '발이 무겁게 느낌|짠맛을 돌아봄', '눈이 뻑뻑함|화면 시간을 확인', '어깨가 굳어 있음|잠자리 자세 점검', '속이 더부룩함|늦은 식사 확인', '머리가 무거움|수면 리듬 점검', '피로가 오래 감|휴식 질을 확인'],\n    script: '몸이 보내는 작은 신호는 전날 생활을 돌아보는 힌트가 될 수 있습니다.',\n    description: '몸의 작은 신호와 생활 습관을 정리했습니다.\\n#건강정보 #시니어건강 #생활습관 #하루건강약사 #쇼츠',\n    tags: ['몸상태', '생활습관', '아침루틴'],\n    bgm: 'clean soft piano with gentle woodwind accents, morning wellness show mood, no vocals, no drums',\n    claims: ['몸 상태는 생활 습관을 돌아보는 힌트가 될 수 있다.'],\n  }),\n  makePack({\n    lane: 'supplement_basics',\n    angle: '영양제 구매 전에 음식과 생활 기반을 먼저 점검',\n    theme: '영양제 전 점검',\n    title: '영양제 괜히 사기 전 먼저 먹을 음식 7',\n    subtitle: '돈 쓰기 전에 식탁부터 봅니다',\n    visual: '약국 상담대, 식탁 재료, 물컵, 영수증, 민트와 차콜 포인트',\n    rows: ['달걀|단백질 기본 점검', '두부|속 편한 단백질', '등푸른 생선|기름 선택 확인', '견과류|소량으로 충분', '제철 채소|식탁 균형 잡기', '요거트|당 함량 먼저 확인', '물|기본 수분부터'],\n    script: '영양제를 더하기 전, 먼저 식탁에서 채울 수 있는 기본을 확인해 보세요.',\n    description: '영양제 전에 먼저 볼 음식과 습관을 정리했습니다.\\n#건강정보 #시니어건강 #영양제 #음식 #쇼츠',\n    tags: ['영양제', '음식', '건강식단'],\n    bgm: 'premium calm piano and warm strings with soft pad, trustworthy health show mood, no vocals',\n    claims: ['기본 식사와 수분은 컨디션 관리의 바탕이 될 수 있다.'],\n  }),\n  makePack({\n    lane: 'blood_sugar_meals',\n    angle: '같은 밥상에서 혈당 부담이 달라지는 선택을 비교',\n    theme: '혈당 식탁 선택',\n    title: '같은 밥상, 혈당 급행 vs 저속행 선택 7',\n    subtitle: '무엇을 먼저 먹느냐가 달라집니다',\n    visual: '밥상 비교 화면, 밥그릇, 채소, 단백질 접시, 코랄과 블루 포인트',\n    rows: ['밥 먼저 먹기|탄수화물 먼저 몰림', '채소 먼저 먹기|속도 조절 도움', '단 음료 곁들이기|숨은 당이 더해짐', '국물 끝까지 마시기|짠맛이 늘어남', '단백질 빼먹기|금방 허기짐', '과일 후식 추가|당 부담 겹침', '천천히 씹기|포만감 신호 확인'],\n    script: '같은 밥상도 순서와 조합에 따라 식후 느낌이 달라질 수 있습니다.',\n    description: '식사 순서와 혈당 부담을 랭킹으로 정리했습니다.\\n#건강정보 #시니어건강 #혈당관리 #식사습관 #쇼츠',\n    tags: ['혈당관리', '식사습관', '생활습관'],\n    bgm: 'soft marimba and piano with warm strings, calm lifestyle health mood, no vocals, no heavy drums',\n    claims: ['식사 순서와 조합은 식후 컨디션에 영향을 줄 수 있다.'],\n  }),\n  makePack({\n    lane: 'kitchen_storage',\n    angle: '가정 주방에서 반복되는 보관과 조리 실수를 점검',\n    theme: '주방 보관 실수',\n    title: '내 가족 건강을 위협하는 주방 보관 실수 7',\n    subtitle: '익숙해서 더 놓치기 쉽습니다',\n    visual: '밝은 주방, 냉장고 칸, 도마, 밀폐용기, 세이지와 옐로 포인트',\n    rows: ['뜨거운 국 바로 넣기|주변 온도 올라감', '젖은 채소 밀폐|쉽게 무를 수 있음', '문쪽에 우유 두기|온도 변화가 잦음', '도마 물기 방치|냄새가 남기 쉬움', '남은 밥 오래 두기|맛과 상태 저하', '라벨 날짜 안 쓰기|보관일을 놓침', '반찬 뚜껑 느슨함|냄새가 섞임'],\n    script: '가족이 매일 쓰는 주방일수록 보관 습관을 한 번 더 확인해 보세요.',\n    description: '주방 보관과 조리 전 확인할 습관을 정리했습니다.\\n#건강정보 #시니어건강 #주방습관 #냉장고정리 #쇼츠',\n    tags: ['주방습관', '냉장고정리', '생활습관'],\n    bgm: 'gentle acoustic bossa with nylon guitar, soft piano, light brushed percussion, warm kitchen morning mood, no vocals',\n    claims: ['보관 습관은 음식의 맛과 상태에 영향을 줄 수 있다.'],\n  }),\n  makePack({\n    lane: 'joint_mobility',\n    angle: '오래 걷기 위한 일상 습관을 관절 부담 관점에서 점검',\n    theme: '걷기 습관',\n    title: '죽을 때까지 내 발로 걷고 싶다면 피할 습관 7',\n    subtitle: '운동보다 먼저 보는 작은 준비',\n    visual: '공원 산책길, 운동화, 계단, 체크리스트, 하늘색과 라임 포인트',\n    rows: ['낡은 신발 그대로|발목이 흔들림', '처음부터 빠르게|몸이 덜 풀림', '보폭 크게 걷기|허리가 흔들림', '물 없이 오래 걷기|쉽게 지침', '계단만 고집하기|무릎 부담 증가', '아픈 날 참고 걷기|불편감이 커짐', '걷고 바로 앉기|다리가 뻣뻣함'],\n    script: '걷기 전 작은 준비가 무릎과 허리 부담을 줄이는 데 도움 될 수 있습니다.',\n    description: '걷기 전후에 피하면 좋은 습관을 정리했습니다.\\n#건강정보 #시니어건강 #걷기운동 #무릎건강 #쇼츠',\n    tags: ['걷기운동', '무릎건강', '생활습관'],\n    bgm: 'warm light jazz trio with soft piano, upright bass, very gentle brushes, relaxed walking pace, no vocals',\n    claims: ['걷기 전후 습관은 관절 부담과 피로감에 영향을 줄 수 있다.'],\n  }),\n].map((entry) => ({ ...entry, rank_items: entry.rank_items.slice(0, 7) }));\n\n\nfunction normalizeDuplicateTitle(value) {\n  return String(value || '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .toLowerCase()\n    .replace(/top\\s*\\d+/gi, ' ')\n    .replace(/[0-9０-９]+\\s*(?:가지|개|위|선|순위|top)?/gi, ' ')\n    .replace(/[ㄱ-ㅎㅏ-ㅣ]/g, ' ')\n    .replace(/[^a-z0-9가-힣]+/gi, ' ')\n    .replace(/\\s+/g, '');\n}\n\nfunction duplicateNgrams(value, size = 3) {\n  const text = normalizeDuplicateTitle(value);\n  if (text.length <= size) return text ? [text] : [];\n  const grams = [];\n  for (let index = 0; index <= text.length - size; index += 1) {\n    grams.push(text.slice(index, index + size));\n  }\n  return grams;\n}\n\nfunction duplicateSimilarity(left, right) {\n  const leftSet = new Set(duplicateNgrams(left));\n  const rightSet = new Set(duplicateNgrams(right));\n  if (!leftSet.size || !rightSet.size) return 0;\n  let shared = 0;\n  for (const gram of leftSet) {\n    if (rightSet.has(gram)) shared += 1;\n  }\n  return shared / Math.min(leftSet.size, rightSet.size);\n}\n\nfunction parseDuplicateTitleTokens(value) {\n  return String(value || '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .toLowerCase()\n    .replace(/top\\s*\\d+/gi, ' ')\n    .replace(/[0-9０-９]+\\s*(?:가지|개|위|선|순위|top)?/gi, ' ')\n    .replace(/[^a-z0-9가-힣]+/gi, ' ')\n    .split(/\\s+/)\n    .map((token) => token.replace(/(에서|으로|부터|까지|처럼|만큼|보다|에게|한테|께|은|는|이|가|을|를|만|도|과|와|의|에|로|과)$/g, ''))\n    .filter((token) => token.length >= 2);\n}\n\nfunction parseDuplicateTitleTokenOverlap(left, right) {\n  const leftTokens = new Set(parseDuplicateTitleTokens(left));\n  const rightTokens = new Set(parseDuplicateTitleTokens(right));\n  if (!leftTokens.size || !rightTokens.size) return 0;\n  let shared = 0;\n  for (const token of leftTokens) {\n    if (rightTokens.has(token)) shared += 1;\n  }\n  return shared / Math.min(leftTokens.size, rightTokens.size);\n}\n\nfunction parseRecentTitleMatch(title) {\n  const key = normalizeDuplicateTitle(title);\n  if (!key) return null;\n  const recentTitles = Array.isArray(cfg.recent_titles) ? cfg.recent_titles : [];\n  for (const recent of recentTitles) {\n    const recentKey = normalizeDuplicateTitle(recent);\n    if (!recentKey) continue;\n    if (key === recentKey || key.includes(recentKey) || recentKey.includes(key)) return recent;\n    if (parseDuplicateTitleTokenOverlap(title, recent) >= 0.48) return recent;\n    if (duplicateSimilarity(key, recentKey) >= 0.58) return recent;\n  }\n  return null;\n}\n\nfunction pickFallbackPack(context, seed, salt) {\n  const lane = String(context?.selected_content_lane?.id || context?.pack?.content_lane || '').trim();\n  const lanePacks = lane ? viralFallbackPacks.filter((entry) => entry.content_lane === lane) : [];\n  const freshLanePacks = lanePacks.filter((entry) => !parseRecentTitleMatch(entry.hook_title));\n  const freshAllPacks = viralFallbackPacks.filter((entry) => !parseRecentTitleMatch(entry.hook_title));\n  const pool = freshLanePacks.length ? freshLanePacks : (freshAllPacks.length ? freshAllPacks : (lanePacks.length ? lanePacks : viralFallbackPacks));\n  return pick(pool, seed, salt + '|' + lane + '|' + (cfg.recent_titles || []).join('|'));\n}\nconst fallbackPack = pickFallbackPack(base, cfg.variation_seed || new Date().toISOString(), 'parse_fallback');\n\nfunction responseText(value) {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'string') return value;\n  try { return JSON.stringify(value); } catch (error) { return String(value); }\n}\n\nfunction isAuthError(value) {\n  const text = responseText(value).toLowerCase();\n  return text.includes('unauthorized') || text.includes('authentication failed') || text.includes('invalid api key') || text.includes('401') || text.includes('403');\n}\n\nfunction isRecoverableClaudeError(value) {\n  const text = responseText(value).toLowerCase();\n  return Boolean(\n    value?.error ||\n    value?.message ||\n    value?.description ||\n    text.includes('internal error') ||\n    text.includes('service was not able') ||\n    text.includes('try again later') ||\n    text.includes('timeout') ||\n    text.includes('429') ||\n    text.includes('500') ||\n    text.includes('502') ||\n    text.includes('503') ||\n    text.includes('504')\n  );\n}\n\nfunction fallback(reason, errorPayload) {\n  return [{\n    json: {\n      ...base,\n      pack: fallbackPack,\n      ai_source: 'mock_after_kie_claude_error',\n      kie_claude_raw: errorPayload || response,\n      kie_claude_parse_error: reason,\n    },\n  }];\n}\n\nfunction tryParseJson(value) {\n  if (typeof value !== 'string') return value;\n  const trimmed = value.trim();\n  if (!trimmed) return value;\n  if (!trimmed.startsWith('{') && !trimmed.startsWith('[')) return value;\n  try { return JSON.parse(trimmed); } catch (error) { return value; }\n}\n\nfunction looksLikeWrapper(value) {\n  return Boolean(\n    value &&\n    typeof value === 'object' &&\n    (\n      value.content !== undefined ||\n      value.message !== undefined ||\n      value.data !== undefined ||\n      value.response !== undefined ||\n      value.output_text !== undefined ||\n      value.text !== undefined\n    )\n  );\n}\n\nfunction collectText(value, depth = 0) {\n  if (!value || depth > 6) return '';\n\n  if (typeof value === 'string') {\n    const parsed = tryParseJson(value);\n    if (parsed !== value && looksLikeWrapper(parsed)) return collectText(parsed, depth + 1);\n    return value;\n  }\n\n  if (Array.isArray(value)) {\n    return value.map((entry) => collectText(entry, depth + 1)).filter(Boolean).join('\\n');\n  }\n\n  if (Array.isArray(value.content)) {\n    const text = value.content.map((part) => collectText(part, depth + 1)).filter(Boolean).join('\\n');\n    if (text) return text;\n  }\n\n  if (value.message && Array.isArray(value.message.content)) {\n    const text = value.message.content.map((part) => collectText(part, depth + 1)).filter(Boolean).join('\\n');\n    if (text) return text;\n  }\n\n  for (const key of ['output_text', 'text', 'data', 'result', 'response']) {\n    const text = collectText(value[key], depth + 1);\n    if (text) return text;\n  }\n\n  return '';\n}\n\nfunction parseJsonText(text) {\n  const fence = String.fromCharCode(96, 96, 96);\n  const trimmed = String(text || '')\n    .trim()\n    .replace(new RegExp('^' + fence + 'json\\\\s*', 'i'), '')\n    .replace(new RegExp('^' + fence + '\\\\s*', 'i'), '')\n    .replace(new RegExp(fence + '$', 'i'), '')\n    .trim();\n\n  try {\n    return JSON.parse(trimmed);\n  } catch (error) {\n    const start = trimmed.indexOf('{');\n    const end = trimmed.lastIndexOf('}');\n    if (start >= 0 && end > start) return JSON.parse(trimmed.slice(start, end + 1));\n    throw error;\n  }\n}\n\nfunction normalizePack(pack) {\n  if (!pack || !Array.isArray(pack.rank_items)) return pack;\n  const fixed = Number.isFinite(Number(cfg.rank_count)) && Number(cfg.rank_count) > 0 ? Number(cfg.rank_count) : null;\n  const max = fixed || Number(cfg.rank_count_max || 7);\n  pack.rank_items = pack.rank_items\n    .slice(0, max)\n    .map((item, index) => ({ ...item, rank: index + 1 }));\n  return pack;\n}\n\nfunction validatePack(pack) {\n  const issues = [];\n  if (!pack || typeof pack !== 'object') issues.push('pack is not an object');\n  if (!pack.hook_title) issues.push('missing hook_title');\n  if (!Array.isArray(pack.rank_items) || pack.rank_items.length < 1) issues.push('missing rank_items');\n  if (!pack.video_script) issues.push('missing video_script');\n  if (!pack.description) issues.push('missing description');\n  if (issues.length) throw new Error('invalid pack: ' + issues.join(', '));\n}\n\nif (isAuthError(response)) {\n  throw new Error('KIE Claude auth failed: ' + JSON.stringify(response));\n}\n\nif (isRecoverableClaudeError(response)) {\n  return fallback('KIE Claude recoverable error; rotating fallback pack used', response);\n}\n\nconst rawText = collectText(response);\nif (!rawText) {\n  return fallback('KIE Claude returned no parseable text; rotating fallback pack used', response);\n}\n\nlet pack;\ntry {\n  pack = parseJsonText(rawText);\n  normalizePack(pack);\n  validatePack(pack);\n} catch (error) {\n  return fallback('KIE Claude pack parse failed; rotating fallback pack used: ' + error.message, response);\n}\n\nconst duplicateOf = parseRecentTitleMatch(pack.hook_title);\nif (duplicateOf) {\n  return fallback('KIE Claude generated a recent duplicate title; rotating fallback pack used: ' + pack.hook_title + ' ~= ' + duplicateOf, response);\n}\n\nreturn [{\n  json: {\n    ...base,\n    pack,\n    ai_source: 'kie_claude',\n    kie_claude_raw: response,\n    kie_claude_parse_error: null,\n  },\n}];"
      },
      "id": "0153bac3-d465-4fc8-93b9-d8f75441c414",
      "name": "Parse KIE Claude Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        1808
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nif (!dryRun) {\n  throw new Error('Live run reached Mock Viral Rank Pack. Check Load Config: use_live_kie_ai must be true, and KIE auth/credits must work.');\n}\nconst cfg = data.config || {};\nfunction hashText(value) {\n  let hash = 2166136261;\n  const text = String(value || '');\n  for (let index = 0; index < text.length; index += 1) {\n    hash ^= text.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return hash >>> 0;\n}\n\nfunction pick(items, seed, salt) {\n  return items[hashText([seed, salt].join('|')) % items.length];\n}\n\nfunction rows(values) {\n  return values.map((value, index) => {\n    const [name, reason, caution = ''] = value.split('|');\n    return { rank: index + 1, name, reason, caution };\n  });\n}\n\nfunction makePack(entry) {\n  return {\n    content_lane: entry.lane,\n    format_angle: entry.angle,\n    theme: entry.theme,\n    hook_title: entry.title,\n    subtitle: entry.subtitle,\n    visual_mood_hint: entry.visual,\n    rank_items: rows(entry.rows),\n    video_script: entry.script,\n    description: entry.description,\n    tags: ['건강정보', '시니어건강', ...entry.tags, 'shorts'],\n    pinned_comment: '오늘 항목 중 가장 와닿는 것은 몇 번인가요? 댓글로 번호를 남겨주세요.',\n    bgm_prompt: entry.bgm,\n    medical_claims: entry.claims,\n    safety_notes: ['과장 표현 없음', '치료/완치 보장 표현 없음', '복용량 표현 없음'],\n  };\n}\n\nconst fallbackPacks = [];\n\nconst viralFallbackPacks = [\n  makePack({\n    lane: 'body_signals',\n    angle: '아침 몸 상태와 생활 습관을 연결해 점검',\n    theme: '몸의 조용한 신호',\n    title: '내 몸이 보내는 조용한 경고 신호 7',\n    subtitle: '큰 병 이야기보다 생활 점검입니다',\n    visual: '아침 세면대, 손발, 물컵, 체크 아이콘, 밝은 화이트와 스카이블루',\n    rows: ['입이 자주 마름|수분 습관 점검', '발이 무겁게 느낌|짠맛을 돌아봄', '눈이 뻑뻑함|화면 시간을 확인', '어깨가 굳어 있음|잠자리 자세 점검', '속이 더부룩함|늦은 식사 확인', '머리가 무거움|수면 리듬 점검', '피로가 오래 감|휴식 질을 확인'],\n    script: '몸이 보내는 작은 신호는 전날 생활을 돌아보는 힌트가 될 수 있습니다.',\n    description: '몸의 작은 신호와 생활 습관을 정리했습니다.\\n#건강정보 #시니어건강 #생활습관 #하루건강약사 #쇼츠',\n    tags: ['몸상태', '생활습관', '아침루틴'],\n    bgm: 'clean soft piano with gentle woodwind accents, morning wellness show mood, no vocals, no drums',\n    claims: ['몸 상태는 생활 습관을 돌아보는 힌트가 될 수 있다.'],\n  }),\n  makePack({\n    lane: 'supplement_basics',\n    angle: '영양제 구매 전에 음식과 생활 기반을 먼저 점검',\n    theme: '영양제 전 점검',\n    title: '영양제 괜히 사기 전 먼저 먹을 음식 7',\n    subtitle: '돈 쓰기 전에 식탁부터 봅니다',\n    visual: '약국 상담대, 식탁 재료, 물컵, 영수증, 민트와 차콜 포인트',\n    rows: ['달걀|단백질 기본 점검', '두부|속 편한 단백질', '등푸른 생선|기름 선택 확인', '견과류|소량으로 충분', '제철 채소|식탁 균형 잡기', '요거트|당 함량 먼저 확인', '물|기본 수분부터'],\n    script: '영양제를 더하기 전, 먼저 식탁에서 채울 수 있는 기본을 확인해 보세요.',\n    description: '영양제 전에 먼저 볼 음식과 습관을 정리했습니다.\\n#건강정보 #시니어건강 #영양제 #음식 #쇼츠',\n    tags: ['영양제', '음식', '건강식단'],\n    bgm: 'premium calm piano and warm strings with soft pad, trustworthy health show mood, no vocals',\n    claims: ['기본 식사와 수분은 컨디션 관리의 바탕이 될 수 있다.'],\n  }),\n  makePack({\n    lane: 'blood_sugar_meals',\n    angle: '같은 밥상에서 혈당 부담이 달라지는 선택을 비교',\n    theme: '혈당 식탁 선택',\n    title: '같은 밥상, 혈당 급행 vs 저속행 선택 7',\n    subtitle: '무엇을 먼저 먹느냐가 달라집니다',\n    visual: '밥상 비교 화면, 밥그릇, 채소, 단백질 접시, 코랄과 블루 포인트',\n    rows: ['밥 먼저 먹기|탄수화물 먼저 몰림', '채소 먼저 먹기|속도 조절 도움', '단 음료 곁들이기|숨은 당이 더해짐', '국물 끝까지 마시기|짠맛이 늘어남', '단백질 빼먹기|금방 허기짐', '과일 후식 추가|당 부담 겹침', '천천히 씹기|포만감 신호 확인'],\n    script: '같은 밥상도 순서와 조합에 따라 식후 느낌이 달라질 수 있습니다.',\n    description: '식사 순서와 혈당 부담을 랭킹으로 정리했습니다.\\n#건강정보 #시니어건강 #혈당관리 #식사습관 #쇼츠',\n    tags: ['혈당관리', '식사습관', '생활습관'],\n    bgm: 'soft marimba and piano with warm strings, calm lifestyle health mood, no vocals, no heavy drums',\n    claims: ['식사 순서와 조합은 식후 컨디션에 영향을 줄 수 있다.'],\n  }),\n  makePack({\n    lane: 'kitchen_storage',\n    angle: '가정 주방에서 반복되는 보관과 조리 실수를 점검',\n    theme: '주방 보관 실수',\n    title: '내 가족 건강을 위협하는 주방 보관 실수 7',\n    subtitle: '익숙해서 더 놓치기 쉽습니다',\n    visual: '밝은 주방, 냉장고 칸, 도마, 밀폐용기, 세이지와 옐로 포인트',\n    rows: ['뜨거운 국 바로 넣기|주변 온도 올라감', '젖은 채소 밀폐|쉽게 무를 수 있음', '문쪽에 우유 두기|온도 변화가 잦음', '도마 물기 방치|냄새가 남기 쉬움', '남은 밥 오래 두기|맛과 상태 저하', '라벨 날짜 안 쓰기|보관일을 놓침', '반찬 뚜껑 느슨함|냄새가 섞임'],\n    script: '가족이 매일 쓰는 주방일수록 보관 습관을 한 번 더 확인해 보세요.',\n    description: '주방 보관과 조리 전 확인할 습관을 정리했습니다.\\n#건강정보 #시니어건강 #주방습관 #냉장고정리 #쇼츠',\n    tags: ['주방습관', '냉장고정리', '생활습관'],\n    bgm: 'gentle acoustic bossa with nylon guitar, soft piano, light brushed percussion, warm kitchen morning mood, no vocals',\n    claims: ['보관 습관은 음식의 맛과 상태에 영향을 줄 수 있다.'],\n  }),\n  makePack({\n    lane: 'joint_mobility',\n    angle: '오래 걷기 위한 일상 습관을 관절 부담 관점에서 점검',\n    theme: '걷기 습관',\n    title: '죽을 때까지 내 발로 걷고 싶다면 피할 습관 7',\n    subtitle: '운동보다 먼저 보는 작은 준비',\n    visual: '공원 산책길, 운동화, 계단, 체크리스트, 하늘색과 라임 포인트',\n    rows: ['낡은 신발 그대로|발목이 흔들림', '처음부터 빠르게|몸이 덜 풀림', '보폭 크게 걷기|허리가 흔들림', '물 없이 오래 걷기|쉽게 지침', '계단만 고집하기|무릎 부담 증가', '아픈 날 참고 걷기|불편감이 커짐', '걷고 바로 앉기|다리가 뻣뻣함'],\n    script: '걷기 전 작은 준비가 무릎과 허리 부담을 줄이는 데 도움 될 수 있습니다.',\n    description: '걷기 전후에 피하면 좋은 습관을 정리했습니다.\\n#건강정보 #시니어건강 #걷기운동 #무릎건강 #쇼츠',\n    tags: ['걷기운동', '무릎건강', '생활습관'],\n    bgm: 'warm light jazz trio with soft piano, upright bass, very gentle brushes, relaxed walking pace, no vocals',\n    claims: ['걷기 전후 습관은 관절 부담과 피로감에 영향을 줄 수 있다.'],\n  }),\n].map((entry) => ({ ...entry, rank_items: entry.rank_items.slice(0, 7) }));\n\n\nfunction pickFallbackPack(context, seed, salt) {\n  const lane = String(context?.selected_content_lane?.id || context?.pack?.content_lane || '').trim();\n  const lanePacks = lane ? viralFallbackPacks.filter((entry) => entry.content_lane === lane) : [];\n  const pool = lanePacks.length ? lanePacks : viralFallbackPacks;\n  return pick(pool, seed, salt + '|' + lane);\n}\nconst pack = pickFallbackPack(data, cfg.variation_seed || new Date().toISOString(), 'dry_run_mock');\nreturn [{ json: { ...data, pack, ai_source: 'mock_rotating' } }];"
      },
      "id": "a39c0785-e8cc-4b3f-ae54-a576a39830cd",
      "name": "Mock Viral Rank Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        2304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pack = data.pack || {};\nconst allText = [\n  pack.theme,\n  pack.hook_title,\n  pack.subtitle,\n  pack.video_script,\n  pack.description,\n  pack.pinned_comment,\n  ...(pack.rank_items || []).flatMap((item) => [item.name, item.reason, item.caution]),\n  ...(pack.medical_claims || []),\n].filter(Boolean).join('\\n');\n\nconst lowered = allText.toLowerCase();\nconst issues = [];\nconst issue_matches = [];\n\nfunction addIssue(issue, match, contextText = lowered) {\n  if (!issues.includes(issue)) issues.push(issue);\n  const index = match?.index ?? -1;\n  issue_matches.push({\n    issue,\n    match: match?.[0] || '',\n    context: index >= 0 ? contextText.slice(Math.max(0, index - 40), index + 80) : '',\n  });\n}\n\nconst patterns = [\n  { pattern: /(\\uC644\\uCE58|\\uCE58\\uB8CC\\uB41C\\uB2E4|\\uCE58\\uB8CC\\uD574|\\uB0AB\\uB294\\uB2E4|\\uC608\\uBC29\\uB41C\\uB2E4|\\uB9C9\\uC544\\uC900\\uB2E4|\\uBCF4\\uC7A5|100%|\\uAE30\\uC801|\\uC989\\uC2DC\\s*\\uD6A8\\uACFC)/, issue: '\\uCE58\\uB8CC/\\uC644\\uCE58/\\uBCF4\\uC7A5 \\uD45C\\uD604' },\n  { pattern: /(\\uC57D\\uC744\\s*\\uB04A|\\uCC98\\uBC29\\uC744\\s*\\uC911\\uB2E8|\\uBCF5\\uC6A9\\uC744\\s*\\uC911\\uB2E8|\\uC758\\uC0AC\\s*\\uB300\\uC2E0|\\uBCD1\\uC6D0\\s*\\uAC00\\uC9C0)/, issue: '\\uCC98\\uBC29 \\uBCC0\\uACBD/\\uC9C4\\uB8CC \\uD68C\\uD53C' },\n  { pattern: /(\\uB3C5\\uC18C\\s*\\uC81C\\uAC70|\\uD574\\uB3C5|\\uB514\\uD1A1\\uC2A4|\\uD53C\\uAC00\\s*\\uB9D1\\uC544|\\uC5FC\\uC99D\\uC774\\s*\\uB300\\uBCC0|\\uC5FC\\uC99D\\uC744\\s*\\uC2F9|\\uB300\\uBCC0\\uC73C\\uB85C\\s*\\uBE60)/, issue: '\\uADFC\\uAC70 \\uC57D\\uD55C \\uC790\\uADF9 \\uD45C\\uD604' },\n];\n\nfor (const item of patterns) {\n  const match = lowered.match(item.pattern);\n  if (match) addIssue(item.issue, match);\n}\n\nconst dosagePatterns = [\n  /\\d+(?:\\.\\d+)?\\s?(?:mg|g|iu)(?=$|[\\s.,!?)]|\\/)/i,\n  /\\d+(?:\\.\\d+)?\\s?(?:\\uC54C|\\uC815|\\uCEA1\\uC290)(?=$|[\\s.,!?)]|\\uC529|\\uB9CC|\\uC744|\\uB97C|\\uC740|\\uB294|\\uAE4C\\uC9C0|\\uC815\\uB3C4|\\uC774\\uC0C1|\\uC774\\uD558)/,\n];\nfor (const pattern of dosagePatterns) {\n  const match = lowered.match(pattern);\n  if (match) {\n    addIssue('\\uBCF5\\uC6A9\\uB7C9/\\uC6A9\\uB7C9 \\uD45C\\uD604', match);\n    break;\n  }\n}\n\n\nif (!Array.isArray(pack.rank_items) || pack.rank_items.length < 3) addIssue('\\uB7AD\\uD0B9 \\uD56D\\uBAA9 \\uBD80\\uC871', null);\nif (!pack.video_script) addIssue('\\uC601\\uC0C1 \\uBB38\\uAD6C \\uC5C6\\uC74C', null);\nif (!pack.hook_title) addIssue('\\uD070 \\uC81C\\uBAA9 \\uC5C6\\uC74C', null);\n\nconst highRiskIssues = ['\\uCE58\\uB8CC/\\uC644\\uCE58/\\uBCF4\\uC7A5 \\uD45C\\uD604', '\\uCC98\\uBC29 \\uBCC0\\uACBD/\\uC9C4\\uB8CC \\uD68C\\uD53C', '\\uBCF5\\uC6A9\\uB7C9/\\uC6A9\\uB7C9 \\uD45C\\uD604', '\\uADFC\\uAC70 \\uC57D\\uD55C \\uC790\\uADF9 \\uD45C\\uD604'];\nconst highRisk = issues.some((issue) => highRiskIssues.includes(issue));\nconst pass = !highRisk && issues.length <= 1;\n\nreturn [{\n  json: {\n    ...data,\n    blocked: !pass,\n    medical_review: {\n      pass,\n      risk_level: highRisk ? 'high' : issues.length ? 'medium' : 'low',\n      issues,\n      issue_matches,\n      checked_at: new Date().toISOString(),\n    },\n  },\n}];"
      },
      "id": "6afe9e2b-c800-46e3-bc2b-8ba8d3cfa097",
      "name": "Medical Safety Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        2064
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.medical_review.pass}}",
              "value2": true
            }
          ]
        }
      },
      "id": "3c4acb05-3d3b-4ab8-b794-5157d42a0b11",
      "name": "Medical Review Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4208,
        2064
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { ...data, result_stage: 'blocked_by_medical_review', youtube: { skipped: true, reason: 'medical_review_failed' }, comment: { skipped: true, reason: 'medical_review_failed' } } }];"
      },
      "id": "da205f46-d366-4aa2-90fa-60dcec1e6284",
      "name": "Prepare Blocked Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        2512
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet pack = { ...(data.pack || {}) };\nconst cfg = data.config || {};\nconst LF = String.fromCharCode(10);\nconst rankSuffix = String.fromCharCode(50948);\nconst ctaComment = '오늘 항목 중 가장 와닿는 것은 몇 번인가요? 댓글로 번호를 남겨주세요.';\n\n\nfunction cleanQueuedValue(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction lightlyRewriteQueuedTitle(value, rankCount) {\n  const title = cleanQueuedValue(value);\n  if (!title) return title;\n  const replacements = [\n    [/죽을 때까지 당부한/g, '죽을 때까지 당부했다는'],\n    [/끝까지 당부한/g, '끝까지 당부했다는'],\n    [/당부한/g, '당부했다는'],\n    [/사람들이 하는/g, '사람들이 꼭 하는'],\n    [/사람들이 챙긴/g, '사람들이 꼭 챙긴'],\n    [/노화방지 식습관/g, '노화방지 식습관 체크'],\n    [/건강비법$/g, '건강비법 정리'],\n    [/운동법$/g, '운동법 루틴'],\n    [/식습관$/g, '식습관 체크'],\n    [/비법$/g, '비법 정리'],\n    [/습관$/g, '습관 체크'],\n  ];\n  for (const [pattern, replacement] of replacements) {\n    const changed = title.replace(pattern, replacement);\n    if (changed !== title) return changed;\n  }\n  const count = Number(rankCount || 0);\n  if (/[0-9０-９]/.test(title)) return title;\n  if (count > 0 && title.length <= 24) {\n    return title + ' ' + count + '가지';\n  }\n  return title + ' 체크';\n}\n\nfunction normalizeQueuedRankItems(items) {\n  if (!Array.isArray(items)) return [];\n  return items\n    .map((item, index) => ({\n      rank: Number(item.rank || index + 1),\n      name: cleanQueuedValue(item.name || item.item || item.title),\n      reason: cleanQueuedValue(item.reason || item.why || item.description),\n      caution: cleanQueuedValue(item.caution || item.note),\n    }))\n    .filter((item) => item.name)\n    .map((item, index) => ({ ...item, rank: index + 1 }));\n}\n\nfunction mergeQueuedTags(existing, queued) {\n  const values = [\n    ...(Array.isArray(existing) ? existing : []),\n    ...(Array.isArray(queued) ? queued : cleanQueuedValue(queued).split(/[,|]/)),\n  ].map(cleanQueuedValue).filter(Boolean);\n  return Array.from(new Set(values));\n}\n\nconst queuedSpecForPack =\n  data.topic_queue?.selected ||\n  data.config?.topic_queue?.selected ||\n  cfg.topic_queue?.selected ||\n  null;\n\nif (queuedSpecForPack) {\n  const queuedTitle = cleanQueuedValue(queuedSpecForPack.title || queuedSpecForPack.topic || queuedSpecForPack.hook_title);\n  const queuedSubtitle = cleanQueuedValue(queuedSpecForPack.subtitle);\n  const queuedLane = cleanQueuedValue(queuedSpecForPack.lane || queuedSpecForPack.content_lane);\n  const queuedAngle = cleanQueuedValue(queuedSpecForPack.format_angle || queuedSpecForPack.angle);\n  const queuedNotes = cleanQueuedValue(queuedSpecForPack.notes || queuedSpecForPack.rough_brief);\n  const queuedRanks = normalizeQueuedRankItems(queuedSpecForPack.rank_items || queuedSpecForPack.ranks);\n  const adaptedQueuedTitle = lightlyRewriteQueuedTitle(queuedTitle, queuedRanks.length || queuedSpecForPack.rank_count);\n\n  pack = {\n    ...pack,\n    source_hook_title: queuedTitle || pack.source_hook_title,\n    hook_title: adaptedQueuedTitle || queuedTitle || pack.hook_title,\n    theme: adaptedQueuedTitle || queuedTitle || pack.theme,\n    subtitle: queuedSubtitle || pack.subtitle,\n    content_lane: queuedLane || pack.content_lane,\n    format_angle: queuedAngle || pack.format_angle,\n    visual_mood_hint: queuedNotes || pack.visual_mood_hint,\n    tags: mergeQueuedTags(pack.tags, queuedSpecForPack.tags),\n    rank_items: queuedRanks.length ? queuedRanks : pack.rank_items,\n    queued_topic_enforced: true,\n  };\n}\n\nconst sortedItems = [...(pack.rank_items || [])].sort((a, b) => Number(a.rank) - Number(b.rank));\n\nconst rankLines = sortedItems\n  .map((item) => item.rank + rankSuffix + ' ' + item.name + ' - ' + item.reason)\n  .join(LF);\n\nconst shortRankLines = sortedItems\n  .map((item) => item.rank + rankSuffix + ' ' + item.name)\n  .join(LF);\n\nconst cardRows = sortedItems\n  .map((item) => {\n    const reason = String(item.reason || item.caution || '').replace(/\\s+/g, ' ').trim();\n    return item.rank + rankSuffix + ' ' + item.name + (reason ? ' - ' + reason : '');\n  })\n  .join(LF);\n\nconst title = pack.hook_title || pack.theme || ('Health ranking TOP ' + (sortedItems.length || cfg.rank_count || 5));\nconst subtitle = pack.subtitle || '매일 하는데 놓치기 쉬운 것들';\n\nfunction buildUniversalCommentCta() {\n  return '오늘 항목 중 가장 와닿는 것은 몇 번인가요? 댓글로 번호를 남겨주세요.';\n}\n\nfunction buildPinnedComment() {\n  const checks = sortedItems.map((item) => {\n    const reason = String(item.reason || item.caution || '').replace(/\\s+/g, ' ').trim();\n    return item.rank + rankSuffix + ' ' + item.name + (reason ? ' - ' + reason : '');\n  });\n  return [\n    '오늘 영상 핵심 체크',\n    title,\n    '',\n    ...checks,\n    '',\n    buildUniversalCommentCta(),\n  ].filter((line) => line !== null && line !== undefined).join(LF);\n}\n\nfunction cleanDescriptionLine(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction buildYoutubeDescription() {\n  const rankBody = sortedItems\n    .map((item) => {\n      const name = cleanDescriptionLine(item.name);\n      const reason = cleanDescriptionLine(item.reason);\n      return item.rank + rankSuffix + ' ' + name + (reason ? ' - ' + reason : '');\n    })\n    .join(LF + LF);\n\n  const descriptionLead = cleanDescriptionLine(pack.subtitle);\n  const rankSection = [descriptionLead, rankBody]\n    .filter((part) => String(part || '').trim())\n    .join(LF + LF);\n\n  const pharmacistIntro = [\n    '안녕하세요. 하루건강약사입니다.',\n    '',\n    '저는 오랫동안 건강과 영양을 연구하고, 현장에서 많은 분들을 만나왔습니다.',\n    '건강 정보는 참 많은데 정작 내 몸에 무엇이 필요한지 쉽게 이해하기는 어렵다는 것을 자주 느낍니다.',\n    '',\n    '그래서 이 채널에서는 영양제와 음식, 피부 건강, 활력 관리, 생활습관 이야기를 어렵지 않게 풀어 전해드리려 합니다.',\n    '특별한 비법보다 몸을 오래 지키는 기본 지식과 성분을 볼 때 놓치기 쉬운 부분을 차근차근 알려드리겠습니다.',\n    '',\n    '하루에 하나씩, 여러분의 건강한 선택에 도움이 되는 이야기를 전해드리겠습니다.',\n  ].join(LF);\n\n  const tagList = Array.from(new Set([...(pack.tags || []), '하루건강약사', '건강정보', '시니어건강', '쇼츠']))\n    .map((tag) => '#' + String(tag).replace(/^#/, '').replace(/\\s+/g, ''))\n    .slice(0, 10)\n    .join(' ');\n\n  return [title, rankSection, pharmacistIntro, tagList]\n    .filter((part) => String(part || '').trim())\n    .join(LF + LF);\n}\n\nconst youtubeDescription = buildYoutubeDescription();\n\nfunction cleanImageVisibleLine(value) {\n  return String(value || '')\n    .replace(/영양제/g, '비싼 것')\n    .replace(/비타민|마그네슘|오메가3?|프로바이오틱스|유산균|루테인|콜라겐/g, '건강 루틴')\n    .replace(/복용/g, '챙기기')\n    .replace(/약사/g, '생활노트')\n    .replace(/약\\b/g, '루틴')\n    .replace(/처방|치료|질환|질병|당뇨|고혈압|암|염증/g, '생활 관리')\n    .replace(/경고|위험|최악/g, '체크')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst imageTitle = cleanImageVisibleLine(title);\nconst imageSubtitle = cleanImageVisibleLine(subtitle);\nconst imageRows = String(cardRows || shortRankLines || '')\n  .split(LF)\n  .map(cleanImageVisibleLine)\n  .filter(Boolean)\n  .join(LF);\n\nconst visibleText = [\n  'TITLE: ' + imageTitle,\n  'SUBTITLE: ' + imageSubtitle,\n  'NUMBERED TEXT ITEMS, keep ' + ('1' + rankSuffix) + ' first:',\n  imageRows,\n  'FOOTER: ' + ctaComment,\n].filter(Boolean).join(LF);\n\nfunction limitPrompt(value, maxLength = 480) {\n  const text = String(value || '').replace(/\\s+/g, ' ').trim();\n  if (text.length <= maxLength) return text;\n  return text.slice(0, maxLength).replace(/\\s+\\S*$/, '').trim();\n}\n\nfunction hashText(value) {\n  let hash = 2166136261;\n  const text = String(value || '');\n  for (let index = 0; index < text.length; index += 1) {\n    hash ^= text.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return hash >>> 0;\n}\n\nfunction pick(items, salt) {\n  return items[hashText([cfg.variation_seed, title, salt].join('|')) % items.length];\n}\n\nfunction findById(items, value) {\n  const key = String(value || '').trim().toLowerCase();\n  if (!key) return null;\n  return items.find((item) => item.id.toLowerCase() === key || item.title.toLowerCase() === key) || null;\n}\n\nfunction sanitizeImageInstruction(value) {\n  return String(value || '')\n    .replace(/\\s+/g, ' ')\n    .replace(/warning dots/gi, 'simple check dots')\n    .replace(/myth-versus-fact/gi, 'fact-check')\n    .trim();\n}\n\nconst visualProfiles = [\n  {\n    id: 'broadcast_countdown',\n    title: '프리미엄 방송 카운트다운',\n    prompt: 'Korean TV lifestyle countdown style, diagonal rank ribbons, deep cobalt and white with restrained gold accents, glossy but clean, not the old navy/yellow template.',\n  },\n  {\n    id: 'clinic_checklist',\n    title: '클린 체크리스트',\n    prompt: 'Bright clean checklist style, mint, ivory, charcoal and coral palette, flat icon badges, airy spacing, rounded checklist ticks.',\n  },\n  {\n    id: 'kitchen_table',\n    title: '주방 매거진',\n    prompt: 'Warm kitchen editorial flatlay, ingredient tiles, cutting-board texture, sage green, tomato red, cream and ink palette, premium magazine layout.',\n  },\n  {\n    id: 'sleep_night',\n    title: '나이트 루틴',\n    prompt: 'Calm night routine card, indigo, lavender, warm lamp amber and soft white, timeline rows with moon/clock/light icons, cozy bedroom hints.',\n  },\n  {\n    id: 'morning_light',\n    title: '모닝 루틴',\n    prompt: 'Fresh morning sunlight, sky blue, clean white, citrus orange and leaf green, circular habit dials and checklist chips, bright optimistic mood.',\n  },\n  {\n    id: 'market_receipt',\n    title: '마트 라벨',\n    prompt: 'Premium grocery-label and receipt concept, product label snippets, magnifier callouts, sage, ink, ivory and soft yellow palette, organized like a smart shopping guide.',\n  },\n  {\n    id: 'wellness_dashboard',\n    title: '웰니스 대시보드',\n    prompt: 'Modern wellness dashboard, compact metric chips, small gauges, teal, white, navy and coral palette, crisp app-like hierarchy, high information density.',\n  },\n  {\n    id: 'magazine_cover',\n    title: '건강 매거진 커버',\n    prompt: 'Elegant Korean lifestyle magazine cover layout, burgundy, forest green, cream and black palette, large editorial title, numbered side rail, tasteful object photography icons.',\n  },\n  {\n    id: 'calendar_streak',\n    title: '생활 달력',\n    prompt: 'Weekly habit calendar concept, mini calendar cells and check marks, fresh green, warm yellow, clean white and dark ink palette, friendly practical tone.',\n  },\n  {\n    id: 'myth_fact',\n    title: '오해와 사실',\n    prompt: 'Myth-vs-fact inspired ranking card, split color tabs, soft red and blue contrast, warning dots, clear rank order, energetic but not sensational.',\n  },\n];\n\nconst layoutFamilies = [\n  'asymmetric magazine cover with one oversized title block and staggered rank tiles',\n  'Korean TV countdown board with diagonal ribbons and a strong side number rail',\n  'app-like wellness dashboard with compact metric chips and card rows',\n  'newspaper editorial front page with bold headline, subheads, and clean ranking columns',\n  'grocery receipt and label inspection board with clipped paper layers',\n  'calendar habit tracker with day cells, check marks, and vertical rank cards',\n  'split myth-versus-fact board with two-tone tabs and warning dots',\n  'warm kitchen table flatlay with layered note cards and ingredient callouts',\n  'clinic checklist sheet with clipboard structure and rounded status badges',\n  'premium lecture slide style with big central number and orbiting mini cards',\n  'photo-collage scrapbook with cutout objects and pinned rank notes',\n  'minimal poster with lots of white space, one hero object, and slim numbered rows',\n];\n\nconst paletteFamilies = [\n  'cobalt blue, crisp white, sunflower yellow, and ink black',\n  'forest green, ivory, tomato red, and warm beige',\n  'burgundy, cream, charcoal, and muted gold',\n  'sky blue, citrus orange, leaf green, and clean white',\n  'teal, coral, navy, and pale gray',\n  'lavender, midnight indigo, lamp amber, and soft white',\n  'black, white, signal red, and muted mint',\n  'sage green, clay orange, oat cream, and dark brown',\n  'steel gray, electric lime, white, and deep blue',\n  'rose pink, olive green, vanilla, and espresso',\n  'turquoise, lemon, graphite, and paper white',\n  'plum, peach, cream, and moss green',\n];\n\nconst badgeFamilies = [\n  'large circular rank seals',\n  'vertical pill-shaped number tags',\n  'ribbon tabs attached to each row',\n  'stamp-like badges with thick outlines',\n  'small dashboard number chips',\n  'hexagon rank markers',\n  'side rail numbers in stacked blocks',\n  'paper sticker badges with slight shadows',\n  'corner-fold rank labels',\n  'medal-style rank disks',\n];\n\nconst motifFamilies = [\n  'morning sunlight, water cup, mirror, and gentle plant details',\n  'organized shelf objects, labels, and clean item silhouettes without logos',\n  'kitchen ingredients, cutting board, bowl, and measuring spoon',\n  'bedside lamp, clock, curtains, and moonlight accents',\n  'walking shoes, stairs, towel, and simple daily habit icons',\n  'market basket, receipt strips, magnifier, and nutrition label fragments',\n  'calendar, pen, sticky notes, and daily checklist marks',\n  'warm table, tea cup, notebook, and soft shadows',\n  'clean clipboard, simple daily habit icons, and neutral geometric shapes',\n  'abstract geometric wellbeing dashboard shapes with no brand marks',\n];\n\nconst bgmProfiles = [\n  {\n    id: 'soft_piano_strings',\n    title: '소프트 피아노 스트링',\n    tempo: 74,\n    key: 'C',\n    prompt: 'Warm calm premium instrumental for Korean health Shorts viewers age 50-60. Soft piano, light warm strings, relaxed TV health program mood, slow 74 BPM. No vocals, no EDM, no trap, no heavy drums.',\n  },\n  {\n    id: 'nylon_bossa',\n    title: '나일론 기타 보사',\n    tempo: 78,\n    key: 'D',\n    prompt: 'Gentle acoustic bossa nova with nylon guitar, soft piano, light brushed percussion, premium morning lifestyle mood for Korean ages 50-60, 78 BPM. No vocals, no EDM, no heavy drums.',\n  },\n  {\n    id: 'light_jazz_trio',\n    title: '라이트 재즈 트리오',\n    tempo: 80,\n    key: 'F',\n    prompt: 'Light jazz trio background, soft piano, upright bass, very gentle brushes, warm trustworthy health program mood for Korean ages 50-60, 80 BPM. No vocals, no brass blasts, no heavy drums.',\n  },\n  {\n    id: 'korean_fusion',\n    title: '잔잔한 국악 퓨전',\n    tempo: 72,\n    key: 'G',\n    prompt: 'Calm Korean fusion instrumental with soft gayageum-like plucks, warm pad and light piano, premium public-broadcast health mood, 72 BPM. No vocals, no trot, no EDM, no heavy drums.',\n  },\n  {\n    id: 'ambient_woodwind',\n    title: '앰비언트 우드윈드',\n    tempo: 70,\n    key: 'E',\n    prompt: 'Airy ambient piano and gentle woodwind accents, warm pads, calm senior wellness mood, slow 70 BPM, premium and reassuring. No vocals, no EDM, no heavy drums.',\n  },\n  {\n    id: 'marimba_piano',\n    title: '마림바 피아노',\n    tempo: 76,\n    key: 'A',\n    prompt: 'Soft marimba and piano with warm strings, light optimistic health-magazine mood for Korean ages 50-60, 76 BPM. No vocals, no comedy sound, no EDM, no heavy drums.',\n  },\n  {\n    id: 'acoustic_waltz',\n    title: '어쿠스틱 왈츠',\n    tempo: 82,\n    key: 'G',\n    prompt: 'Gentle acoustic 3/4 waltz feel with nylon guitar, soft piano and subtle strings, cozy evening health-program mood, 82 BPM. No vocals, no EDM, no heavy drums.',\n  },\n  {\n    id: 'calm_lofi_piano',\n    title: '차분한 로파이 피아노',\n    tempo: 76,\n    key: 'B',\n    prompt: 'Clean calm lofi piano with soft vinyl warmth and very light brushed rhythm, premium not sleepy, Korean senior wellness mood, 76 BPM. No vocals, no hip-hop drop, no heavy drums.',\n  },\n];\n\nconst visualProfile =\n  findById(visualProfiles, cfg.visual_profile_override) ||\n  findById(visualProfiles, pack.visual_profile) ||\n  pick(visualProfiles, 'visual_profile');\n\nconst layoutFamily = pick(layoutFamilies, 'layout_family|' + visualProfile.id);\nconst paletteFamily = pick(paletteFamilies, 'palette_family|' + visualProfile.id + '|' + layoutFamily);\nconst badgeFamily = pick(badgeFamilies, 'badge_family|' + visualProfile.id + '|' + paletteFamily);\nconst motifFamily = pick(motifFamilies, 'motif_family|' + visualProfile.id + '|' + badgeFamily);\n\nconst formatModes = [\n  {\n    id: 'supermarket_receipt_scan',\n    title: '마트 영수증 점검',\n    prompt: 'A tall Korean supermarket receipt scene: long receipt strip, marker highlights, clipped coupons, small food icons, price-tag shapes, ranks as highlighted receipt lines.',\n  },\n  {\n    id: 'kitchen_table_lab',\n    title: '주방 실험대',\n    prompt: 'Overhead kitchen-table lab scene: cutting board, bowls, measuring spoon, sticky labels, numbered ingredient cards placed around the table, title on a paper label.',\n  },\n  {\n    id: 'phone_habit_app',\n    title: '휴대폰 루틴 앱',\n    prompt: 'A fictional phone habit-app screen inside the vertical frame: tabs, toggles, progress bars, checklist widgets, ranks as app modules, clean modern mobile UI.',\n  },\n  {\n    id: 'market_basket_tags',\n    title: '장바구니 태그',\n    prompt: 'Market basket composition: groceries, hanging tags, barcode-like labels, number stickers, ranks attached to different items instead of stacked rows.',\n  },\n  {\n    id: 'whiteboard_memo_wall',\n    title: '메모보드 브리핑',\n    prompt: 'A bright memo wall: magnets, tape, small notes, arrows, circled numbers, ranks as separate memo cards pinned in an irregular but readable arrangement.',\n  },\n  {\n    id: 'recipe_card_deck',\n    title: '레시피 카드 덱',\n    prompt: 'A deck of recipe cards fanned across a table: each card has one rank, simple ingredient doodle, short reason, strong title card at the top.',\n  },\n  {\n    id: 'subway_route_map',\n    title: '루틴 노선도',\n    prompt: 'A subway-route style habit map: colored line path, numbered stations, each station contains one Korean item and reason, title as route sign.',\n  },\n  {\n    id: 'mini_comic_panels',\n    title: '미니 만화 패널',\n    prompt: 'A clean mini-comic information frame: 5-7 small panels, each panel has one everyday object, rank badge, and short Korean reason; title as comic masthead.',\n  },\n];\n\nconst formatMode = pick(\n  formatModes,\n  'format_mode|' + (pack.content_lane || data.selected_content_lane?.id || 'general') + '|' + visualProfile.id + '|' + layoutFamily,\n);\n\nconst bgmProfile =\n  findById(bgmProfiles, cfg.bgm_profile_override) ||\n  findById(bgmProfiles, pack.bgm_profile) ||\n  pick(bgmProfiles, 'bgm_profile|' + visualProfile.id);\n\nfunction positiveBgmText(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim()\n    .replace(/\\bNo [^.]+\\.?/gi, '')\n    .replace(/\\bnot sleepy\\b/gi, 'calm and bright')\n    .replace(/\\bno vocals?\\b/gi, 'instrumental')\n    .replace(/\\bno edm\\b/gi, 'acoustic and warm')\n    .replace(/\\bno trap\\b/gi, 'soft rhythm')\n    .replace(/\\bno heavy drums\\b/gi, 'light percussion')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nconst bgmStyle = positiveBgmText(bgmProfile.prompt);\nconst bgmStructureInstruction = '12-18 sec loopable instrumental cue, clear first-second hook, warm clean mix.';\nconst bgmDiversityInstruction = 'Selected lead instrument and tempo must be clear. Instrumental, warm, clean.';\nconst packBgmHint = '';\nconst bgmPrompt = limitPrompt([\n  bgmStyle,\n  bgmStructureInstruction,\n  bgmDiversityInstruction,\n  packBgmHint ? 'Topic mood cue: ' + packBgmHint : '',\n].filter(Boolean).join(' '), 450);\n\nconst bgm_payload = {\n  prompt: bgmPrompt,\n  model: cfg.kie_bgm_model,\n  soundLoop: true,\n  soundTempo: bgmProfile.tempo,\n  soundKey: bgmProfile.key,\n  grabLyrics: false,\n};\n\nconst shortsSafeZoneInstruction = [\n  'YouTube Shorts safe-zone rule for this 1080x1920 frame: keep every critical element inside the central safe content box.',\n  'Safe content box: x 80-860 px and y 240-1360 px. Put the full title, subtitle, every rank number, every item name, every reason line, footer/brand, CTA, faces, and any logo-like marks inside this box.',\n  'Dead zones: top 10%, bottom 25%, right 10%, and the outer edge margins. These areas may be hidden by Shorts UI, captions, channel name, title, or engagement buttons.',\n  'Use dead zones only as natural background, texture, gradients, soft illustrations, cropped decorative objects, or empty breathing room. No readable text, no rank badges, no important icons, no faces, no CTA, and no key object details in dead zones.',\n  'Keep the right-side action-column area mostly decorative and low contrast. Leave extra blank/background space on the right edge and bottom edge.',\n  'Design the card as a centered-left safe poster: compact title near the upper safe area, rank list in the middle safe area, footer just above the lower dead zone. Nothing important should touch the top, bottom, or right edges.',\n].join(LF);\n\nconst imagePrompt = [\n  'Create one finished vertical 9:16 Korean YouTube Shorts frame. Make the selected visual format immediately recognizable at first glance.',\n  'Channel identity: practical Korean food, shopping, kitchen, and daily health-choice guide. Make it fast, clever, useful, and modern.',\n  'Selected visual format: ' + formatMode.title + '. ' + formatMode.prompt,\n  'The chosen format must dominate the whole composition. Put the title and every numbered Korean item into objects from that format, such as notes, labels, route stops, panels, widgets, cards, or clippings.',\n  'Use this exact Korean text as copy blocks. Keep all Korean text large, crisp, and readable.',\n  shortsSafeZoneInstruction,\n  visibleText,\n  'Rank order must read clearly from ' + ('1' + rankSuffix) + ' to the final rank. The order can follow a route, board, deck, receipt, calendar, app screen, or panel sequence, depending on the selected format.',\n  'Composition rule: build a strong silhouette with distinctive title placement, object arrangement, text containers, and reading path chosen for this format.',\n  'Text placement rule: use varied numbered pieces integrated into the scene, with different sizes, shapes, positions, and object relationships across the frame.',\n  'Style ingredients: ' + sanitizeImageInstruction(visualProfile.prompt),\n  'Material and color direction: ' + sanitizeImageInstruction(paletteFamily) + '; number marks: ' + sanitizeImageInstruction(badgeFamily) + '; motif: ' + sanitizeImageInstruction(motifFamily) + '.',\n  pack.visual_mood_hint ? 'Topic visual hint: ' + sanitizeImageInstruction(pack.visual_mood_hint) : '',\n  'Phone readability: strong contrast, clean spacing, large text, sharp edges, complete text blocks, and all important text inside the safe content box.',\n].filter(Boolean).join(LF);\n\nconst image_payload = {\n  model: cfg.kie_image_model,\n  input: {\n    prompt: imagePrompt,\n    aspect_ratio: '9:16',\n  },\n};\n\nreturn [{\n  json: {\n    ...data,\n    pack: { ...pack, description: youtubeDescription, pinned_comment: buildPinnedComment() },\n    rank_lines: rankLines,\n    short_rank_lines: shortRankLines,\n    visible_card_text: visibleText,\n    diversity: {\n      mode: cfg.diversity_mode,\n      variation_seed: cfg.variation_seed,\n      content_lane: pack.content_lane || data.selected_content_lane?.id || null,\n      visual_profile: visualProfile,\n      layout_family: layoutFamily,\n      palette_family: paletteFamily,\n      badge_family: badgeFamily,\n      motif_family: motifFamily,\n      format_mode: formatMode,\n      bgm_profile: bgmProfile,\n    },\n    bgm_payload,\n    image_payload,\n  },\n}];"
      },
      "id": "d12444a3-2df9-4f04-a368-99812559f2df",
      "name": "Prepare Image and BGM Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        1808
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.use_live_bgm}}",
              "value2": true
            }
          ]
        }
      },
      "id": "4ff1d1a5-cfb3-4602-8e9d-330b0663f913",
      "name": "Use Live BGM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6448,
        1808
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/generate/sounds",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.bgm_payload) }}",
        "options": {}
      },
      "id": "6c178fdc-8dc9-4416-b463-cb337651db22",
      "name": "KIE Create BGM Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6720,
        1552
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Use Live BGM?').first().json;\nconst response = $input.first().json || {};\nconst apiCode = response.code === undefined ? 200 : Number(response.code);\nconst apiMsg = response.msg || response.message || response.error || '';\nif (response.error || (Number.isFinite(apiCode) && apiCode >= 400)) {\n  throw new Error('KIE BGM create failed. code=' + apiCode + ', message=' + apiMsg + ', response=' + JSON.stringify(response));\n}\nconst taskId = response.data?.taskId || response.taskId || response.id || null;\nif (!taskId) {\n  throw new Error('KIE BGM create returned no taskId. response=' + JSON.stringify(response));\n}\nreturn [{ json: { ...base, bgm_create_response: response, bgm_task_id: taskId } }];"
      },
      "id": "32a46966-14d5-4bde-833e-0df4811c4b47",
      "name": "Normalize BGM Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7008,
        1552
      ]
    },
    {
      "parameters": {
        "amount": "={{$json.config.poll_interval_seconds}}"
      },
      "id": "612a92d9-b415-45a5-8088-8893e15aa08b",
      "name": "Wait BGM 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7280,
        1552
      ],
      "webhookId": "96d9eeaf-058a-422f-a004-371197b23ee2"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/generate/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.bgm_task_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "23e8e1db-e684-44fa-afa9-3572334a8953",
      "name": "KIE Get BGM Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7568,
        1552
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalize BGM Task').first().json;\nconst response = $input.first().json || {};\nconst data = response.data || response;\nconst status = String(data.status || data.state || '').toUpperCase();\nconst sunoData =\n  data.response?.sunoData ||\n  data.sunoData ||\n  data.response?.data ||\n  data.data ||\n  [];\n\nfunction asList(value) {\n  if (Array.isArray(value)) return value;\n  if (value && typeof value === 'object') return [value];\n  return [];\n}\n\nfunction audioUrlFor(item) {\n  return item?.audioUrl ||\n    item?.streamAudioUrl ||\n    item?.sourceAudioUrl ||\n    item?.sourceStreamAudioUrl ||\n    item?.audio_url ||\n    item?.stream_audio_url ||\n    item?.url ||\n    null;\n}\n\nfunction durationFor(item) {\n  const duration = Number(item?.duration || item?.audioDuration || item?.durationSeconds || item?.metadata?.duration || 0);\n  return Number.isFinite(duration) ? duration : 0;\n}\n\nfunction fallbackBgm(message) {\n  const fallbackUrl =\n    base.config?.fallback_bgm_audio_url ||\n    base.fallback_bgm_audio_url ||\n    'C:/dev/n8n-youtube-shorts-automation/assets/fallback-bgm.mp3';\n  return [{\n    json: {\n      ...base,\n      bgm_poll_response: response,\n      bgm_state: status || 'FALLBACK',\n      bgm_failed: true,\n      bgm_fallback_used: true,\n      bgm_failure_message: message,\n      bgm_audio_url: fallbackUrl,\n      bgm_audio_duration: null,\n      bgm_audio_choice: null,\n      bgm_retry_attempted: false,\n    },\n  }];\n}\n\nconst candidates = asList(sunoData).filter((item) => audioUrlFor(item));\nconst best = [...candidates].sort((left, right) => durationFor(right) - durationFor(left))[0] || null;\nconst fallbackUrl =\n  data.response?.audioUrl ||\n  data.response?.streamAudioUrl ||\n  data.audioUrl ||\n  data.streamAudioUrl ||\n  null;\nconst bgmUrl = best ? audioUrlFor(best) : fallbackUrl;\nconst failed = ['CREATE_TASK_FAILED', 'GENERATE_AUDIO_FAILED', 'CALLBACK_EXCEPTION', 'SENSITIVE_WORD_ERROR', 'FAIL', 'FAILED', 'ERROR'].includes(status);\nif (failed) {\n  return fallbackBgm('KIE BGM failed. state=' + status + ', taskId=' + (base.bgm_task_id || '-') + ', message=' + (data.failMsg || data.message || response.msg || response.error || ''));\n}\n\nreturn [{ json: { ...base, bgm_poll_response: response, bgm_state: status, bgm_failed: false, bgm_audio_url: bgmUrl, bgm_audio_duration: best ? durationFor(best) : null, bgm_audio_choice: best } }];"
      },
      "id": "0e68a2f1-1917-4be8-ba91-434c2012b672",
      "name": "Parse BGM Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7840,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nif (!dryRun) {\n  throw new Error('Live run reached Mock BGM Result. Check Load Config: use_live_bgm must be true, and KIE BGM auth/credits must work.');\n}\nreturn [{ json: { ...data, bgm_audio_url: null, bgm_state: 'dry_run_disabled' } }];"
      },
      "id": "23a6b583-bcc3-4298-9962-8562457e2eee",
      "name": "Mock BGM Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        2064
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.use_live_render}}",
              "value2": true
            }
          ]
        }
      },
      "id": "f0d1083e-2af6-41b6-ba6e-1d9fd92b83ee",
      "name": "Use Live Render?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        9248,
        1808
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nif (!dryRun) {\n  throw new Error('Live run reached Mock Render Result. Check Load Config: use_live_render must be true.');\n}\nreturn [{\n  json: {\n    ...data,\n    result_stage: 'dry_run_no_render',\n    rendered_video_url: null,\n    youtube: {\n      skipped: true,\n      reason: 'dry_run: render skipped',\n      privacy_status_if_enabled: data.config.youtube_privacy_status\n    },\n    comment: { skipped: true, reason: 'No rendered MP4' }\n  }\n}];"
      },
      "id": "1916a396-4c91-4336-ab2f-1397ef4d4b99",
      "name": "Mock Render Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9520,
        2064
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst cfg = data.config || {};\n\nif (!data.image_url) {\n  throw new Error('Local render requires final image_url from Parse Image Result.');\n}\nif (!data.bgm_audio_url) {\n  throw new Error('Local render requires bgm_audio_url from Parse BGM Result. BGM must be live.');\n}\n\nconst renderId = 'health_' + Date.now() + '_' + Math.random().toString(16).slice(2, 8);\nconst duration = Number(cfg.duration_seconds || 5);\n\nconst render_payload = {\n  render_id: renderId,\n  image_url: data.image_url,\n  bgm_audio_url: data.bgm_audio_url,\n  duration,\n  width: 1080,\n  height: 1920,\n  output_dir: cfg.local_render_dir,\n  ffmpeg_path: cfg.ffmpeg_path,\n  card_is_final: true\n};\n\nconst payloadBase64 = Buffer.from(JSON.stringify(render_payload), 'utf8').toString('base64');\nconst quote = (value) => '\"' + String(value).replace(/\"/g, '\\\"') + '\"';\nconst render_command = [\n  quote(cfg.node_path || 'node'),\n  quote(cfg.local_render_script),\n  quote(payloadBase64),\n].join(' ');\n\nreturn [{\n  json: {\n    ...data,\n    render_id: renderId,\n    render_provider: 'local_ffmpeg_full_image_card',\n    render_payload,\n    render_payload_base64: payloadBase64,\n    render_command,\n  },\n}];"
      },
      "id": "80d6705e-295f-4149-b846-156d13d790ff",
      "name": "Prepare Local FFmpeg Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9520,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst { spawnSync } = require(\"child_process\");\n\nconst nodePath = data.config?.node_path || \"C:/Program Files/nodejs/node.exe\";\nconst scriptPath = data.config?.local_render_script || \"C:/dev/n8n-youtube-shorts-automation/scripts/render-static-card.mjs\";\nconst payload = data.render_payload_base64;\nif (!payload) {\n  throw new Error(\"Missing render_payload_base64 for local render.\");\n}\n\nconst result = spawnSync(nodePath, [scriptPath, payload], {\n  encoding: \"utf8\",\n  timeout: 10 * 60 * 1000,\n  windowsHide: true,\n  maxBuffer: 20 * 1024 * 1024,\n});\n\nreturn [{\n  json: {\n    ...data,\n    exitCode: result.status ?? 0,\n    stdout: result.stdout || \"\",\n    stderr: result.stderr || \"\",\n    error: result.error ? result.error.message : undefined,\n    signal: result.signal || null,\n  },\n}];"
      },
      "id": "acbaccb4-966b-465b-a8ba-6073746e0d6f",
      "name": "Local FFmpeg Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9808,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Local FFmpeg Render').first().json;\nconst response = $input.first().json || {};\n\nif (response.error || Number(response.exitCode || 0) !== 0) {\n  throw new Error('Local ffmpeg render failed: ' + (response.stderr || response.stdout || response.error || JSON.stringify(response)));\n}\n\nconst stdout = String(response.stdout || '').trim();\nconst jsonLine = stdout.split(/\\r?\\n/).reverse().find((line) => line.trim().startsWith('{'));\nif (!jsonLine) {\n  throw new Error('Local renderer returned no JSON: ' + JSON.stringify(response));\n}\n\nconst parsed = JSON.parse(jsonLine);\nif (!parsed.ok || !parsed.output_path) {\n  throw new Error('Local renderer returned invalid output: ' + JSON.stringify(parsed));\n}\n\nreturn [{\n  json: {\n    ...base,\n    local_render_response: response,\n    render_status: 'succeeded',\n    output_path: parsed.output_path,\n    rendered_video_url: parsed.output_path,\n    card_path: parsed.card_path || null,\n    bgm_download_path: parsed.audio_path || null,\n    render_failed: false,\n  },\n}];"
      },
      "id": "55a9895b-1891-4f9e-9f2e-64fe90ce539c",
      "name": "Parse Local Render Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10080,
        1552
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{$json.output_path}}",
        "options": {
          "fileExtension": "mp4",
          "fileName": "={{$json.render_id + \".mp4\"}}",
          "mimeType": "video/mp4",
          "dataPropertyName": "data"
        }
      },
      "id": "da82fe76-cc1f-4df3-a3af-2ddba4735bb9",
      "name": "Read Rendered MP4",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        10368,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Parse Local Render Result').first().json;\nconst input = $input.first();\nreturn [{ json: { ...base, mp4_binary_ready: !!input.binary?.data }, binary: input.binary }];"
      },
      "id": "39728e0b-d9b4-4b35-a591-1325cdefa7c1",
      "name": "Attach Downloaded MP4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10640,
        1552
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.allow_youtube_upload}}",
              "value2": true
            }
          ]
        }
      },
      "id": "1cb2df3f-6f06-4575-859d-69b9280296fb",
      "name": "Allow YouTube Upload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        10928,
        1808
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{$json.pack.hook_title}}",
        "regionCode": "={{$json.config.region_code}}",
        "categoryId": "={{$json.config.youtube_category_id}}",
        "options": {
          "description": "={{$json.pack.description}}",
          "embeddable": true,
          "notifySubscribers": false,
          "privacyStatus": "={{$json.config.youtube_privacy_status || \"public\"}}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{$json.pack.tags.join(\",\")}}"
        }
      },
      "id": "74e782b9-18bb-467b-a95d-e6805a450920",
      "name": "YouTube Upload Public",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        11200,
        1552
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "l7YqloikIKiIOtOq",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Attach Downloaded MP4').first().json;\nconst upload = $input.first().json || {};\nconst videoId = upload.uploadId || upload.id || upload.videoId || upload.items?.[0]?.id || null;\nconst privacyStatus = base.config?.youtube_privacy_status || 'public';\nreturn [{ json: { ...base, youtube: { skipped: false, privacy_status: privacyStatus, video_id: videoId, url: videoId ? 'https://www.youtube.com/watch?v=' + videoId : null, raw: upload } } }];"
      },
      "id": "21835258-44cf-4283-b7bc-47131098e39f",
      "name": "Normalize YouTube Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11488,
        1552
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/commentThreads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ snippet: { videoId: $json.youtube.video_id, topLevelComment: { snippet: { textOriginal: $json.pack.pinned_comment } } } }) }}",
        "options": {}
      },
      "id": "3ffc4b8f-3e3d-468e-8b5f-5f57f59c6daa",
      "name": "Post Top-Level Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11760,
        1552
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "l7YqloikIKiIOtOq",
          "name": "YouTube account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalize YouTube Upload').first().json;\nconst response = $input.first().json || {};\nreturn [{ json: { ...base, comment: { created: !response.error, id: response.id || response.items?.[0]?.id || null, raw: response, note: 'Top-level comment created. API pin unsupported.' } } }];"
      },
      "id": "4a6b7f60-99b9-4000-813b-05b5c831e39c",
      "name": "Attach Comment Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12048,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nif (!dryRun) {\n  throw new Error('Live run reached Skip YouTube Upload. Check Load Config: allow_youtube_upload must be true and rendered_video_url must exist.');\n}\nreturn [{\n  json: {\n    ...data,\n    result_stage: 'dry_run_no_upload',\n    youtube: {\n      skipped: true,\n      reason: 'dry_run: youtube upload skipped',\n      privacy_status_if_enabled: data.config.youtube_privacy_status\n    },\n    comment: { skipped: true, reason: 'No YouTube upload' }\n  }\n}];"
      },
      "id": "402d647f-db55-487f-b595-602a67bc6c0e",
      "name": "Skip YouTube Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11200,
        2064
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst data = $input.first().json;\n\nfunction kstDate(value = new Date()) {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Asia/Seoul',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(value).reduce((acc, part) => {\n    acc[part.type] = part.value;\n    return acc;\n  }, {});\n  return parts.year + '-' + parts.month + '-' + parts.day;\n}\n\n\nfunction appendJsonLine(filePath, payload) {\n  if (!filePath) return;\n  fs.mkdirSync(path.dirname(filePath), { recursive: true });\n  fs.appendFileSync(filePath, JSON.stringify(payload) + '\\n', 'utf8');\n}\n\nfunction safeTopicSlug(value) {\n  return String(value || '')\n    .replace(/[^a-zA-Z0-9가-힣_-]+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '')\n    .slice(0, 80) || Date.now().toString(36);\n}\n\nfunction uniqueDestination(filePath) {\n  if (!fs.existsSync(filePath)) return filePath;\n  const ext = path.extname(filePath);\n  const base = filePath.slice(0, -ext.length);\n  for (let index = 2; index < 100; index += 1) {\n    const candidate = base + '-' + index + ext;\n    if (!fs.existsSync(candidate)) return candidate;\n  }\n  return base + '-' + Date.now().toString(36) + ext;\n}\n\nfunction completeTopicQueueAfterUpload(data, status) {\n  const youtube = data.youtube || {};\n  if (!youtube.url || youtube.skipped) return;\n\n  const topicQueue = data.topic_queue || data.config?.topic_queue || null;\n  const selected = topicQueue?.selected || null;\n  const sourceFile = selected?.source_file;\n  const usedDir = topicQueue?.used_dir || data.config?.topic_used_dir;\n  const usedLogPath = topicQueue?.used_log_path || data.config?.topic_queue_used_log_path;\n\n  if (!sourceFile || !usedDir || !fs.existsSync(sourceFile)) return;\n\n  try {\n    fs.mkdirSync(usedDir, { recursive: true });\n    const stamp = new Date().toISOString().replace(/[:.]/g, '-');\n    const ext = path.extname(sourceFile);\n    const title = selected.title || data.pack?.hook_title || path.basename(sourceFile, ext);\n    const destination = uniqueDestination(path.join(usedDir, stamp + '-' + safeTopicSlug(title) + ext));\n    fs.renameSync(sourceFile, destination);\n\n    topicQueue.consumed = true;\n    topicQueue.consumed_file = destination;\n    topicQueue.remaining_after = Math.max(0, Number(topicQueue.remaining_before || 1) - 1);\n    topicQueue.completed_after_upload = true;\n\n    appendJsonLine(usedLogPath, {\n      id: selected.id || null,\n      title,\n      source: selected.source || 'topic_file',\n      source_file: sourceFile,\n      consumed_file: destination,\n      rank_count: selected.rank_items?.length || selected.rank_count || null,\n      status: 'picked_after_upload',\n      upload_status: status,\n      url: youtube.url,\n      date_kst: kstDate(),\n      picked_at: selected.picked_at || null,\n      consumed_at: new Date().toISOString(),\n    });\n  } catch (error) {\n    topicQueue.consume_error = error.message;\n  }\n}\n\nfunction appendUploadLog(data, status) {\n  const youtube = data.youtube || {};\n  if (!youtube || youtube.skipped || !youtube.url) return;\n  const logPath = data.config?.upload_log_path || 'C:/dev/n8n-youtube-shorts-automation/하루건강약사 소재/기록/업로드기록.jsonl';\n  fs.mkdirSync(path.dirname(logPath), { recursive: true });\n  fs.appendFileSync(logPath, JSON.stringify({\n    date_kst: kstDate(),\n    status,\n    title: data.pack?.hook_title || null,\n    url: youtube.url,\n    video_id: youtube.video_id || null,\n    topic_queue: data.topic_queue || data.config?.topic_queue || null,\n    uploaded_at: new Date().toISOString(),\n  }) + '\\n', 'utf8');\n}\nconst pack = data.pack || {};\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nlet status = dryRun ? 'dry_run_complete' : 'completed';\nif (data.result_stage === 'blocked_by_medical_review') status = 'blocked_by_medical_review';\nelse if (data.result_stage) status = data.result_stage;\nelse if (data.youtube && !data.youtube.skipped) status = 'uploaded_' + (data.youtube.privacy_status || data.config?.youtube_privacy_status || 'public');\nelse if (!dryRun && data.rendered_video_url) status = 'rendered_not_uploaded';\nelse if (data.youtube?.skipped) status = dryRun ? 'dry_run_no_upload' : 'youtube_upload_skipped';\nelse if (!data.rendered_video_url) status = dryRun ? 'dry_run_no_render' : 'missing_rendered_video';\n\ncompleteTopicQueueAfterUpload(data, status);\n\nconst result = {\n  ok:\n    !String(status).includes('blocked') &&\n    !String(status).includes('failed') &&\n    !String(status).includes('missing') &&\n    !String(status).includes('disabled') &&\n    !String(status).includes('skipped') &&\n    !String(status).includes('no_render') &&\n    !String(status).includes('no_upload'),\n  status,\n  run_mode: data.config?.run_mode || (dryRun ? 'dry_run' : 'live_upload'),\n  test_mode: dryRun,\n  format: 'viral_rank_card',\n  title: pack.hook_title || null,\n  rank_count: Array.isArray(pack.rank_items) ? pack.rank_items.length : 0,\n  rank_items: pack.rank_items || [],\n  medical_review: data.medical_review || null,\n  bgm_audio_url: data.bgm_audio_url || null,\n  image_url: data.image_url || null,\n  rendered_video_url: data.rendered_video_url || null,\n  render_id: data.render_id || null,\n  output_path: data.output_path || null,\n  model_config: data.config?.model_config || null,\n  youtube: data.youtube || { skipped: true },\n  comment: data.comment || { skipped: true },\n  topic_queue: data.topic_queue || data.config?.topic_queue || null,\n};\n\nappendUploadLog(data, status);\n\nconst notification_text = [\n  '상태: ' + status,\n  '실행모드: ' + result.run_mode,\n  '포맷: 건강 랭킹 카드형 쇼츠',\n  '제목: ' + (pack.hook_title || '-'),\n  '검수: ' + (data.medical_review?.pass ? 'PASS' : 'FAIL'),\n  '영상: ' + (data.rendered_video_url || '-'),\n  'YouTube: ' + (data.youtube?.url || data.youtube?.reason || '-'),\n].join('\\n');\n\nreturn [{ json: { ...data, result, notification_text } }];"
      },
      "id": "2aed73d5-7672-4a90-b1bb-a4107cd5cabc",
      "name": "Final Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12320,
        2064
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.notify_slack && !!$json.config.slack_webhook_url}}",
              "value2": true
            }
          ]
        }
      },
      "id": "3016a71f-b79b-46a9-a741-1dd2ba3ec9c6",
      "name": "Notify Slack?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        12608,
        2064
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.config.slack_webhook_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.notification_text }) }}",
        "options": {}
      },
      "id": "66f24ea2-7da2-4f59-aa39-a6bac8e91cd9",
      "name": "Send Slack Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12880,
        1808
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Notify Slack?').first().json; const response = $input.first().json || {}; return [{ json: { ...base, slack: { sent: !response.error, response } } }];"
      },
      "id": "c3a1d03d-bcf4-4be9-af41-42e7091abb96",
      "name": "Attach Slack Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13168,
        1808
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.trigger_type === \"webhook\"}}",
              "value2": true
            }
          ]
        }
      },
      "id": "25e46c93-c053-4571-bf25-f6d95643cade",
      "name": "Is Webhook Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        13440,
        2064
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.result}}",
        "options": {}
      },
      "id": "4920f75c-0516-496e-987c-c02e29072dcb",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        13728,
        1808
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: data }];"
      },
      "id": "798f9a46-096c-4d56-9bd7-99492618fc09",
      "name": "Done - Manual or Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13728,
        2304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.use_live_image}}",
              "value2": true
            }
          ]
        }
      },
      "id": "8d423f51-a089-42b1-bca1-5ce92da1d7c9",
      "name": "Use Live Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4768,
        1808
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.image_payload) }}",
        "options": {}
      },
      "id": "fb7bbf69-d53f-485d-b014-f60d99e8bc43",
      "name": "KIE Create Image Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        1552
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Image and BGM Payloads').first().json;\nconst response = $input.first().json || {};\nif (response.error || (response.code && Number(response.code) !== 200)) {\n  throw new Error('KIE image create failed: ' + JSON.stringify(response));\n}\nconst taskId = response.data?.taskId || response.taskId || response.id || null;\nif (!taskId) {\n  throw new Error('KIE image create returned no taskId: ' + JSON.stringify(response));\n}\nreturn [{ json: { ...base, image_create_response: response, image_task_id: taskId } }];"
      },
      "id": "2cb71070-c7d8-4f1f-820c-7273a964e0ee",
      "name": "Normalize Image Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5328,
        1552
      ]
    },
    {
      "parameters": {
        "amount": "={{$json.config.image_poll_interval_seconds || 30}}"
      },
      "id": "09ea7925-61df-4dfc-bdaa-2764c29de5db",
      "name": "Wait Image 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5600,
        1552
      ],
      "webhookId": "d5480533-2e8a-4514-a763-b0e88010d2f4"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.image_task_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a6ea6074-f453-441a-991a-e6425f3bdfd4",
      "name": "KIE Get Image Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5888,
        1552
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalize Image Task').first().json;\nconst response = $input.first().json || {};\nconst data = response.data || response;\nconst state = String(data.state || data.status || '').toLowerCase();\nlet resultJson = data.resultJson || data.result_json || null;\nif (typeof resultJson === 'string' && resultJson.trim()) {\n  try { resultJson = JSON.parse(resultJson); } catch (error) { resultJson = { raw: data.resultJson, parse_error: error.message }; }\n}\nconst urls =\n  resultJson?.resultUrls ||\n  resultJson?.result_urls ||\n  resultJson?.imageUrls ||\n  resultJson?.images ||\n  resultJson?.urls ||\n  data.response?.resultUrls ||\n  data.resultUrls ||\n  data.imageUrls ||\n  [];\nconst first = Array.isArray(urls) ? urls[0] : urls;\nconst imageUrl = typeof first === 'string' ? first : first?.url || first?.imageUrl || first?.src || null;\nconst apiCode = Number(response.code ?? data.code ?? 200);\nconst failed =\n  ['fail', 'failed', 'error'].includes(state) ||\n  Boolean(data.failCode || data.failMsg || response.error) ||\n  (apiCode !== 200 && apiCode !== 0);\n\nif (failed) {\n  throw new Error('KIE image failed. state=' + state + ', taskId=' + (base.image_task_id || '-') + ', message=' + (data.failMsg || response.msg || response.error || ''));\n}\n\nreturn [{ json: { ...base, image_poll_response: response, image_state: state || (imageUrl ? 'succeeded' : 'pending'), image_failed: false, image_ready: Boolean(imageUrl), image_url: imageUrl } }];"
      },
      "id": "2f4ad5ea-ece3-410e-be20-4c5c7887270b",
      "name": "Parse Image Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6160,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nif (!dryRun) {\n  throw new Error('Live run reached Mock Image Result. Check Load Config: use_live_image must be true, and KIE image auth/credits must work.');\n}\nreturn [{ json: { ...data, image_url: null, image_state: 'mock_skipped' } }];"
      },
      "id": "8ba5cf14-d473-47d2-8371-07e292a54753",
      "name": "Mock Image Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        2064
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!!$json.bgm_audio_url}}",
              "value2": true
            }
          ]
        }
      },
      "id": "024feec3-2110-4a70-9eb6-4056e13742c6",
      "name": "BGM Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8128,
        1552
      ]
    },
    {
      "parameters": {
        "amount": "={{$json.config.bgm_retry_wait_seconds || 90}}"
      },
      "id": "b07b5b80-ebc0-4c98-b921-08bc4ed7e9eb",
      "name": "Wait BGM Retry 90s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8400,
        1312
      ],
      "webhookId": "35800c3e-14bb-4731-8ba6-d1c7fbe3be3c"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/generate/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.bgm_task_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b67d3061-1577-45a9-b260-92175bcb2b61",
      "name": "KIE Get BGM Task Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8688,
        1312
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Parse BGM Result').first().json;\nconst response = $input.first().json || {};\nconst data = response.data || response;\nconst status = String(data.status || data.state || '').toUpperCase();\nconst sunoData =\n  data.response?.sunoData ||\n  data.sunoData ||\n  data.response?.data ||\n  data.data ||\n  [];\n\nfunction asList(value) {\n  if (Array.isArray(value)) return value;\n  if (value && typeof value === 'object') return [value];\n  return [];\n}\n\nfunction audioUrlFor(item) {\n  return item?.audioUrl ||\n    item?.streamAudioUrl ||\n    item?.sourceAudioUrl ||\n    item?.sourceStreamAudioUrl ||\n    item?.audio_url ||\n    item?.stream_audio_url ||\n    item?.url ||\n    null;\n}\n\nfunction durationFor(item) {\n  const duration = Number(item?.duration || item?.audioDuration || item?.durationSeconds || item?.metadata?.duration || 0);\n  return Number.isFinite(duration) ? duration : 0;\n}\n\nfunction fallbackBgm(message) {\n  const fallbackUrl =\n    previous.config?.fallback_bgm_audio_url ||\n    previous.fallback_bgm_audio_url ||\n    'C:/dev/n8n-youtube-shorts-automation/assets/fallback-bgm.mp3';\n  return [{\n    json: {\n      ...previous,\n      bgm_poll_response: response,\n      bgm_state: status || 'FALLBACK',\n      bgm_failed: true,\n      bgm_fallback_used: true,\n      bgm_failure_message: message,\n      bgm_audio_url: fallbackUrl,\n      bgm_audio_duration: null,\n      bgm_audio_choice: null,\n      bgm_retry_attempted: true,\n    },\n  }];\n}\n\nconst candidates = asList(sunoData).filter((item) => audioUrlFor(item));\nconst best = [...candidates].sort((left, right) => durationFor(right) - durationFor(left))[0] || null;\nconst fallbackUrl =\n  data.response?.audioUrl ||\n  data.response?.streamAudioUrl ||\n  data.audioUrl ||\n  data.streamAudioUrl ||\n  null;\nconst bgmUrl = best ? audioUrlFor(best) : fallbackUrl;\nconst failed = ['CREATE_TASK_FAILED', 'GENERATE_AUDIO_FAILED', 'CALLBACK_EXCEPTION', 'SENSITIVE_WORD_ERROR', 'FAIL', 'FAILED', 'ERROR'].includes(status);\nif (failed) {\n  return fallbackBgm('KIE BGM failed. state=' + status + ', taskId=' + (previous.bgm_task_id || '-') + ', message=' + (data.failMsg || data.message || response.msg || response.error || ''));\n}\nif (!bgmUrl) {\n  return fallbackBgm('KIE BGM still not ready after retry. state=' + (status || '-') + ', taskId=' + (previous.bgm_task_id || '-'));\n}\nreturn [{ json: { ...previous, bgm_poll_response: response, bgm_state: status, bgm_failed: false, bgm_audio_url: bgmUrl, bgm_audio_duration: best ? durationFor(best) : null, bgm_audio_choice: best, bgm_retry_attempted: true } }];"
      },
      "id": "e13d8ff4-a180-4a3e-8210-2cae1daba58f",
      "name": "Parse BGM Result Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8960,
        1312
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "id": "5a2c9400-f1c8-4ec5-8c58-c33c1a54c730",
      "name": "Daily 21:00 Schedule (Disabled)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        576,
        1696
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json || {};\nreturn [{\n  json: {\n    ...data,\n    scheduled_daily_run: true,\n    upload_log_path: data.upload_log_path || 'C:/dev/n8n-youtube-shorts-automation/하루건강약사 소재/기록/업로드기록.jsonl',\n    consume_topic_queue: true,\n  },\n}];"
      },
      "id": "9c4a5836-925b-482b-a0ad-d09e1b817fcc",
      "name": "Prepare Daily Upload Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1696
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.daily_upload_due}}",
              "value2": true
            }
          ]
        }
      },
      "id": "79cb0514-5856-447a-85e5-d5276a663872",
      "name": "Daily Upload Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2256,
        1840
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{\n  json: {\n    ...data,\n    result: {\n      ok: true,\n      status: data.skip_reason || 'skipped_daily_upload',\n      reason: data.skip_reason || 'daily upload not due',\n      date_kst: data.daily_upload_date_kst,\n      youtube_upload_check: data.youtube_upload_check,\n      last_upload: data.last_upload,\n    },\n  },\n}];"
      },
      "id": "fdb39be6-b2f4-427b-83ec-c08643035e5f",
      "name": "Skip Daily Upload Already Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        2608
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "contentDetails,snippet"
            },
            {
              "name": "mine",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "e6513b91-25af-4c54-a89e-4bda957aa0bb",
      "name": "YouTube Get My Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        1696
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "l7YqloikIKiIOtOq",
          "name": "YouTube account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Daily Upload Check').first().json || {};\nconst response = $input.first().json || {};\nconst error = response.error?.message || response.message || response.description || null;\nconst channel = Array.isArray(response.items) ? response.items[0] : null;\nconst uploadsPlaylistId = channel?.contentDetails?.relatedPlaylists?.uploads || null;\n\nreturn [{\n  json: {\n    ...base,\n    youtube_upload_check: {\n      ok: Boolean(uploadsPlaylistId) && !error,\n      stage: 'channel_uploads_playlist',\n      error,\n      channel_title: channel?.snippet?.title || null,\n      uploads_playlist_id: uploadsPlaylistId,\n    },\n    uploads_playlist_id: uploadsPlaylistId,\n  },\n}];"
      },
      "id": "47e19dd5-a37d-4c5c-a7d6-1ddac0ff0281",
      "name": "Extract Uploads Playlist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        1696
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/playlistItems",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,contentDetails"
            },
            {
              "name": "maxResults",
              "value": "10"
            },
            {
              "name": "playlistId",
              "value": "={{$json.uploads_playlist_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a1ed451-564b-4b79-b94a-c52d9f383370",
      "name": "YouTube Get Recent Uploads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        1696
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "l7YqloikIKiIOtOq",
          "name": "YouTube account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nfunction kstDate(value = new Date()) {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Asia/Seoul',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(value).reduce((acc, part) => {\n    acc[part.type] = part.value;\n    return acc;\n  }, {});\n  return parts.year + '-' + parts.month + '-' + parts.day;\n}\n\nconst base = $('Extract Uploads Playlist').first().json || {};\nconst response = $input.first().json || {};\nconst today = kstDate();\nconst apiError = base.youtube_upload_check?.error || response.error?.message || response.message || response.description || null;\nconst items = Array.isArray(response.items) ? response.items : [];\nconst uploadsToday = items\n  .map((item) => ({\n    title: item.snippet?.title || null,\n    video_id: item.contentDetails?.videoId || item.snippet?.resourceId?.videoId || null,\n    published_at: item.contentDetails?.videoPublishedAt || item.snippet?.publishedAt || null,\n  }))\n  .filter((item) => item.published_at && kstDate(new Date(item.published_at)) === today);\n\nlet logUploadToday = null;\nif (fs.existsSync(base.upload_log_path)) {\n  for (const line of fs.readFileSync(base.upload_log_path, 'utf8').split(/\\r?\\n/).filter(Boolean)) {\n    try {\n      const row = JSON.parse(line);\n      if (row.date_kst === today && row.url) logUploadToday = row;\n    } catch (error) {}\n  }\n}\n\nconst uploadedToday = uploadsToday.length > 0 || Boolean(logUploadToday);\nconst checkFailed = Boolean(apiError) || base.youtube_upload_check?.ok === false || !base.uploads_playlist_id;\nconst due = !uploadedToday && !checkFailed;\n\nreturn [{\n  json: {\n    ...base,\n    daily_upload_due: due,\n    daily_upload_date_kst: today,\n    youtube_upload_check: {\n      ...base.youtube_upload_check,\n      ok: !checkFailed,\n      stage: checkFailed ? 'failed' : 'recent_uploads_checked',\n      error: apiError,\n      uploaded_today: uploadedToday,\n      uploads_today: uploadsToday,\n      log_upload_today: logUploadToday,\n      recent_checked_count: items.length,\n    },\n    last_upload: uploadsToday[0] || logUploadToday || null,\n    skip_reason: uploadedToday\n      ? 'youtube_channel_already_has_upload_today'\n      : (checkFailed ? 'youtube_upload_check_failed' : null),\n  },\n}];"
      },
      "id": "6d76f49a-e2be-4f19-b165-39f42e9b1ed1",
      "name": "Check Daily Upload Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        1696
      ]
    },
    {
      "id": "9a6b1a45-c8da-4682-847e-7ec911dc2952",
      "name": "Image Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6448,
        1552
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!!$json.image_url}}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "84ab7322-21f8-4175-9347-56c0c771fea4",
      "name": "Wait Image Retry 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6720,
        1328
      ],
      "parameters": {
        "amount": "={{$json.config.image_retry_wait_seconds || 30}}"
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.image_task_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "172fc4ec-efb5-4cf4-a7bb-168119b016d9",
      "name": "KIE Get Image Task Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7200,
        1328
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "id": "c6df8b81-119e-4876-a9d6-ab06acc12ef2",
      "name": "Parse Image Result Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7440,
        1328
      ],
      "parameters": {
        "jsCode": "let base;\ntry {\n  const prepareItems = $('Prepare Image Retry Poll').all();\n  base = prepareItems[prepareItems.length - 1]?.json || $('Prepare Image Retry Poll').last().json;\n} catch (error) {\n  base = $('Parse Image Result').first().json;\n}\nconst response = $input.first().json || {};\nconst data = response.data || response;\nconst state = String(data.state || data.status || '').toLowerCase();\nlet resultJson = data.resultJson || data.result_json || null;\nif (typeof resultJson === 'string' && resultJson.trim()) {\n  try { resultJson = JSON.parse(resultJson); } catch (error) { resultJson = { raw: data.resultJson, parse_error: error.message }; }\n}\nconst urls =\n  resultJson?.resultUrls ||\n  resultJson?.result_urls ||\n  resultJson?.imageUrls ||\n  resultJson?.images ||\n  resultJson?.urls ||\n  data.response?.resultUrls ||\n  data.resultUrls ||\n  data.imageUrls ||\n  [];\nconst first = Array.isArray(urls) ? urls[0] : urls;\nconst imageUrl = typeof first === 'string' ? first : first?.url || first?.imageUrl || first?.src || null;\nconst apiCode = Number(response.code ?? data.code ?? 200);\nconst failed =\n  ['fail', 'failed', 'error'].includes(state) ||\n  Boolean(data.failCode || data.failMsg || response.error) ||\n  (apiCode !== 200 && apiCode !== 0);\n\nif (failed) {\n  throw new Error('KIE image failed. state=' + state + ', taskId=' + (base.image_task_id || '-') + ', message=' + (data.failMsg || response.msg || response.error || ''));\n}\n\nconst attempt = Number(base.image_poll_attempt || 2);\nconst maxAttempts = Number(base.image_poll_max_attempts || base.config?.image_poll_max_attempts || 30);\nconst waitSeconds = Number(base.config?.image_retry_wait_seconds || base.config?.image_poll_interval_seconds || 30);\nconst timeoutSeconds = Number(base.image_poll_timeout_seconds || base.config?.image_poll_timeout_seconds || Math.max(maxAttempts * waitSeconds + 60, 900));\nconst startedMs = Date.parse(base.image_poll_started_at || '');\nconst elapsedSeconds = Number.isFinite(startedMs) ? Math.floor((Date.now() - startedMs) / 1000) : 0;\n\nif (!imageUrl && (attempt >= maxAttempts || elapsedSeconds >= timeoutSeconds)) {\n  throw new Error('KIE image still not ready after ' + attempt + '/' + maxAttempts + ' polls and ' + elapsedSeconds + 's/' + timeoutSeconds + 's. state=' + (state || 'unknown') + ', taskId=' + (base.image_task_id || '-') + '. Wait a few more minutes and poll the same taskId again, or rerun the workflow.');\n}\n\nreturn [{\n  json: {\n    ...base,\n    image_poll_response: response,\n    image_state: state || (imageUrl ? 'succeeded' : 'pending'),\n    image_failed: false,\n    image_ready: Boolean(imageUrl),\n    image_url: imageUrl,\n    image_retry_attempted: true,\n    image_poll_attempt: attempt,\n    image_poll_max_attempts: maxAttempts,\n    image_poll_elapsed_seconds: elapsedSeconds,\n    image_poll_timeout_seconds: timeoutSeconds,\n  },\n}];"
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[items.length - 1]?.json || $input.first().json;\nconst currentAttempt = Number(data.image_poll_attempt || 1);\nconst attempt = currentAttempt + 1;\nconst maxAttempts = Number(data.image_poll_max_attempts || data.config?.image_poll_max_attempts || 30);\nconst waitSeconds = Number(data.config?.image_retry_wait_seconds || data.config?.image_poll_interval_seconds || 30);\nconst timeoutSeconds = Number(data.image_poll_timeout_seconds || data.config?.image_poll_timeout_seconds || Math.max(maxAttempts * waitSeconds + 60, 900));\nconst startedAt = data.image_poll_started_at || new Date().toISOString();\nconst startedMs = Date.parse(startedAt);\nconst elapsedSeconds = Number.isFinite(startedMs) ? Math.floor((Date.now() - startedMs) / 1000) : 0;\nif (currentAttempt >= maxAttempts || elapsedSeconds >= timeoutSeconds) {\n  throw new Error('KIE image retry limit reached before next poll. attempts=' + currentAttempt + '/' + maxAttempts + ', elapsed=' + elapsedSeconds + 's/' + timeoutSeconds + 's, taskId=' + (data.image_task_id || '-'));\n}\nreturn [{\n  json: {\n    ...data,\n    image_poll_attempt: attempt,\n    image_poll_max_attempts: maxAttempts,\n    image_poll_started_at: startedAt,\n    image_poll_elapsed_seconds: elapsedSeconds,\n    image_poll_timeout_seconds: timeoutSeconds,\n  },\n}];"
      },
      "id": "97e520e6-7270-4e05-904a-7efe29629c5f",
      "name": "Prepare Image Retry Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6944,
        1328
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Config": {
      "main": [
        [
          {
            "node": "Fetch Health RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Health RSS": {
      "main": [
        [
          {
            "node": "Build Viral Rank Pack Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Viral Rank Pack Request": {
      "main": [
        [
          {
            "node": "Use Live KIE Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Live KIE Claude?": {
      "main": [
        [
          {
            "node": "KIE Claude Generate Pack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Viral Rank Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Claude Generate Pack": {
      "main": [
        [
          {
            "node": "Parse KIE Claude Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse KIE Claude Pack": {
      "main": [
        [
          {
            "node": "Medical Safety Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Viral Rank Pack": {
      "main": [
        [
          {
            "node": "Medical Safety Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medical Safety Review": {
      "main": [
        [
          {
            "node": "Medical Review Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medical Review Passed?": {
      "main": [
        [
          {
            "node": "Prepare Image and BGM Payloads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Blocked Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Blocked Result": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image and BGM Payloads": {
      "main": [
        [
          {
            "node": "Use Live Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Live BGM?": {
      "main": [
        [
          {
            "node": "KIE Create BGM Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock BGM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Create BGM Task": {
      "main": [
        [
          {
            "node": "Normalize BGM Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize BGM Task": {
      "main": [
        [
          {
            "node": "Wait BGM 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait BGM 30s": {
      "main": [
        [
          {
            "node": "KIE Get BGM Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Get BGM Task": {
      "main": [
        [
          {
            "node": "Parse BGM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse BGM Result": {
      "main": [
        [
          {
            "node": "BGM Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock BGM Result": {
      "main": [
        [
          {
            "node": "Use Live Render?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Live Render?": {
      "main": [
        [
          {
            "node": "Prepare Local FFmpeg Render",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Render Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Render Result": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Downloaded MP4": {
      "main": [
        [
          {
            "node": "Allow YouTube Upload?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow YouTube Upload?": {
      "main": [
        [
          {
            "node": "YouTube Upload Public",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YouTube Upload": {
      "main": [
        [
          {
            "node": "Post Top-Level Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Top-Level Comment": {
      "main": [
        [
          {
            "node": "Attach Comment Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Comment Result": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip YouTube Upload": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Result": {
      "main": [
        [
          {
            "node": "Notify Slack?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack?": {
      "main": [
        [
          {
            "node": "Send Slack Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Webhook Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Webhook": {
      "main": [
        [
          {
            "node": "Attach Slack Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Slack Result": {
      "main": [
        [
          {
            "node": "Is Webhook Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Webhook Run?": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done - Manual or Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Live Image?": {
      "main": [
        [
          {
            "node": "KIE Create Image Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Image Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Create Image Task": {
      "main": [
        [
          {
            "node": "Normalize Image Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Image Task": {
      "main": [
        [
          {
            "node": "Wait Image 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Image 30s": {
      "main": [
        [
          {
            "node": "KIE Get Image Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Get Image Task": {
      "main": [
        [
          {
            "node": "Parse Image Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image Result": {
      "main": [
        [
          {
            "node": "Image Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Image Result": {
      "main": [
        [
          {
            "node": "Use Live BGM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Local FFmpeg Render": {
      "main": [
        [
          {
            "node": "Local FFmpeg Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local FFmpeg Render": {
      "main": [
        [
          {
            "node": "Parse Local Render Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Local Render Result": {
      "main": [
        [
          {
            "node": "Read Rendered MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Rendered MP4": {
      "main": [
        [
          {
            "node": "Attach Downloaded MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BGM Ready?": {
      "main": [
        [
          {
            "node": "Use Live Render?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait BGM Retry 90s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait BGM Retry 90s": {
      "main": [
        [
          {
            "node": "KIE Get BGM Task Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Get BGM Task Retry": {
      "main": [
        [
          {
            "node": "Parse BGM Result Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse BGM Result Final": {
      "main": [
        [
          {
            "node": "Use Live Render?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload Public": {
      "main": [
        [
          {
            "node": "Normalize YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 21:00 Schedule (Disabled)": {
      "main": [
        [
          {
            "node": "Prepare Daily Upload Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Upload Due?": {
      "main": [
        [
          {
            "node": "Load Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Daily Upload Already Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Daily Upload Already Done": {
      "main": [
        [
          {
            "node": "Done - Manual or Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Daily Upload Check": {
      "main": [
        [
          {
            "node": "YouTube Get My Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Get My Channel": {
      "main": [
        [
          {
            "node": "Extract Uploads Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Uploads Playlist": {
      "main": [
        [
          {
            "node": "YouTube Get Recent Uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Get Recent Uploads": {
      "main": [
        [
          {
            "node": "Check Daily Upload Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Daily Upload Due": {
      "main": [
        [
          {
            "node": "Daily Upload Due?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Ready?": {
      "main": [
        [
          {
            "node": "Use Live BGM?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Image Retry 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Get Image Task Retry": {
      "main": [
        [
          {
            "node": "Parse Image Result Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image Result Final": {
      "main": [
        [
          {
            "node": "Image Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Image Retry 30s": {
      "main": [
        [
          {
            "node": "Prepare Image Retry Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Retry Poll": {
      "main": [
        [
          {
            "node": "KIE Get Image Task Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "04a66cf1-8297-4261-846b-48952b1750a8",
  "triggerCount": 0
}
