workflows/n8n_하루건강약사_수동실행.json
{
  "id": "mxrYb3maJS31gEYC",
  "name": "하루건강약사 - 로컬 n8n 이미지+BGM 업로드",
  "nodes": [
    {
      "parameters": {
        "content": "로컬 n8n 업로드 버전\n\n- 음성 생성 없음\n- KIE 이미지 생성\n- KIE BGM 생성\n- 로컬 ffmpeg 정적 카드 MP4 렌더\n- YouTube public 업로드 켜짐\n- 실행하면 KIE 크레딧만 사용",
        "height": 200,
        "width": 470
      },
      "id": "e69caa07-76b6-43cb-a82a-b2e2de887eb1",
      "name": "Format Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        2256
      ]
    },
    {
      "parameters": {},
      "id": "29000a16-13fc-4e7d-a0f9-0b5617e48c39",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2064,
        2576
      ]
    },
    {
      "parameters": {
        "jsCode": "function bool(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  if (typeof value === 'string') return ['true', '1', 'yes', 'y', 'on'].includes(value.trim().toLowerCase());\n  return Boolean(value);\n}\n\nfunction normalizeSunoModel(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return 'V5_5';\n  if (raw.toLowerCase() === 'suno-v5_5') return 'V5_5';\n  if (raw.toLowerCase() === 'suno-v5') return 'V5';\n  return raw;\n}\n\nfunction cleanString(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction list(value) {\n  if (Array.isArray(value)) return value.map(cleanString).filter(Boolean);\n  const text = cleanString(value);\n  if (!text) return [];\n  return text.split(/[,\\n|]/).map(cleanString).filter(Boolean);\n}\n\nconst first = $input.first()?.json ?? {};\nconst isWebhook = first.body !== undefined && first.headers !== undefined;\nconst incoming = isWebhook ? (first.body || {}) : first;\nconst dryRun = bool(incoming.dry_run, bool(incoming.test_mode, false));\nconst privacyInput = incoming.youtube_privacy_status || incoming.YOUTUBE_PRIVACY_STATUS || 'public';\nconst requestedPrivacy = ['public', 'unlisted', 'private'].includes(String(privacyInput).toLowerCase())\n  ? String(privacyInput).toLowerCase()\n  : 'public';\nconst variationSeed =\n  cleanString(incoming.variation_seed || incoming.seed) ||\n  [new Date().toISOString(), Math.random().toString(16).slice(2, 10)].join('-');\n\nconst model_config = {\n  prompt_model: incoming.PROMPT_MODEL || incoming.prompt_model || 'claude-opus-4-7',\n  image_model: incoming.IMAGE_MODEL || incoming.image_model || 'gpt-image-2-text-to-image',\n  image_edit_model: incoming.IMAGE_EDIT_MODEL || incoming.image_edit_model || 'gpt-image-2-image-to-image',\n  music_model: incoming.MUSIC_MODEL || incoming.music_model || 'suno-v5_5',\n};\n\nconst config = {\n  run_mode: dryRun ? 'dry_run' : 'live_upload',\n  test_mode: dryRun,\n  dry_run: dryRun,\n  use_live_kie_ai: !dryRun && bool(incoming.use_live_kie_ai, true),\n  use_live_image: !dryRun && bool(incoming.use_live_image, true),\n  use_live_bgm: !dryRun && bool(incoming.use_live_bgm, true),\n  use_live_render: !dryRun && bool(incoming.use_live_render, true),\n  allow_youtube_upload: !dryRun && bool(incoming.allow_youtube_upload, true),\n  youtube_privacy_status: requestedPrivacy,\n  rank_count: Number(incoming.rank_count || 7),\n  duration_seconds: Number(incoming.duration_seconds || 5),\n  kie_ai_model: incoming.kie_ai_model || model_config.prompt_model,\n  kie_image_model: incoming.kie_image_model || model_config.image_model,\n  kie_image_edit_model: incoming.kie_image_edit_model || model_config.image_edit_model,\n  kie_bgm_model_requested: incoming.kie_bgm_model || model_config.music_model,\n  kie_bgm_model: normalizeSunoModel(incoming.kie_bgm_model || model_config.music_model),\n  render_provider: incoming.render_provider || 'local_ffmpeg_full_image_card',\n  local_render_dir: incoming.local_render_dir || 'C:/dev/n8n-local/renders',\n  local_render_script: incoming.local_render_script || 'C:/dev/n8n-local/scripts/render-static-card.mjs',\n  ffmpeg_path:\n    incoming.ffmpeg_path ||\n    'C:/Users/hjyeo/AppData/Local/Microsoft/WinGet/Packages/Gyan.FFmpeg_Microsoft.Winget.Source_8wekyb3d8bbwe/ffmpeg-8.1-full_build/bin/ffmpeg.exe',\n  node_path: incoming.node_path || 'C:/Program Files/nodejs/node.exe',\n  poll_interval_seconds: Number(incoming.poll_interval_seconds || 30),\n  image_poll_interval_seconds: Number(incoming.image_poll_interval_seconds || 120),\n  youtube_category_id: String(incoming.youtube_category_id || '27'),\n  region_code: incoming.region_code || 'KR',\n  timezone: incoming.timezone || 'Asia/Seoul',\n  rss_url:\n    incoming.rss_url ||\n    'https://news.google.com/rss/search?q=%EA%B1%B4%EA%B0%95%20%EC%88%98%EB%A9%B4%20%ED%98%88%EB%8B%B9%20%EC%9A%B4%EB%8F%99%20%EC%98%81%EC%96%91&hl=ko&gl=KR&ceid=KR:ko',\n  topic_candidates: Array.isArray(incoming.topic_candidates) ? incoming.topic_candidates : [],\n  recent_titles: list(incoming.recent_titles || incoming.previous_titles || incoming.recent_topics),\n  diversity_mode: incoming.diversity_mode || 'rotating_profiles',\n  variation_seed: variationSeed,\n  content_lane_override: cleanString(incoming.content_lane || incoming.content_lane_override),\n  visual_profile_override: cleanString(incoming.visual_profile || incoming.visual_profile_override),\n  bgm_profile_override: cleanString(incoming.bgm_profile || incoming.bgm_profile_override),\n  notify_slack: !dryRun && bool(incoming.notify_slack, false),\n  slack_webhook_url: incoming.slack_webhook_url || '',\n  trigger_type: isWebhook ? 'webhook' : 'manual_or_schedule',\n  model_config,\n};\n\nreturn [{ json: { config, incoming, trigger: { type: config.trigger_type, received_at: new Date().toISOString() } } }];"
      },
      "id": "b9d35d0c-8314-4e37-82bb-c3379a7eeab6",
      "name": "Load Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        2576
      ]
    },
    {
      "parameters": {
        "content": "필요 credential:\n- KIE API Header Auth\n- YouTube OAuth2 API\n\n기본 실행은 live_upload입니다.\n- KIE Claude/Image/BGM 실행\n- 로컬 ffmpeg 정적 카드 렌더\n- YouTube public 업로드 실행\n- BGM 기본 켜짐\n- dry_run=true 또는 test_mode=true일 때만 mock/skip",
        "height": 170,
        "width": 430
      },
      "id": "bfad6f23-0c08-4ad7-852a-4c6954150b94",
      "name": "Credentials",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2640,
        2256
      ]
    },
    {
      "parameters": {
        "url": "={{$json.config.rss_url}}",
        "options": {}
      },
      "id": "eebb1fe1-e4ea-46d4-89b0-52fd5ec5f170",
      "name": "Fetch Health RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        2624,
        2576
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Load Config').first().json;\nconst cfg = base.config;\nconst rankWord = String.fromCharCode(50948);\nconst rankLabel = (value) => String(value) + rankWord;\nconst hookExamples = ['내 몸이 보내는 조용한 경고', '영양제 괜히 사지 마라', '혈당 급행 vs 저속행', '병원비 줄이는 식탁', '가족 건강을 위협하는 주방 습관', '죽을 때까지 내 발로 걷고 싶다면', '나이 들수록 반드시 줄일 것', '대부분이 잘못 알고 있는', '모르면 평생 손해', '주부 9단도 깜짝 놀란', '자격증 없이 시작하는', '돈 없어도 대접받는'].join(', ');\nconst cautiousPhrases = ['도움 될 수 있습니다', '부담될 수 있습니다', '지나치게 하지 않는 게 좋습니다'].join(', ');\nconst ctaComment = '오늘 순위 중 하나만 바꿔도 충분합니다. 평소 헷갈렸던 영양제, 음식, 생활습관 질문은 댓글로 남겨주세요. 하루건강약사가 쉽게 풀어드리겠습니다.';\nconst referenceHookTitles = [\n  '영양제 괜히 사지 마라! 돈 아끼는 대체 식품 11가지',\n  '나이 들수록 반드시 줄여야 할 음식 5가지',\n  '건강하게 오래 살려면? 당장 멈춰야 할 5가지 습관',\n  '내 몸이 보내는 조용한 경고! 간 이상 신호 10가지',\n  '죽을 때까지 내 발로 걷고 싶다면 꼭 해야 할 필수 습관 7가지',\n  '내 가족 건강을 위협하는 최악의 주방 습관 10가지',\n  '같은 밥상 다른 목적지! 혈당 급행 vs 저속행 음식 비교',\n  '병원비 1억 아끼는 최고의 노화 방지 아침 식단',\n  '혼자 살아도 절대 늙지 않는 사람들의 10가지 특징',\n  '고혈압보다 무서운 늙은 혈관을 살리는 음식 10가지',\n];\nconst broadViralReferenceTitles = [\n  '은퇴 후 제2의 인생! 자격증 없이 시작하는 일자리 TOP 12',\n  '대부분이 잘못 알고 있는 자동차 상식 10가지',\n  '내 인생의 황금기! 나에게 대운이 찾아오는 시기는?',\n  '돈 없어도 대접받는 노인의 7가지 무기',\n  '주부 9단도 깜짝 놀란 10가지 집밥 마술 비법',\n  '모르면 평생 손해! 전기요금 반값으로 줄이는 절약 꿀팁',\n  '모르면 대화가 안 통하는 필수 외래어 20가지',\n  '집 정리할 때 1순위로 비워야 할 10가지',\n  '인생이 편안해지는 삶의 10계명',\n  '착하게 살지 말고 똑똑하게 살아라',\n  '성공해서 잘 사는 사람들의 7가지 공통점',\n  '나와 가족을 지키는 7가지 필수 생존 수칙',\n];\nconst rssItems = $input.all().map((item) => item.json || {});\n\nfunction clean(value) {\n  return String(value || '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction hashText(value) {\n  let hash = 2166136261;\n  const text = String(value || '');\n  for (let index = 0; index < text.length; index += 1) {\n    hash ^= text.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return hash >>> 0;\n}\n\nfunction pick(items, salt) {\n  return items[hashText([cfg.variation_seed, salt].join('|')) % items.length];\n}\n\nfunction findById(items, value) {\n  const key = clean(value).toLowerCase();\n  if (!key) return null;\n  return items.find((item) => item.id.toLowerCase() === key || item.title.toLowerCase() === key) || null;\n}\n\nconst contentLanes = [\n  { id: 'sleep_recovery', title: '수면 회복', angle: '잠들기 전 환경, 빛, 체온, 카페인, 저녁 루틴처럼 바로 점검 가능한 생활 장면' },\n  { id: 'blood_sugar_meals', title: '식후 혈당과 식사 구성', angle: '밥 양만 말하지 말고 식사 순서, 간식, 음료, 야식, 외식 조합을 다룰 것' },\n  { id: 'joint_mobility', title: '무릎·허리·걷기 습관', angle: '운동 처방이 아니라 신발, 계단, 스트레칭 타이밍, 집안 동선처럼 안전한 생활 습관' },\n  { id: 'digestion_gut', title: '소화와 속 편한 식사', angle: '씹는 속도, 국물, 과식, 식후 자세, 늦은 저녁처럼 흔하지만 놓치는 행동' },\n  { id: 'hydration_salt', title: '수분·나트륨·붓기', angle: '물 마시는 타이밍, 짠 반찬, 국물, 음료 선택, 아침 붓기 같은 실생활 체크' },\n  { id: 'kitchen_storage', title: '냉장고·보관·조리 습관', angle: '식재료 보관, 데우기, 오래 둔 반찬, 장보기 실수처럼 시각적으로 다른 소재' },\n  { id: 'supplement_basics', title: '영양제보다 먼저 볼 것', angle: '복용량 안내 없이 중복 구매, 식사 불균형, 물 대신 커피처럼 안전한 점검 포인트' },\n  { id: 'body_signals', title: '매일 보는 몸의 신호', angle: '피로, 갈증, 발 붓기, 소변색, 수면 질처럼 진단이 아닌 관찰 포인트' },\n  { id: 'seasonal_home', title: '계절·집안 환경', angle: '더위, 추위, 습도, 환기, 조명, 실내복처럼 계절감 있는 소재' },\n  { id: 'shopping_labels', title: '장보기·라벨 읽기', angle: '숨은 당, 나트륨, 믹스커피, 소스, 간편식처럼 물건과 숫자가 보이는 소재' },\n  { id: 'morning_energy', title: '아침 활력 루틴', angle: '햇빛, 물, 식사, 움직임, 스마트폰처럼 아침 장면 중심' },\n  { id: 'evening_reset', title: '저녁 리셋 루틴', angle: '소파, 샤워, 간식, 조명, 방 온도처럼 밤 장면 중심' },\n  { id: 'senior_life_wisdom', title: '시니어 생활 지혜', angle: '은퇴, 인간관계, 돈 없어도 대접받는 태도, 혼자 살아도 품위 유지처럼 시니어가 궁금해할 삶의 기술' },\n  { id: 'money_saving_home', title: '생활비·병원비·장보기 절약', angle: '전기요금, 병원비, 장바구니, 영양제 비용처럼 바로 돈과 연결되는 실용 정보' },\n  { id: 'household_common_sense', title: '집안 상식·살림 꿀팁', angle: '유통기한, 냉장고, 전자레인지, 집 정리, 생활 상식처럼 조회수 잘 나오는 저장형 정보' },\n  { id: 'food_cooking_magic', title: '음식·집밥 비법', angle: '주부 9단, 달인, 집밥 맛, 식재료 활용처럼 시각적이고 따라 하기 쉬운 소재' },\n  { id: 'brain_memory_knowledge', title: '뇌·기억·상식 퀴즈', angle: '외래어, 뇌세포, 기억력, 대화가 통하는 상식처럼 댓글과 공유를 부르는 소재' },\n];\n\nconst selectedLane =\n  findById(contentLanes, cfg.content_lane_override) ||\n  pick(contentLanes, 'content_lane');\n\nconst manual = (cfg.topic_candidates || []).map((entry, index) => {\n  if (typeof entry === 'string') return { title: clean(entry), source: 'manual', score: 130 - index, lane: 'manual' };\n  return { title: clean(entry.title || entry.topic || entry.name), source: entry.source || 'manual', score: Number(entry.score || 130 - index), lane: entry.lane || 'manual' };\n});\n\nconst rss = rssItems\n  .filter((item) => item && !item.error)\n  .map((item, index) => ({ title: clean(item.title), source: 'rss', url: item.link || item.guid || '', score: 90 - index, lane: 'rss' }))\n  .filter((candidate) => candidate.title);\n\nconst referenceViral = broadViralReferenceTitles\n  .map((title, index) => ({ title, source: 'reference_high_view_pattern', score: 125 - index, lane: 'reference' }));\n\nconst evergreenPool = [\n  { lane: 'sleep_recovery', title: '새벽에 자주 깨는 사람이 무심코 하는 행동 7' },\n  { lane: 'sleep_recovery', title: '잠을 깊게 못 자는 날, 저녁에 확인할 신호 7' },\n  { lane: 'sleep_recovery', title: '자기 전 이것만 줄여도 밤이 편해지는 습관 7' },\n  { lane: 'sleep_recovery', title: '아침까지 피곤한 사람이 놓치는 침실 조건 7' },\n  { lane: 'blood_sugar_meals', title: '같은 밥상, 혈당 급행 vs 저속행 선택 7' },\n  { lane: 'blood_sugar_meals', title: '믹스커피 좋아하면 꼭 봐야 할 숨은 당 습관 7' },\n  { lane: 'blood_sugar_meals', title: '밥 먹고 졸린 사람이 놓치는 식사 순서 7' },\n  { lane: 'blood_sugar_meals', title: '달지 않은데 혈당을 흔들 수 있는 음식 7' },\n  { lane: 'joint_mobility', title: '죽을 때까지 내 발로 걷고 싶다면 피할 습관 7' },\n  { lane: 'joint_mobility', title: '무릎이 먼저 늙는 사람이 반복하는 행동 7' },\n  { lane: 'joint_mobility', title: '계단 오를 때 무릎 부담 키우는 실수 7' },\n  { lane: 'joint_mobility', title: '걷기 운동해도 다리가 무거운 이유 7' },\n  { lane: 'digestion_gut', title: '속이 더부룩한 사람이 의외로 계속 먹는 음식 7' },\n  { lane: 'digestion_gut', title: '저녁 먹고 배가 빵빵한 날 확인할 습관 7' },\n  { lane: 'digestion_gut', title: '장 건강 좋다며 오히려 과하게 먹는 음식 7' },\n  { lane: 'digestion_gut', title: '먹는 양은 적은데 속이 불편한 이유 7' },\n  { lane: 'hydration_salt', title: '아침마다 붓는 사람이 전날 먹은 것 7' },\n  { lane: 'hydration_salt', title: '물을 마셔도 계속 목마른 사람의 습관 7' },\n  { lane: 'hydration_salt', title: '짠맛 줄였는데도 나트륨이 늘어나는 식탁 7' },\n  { lane: 'hydration_salt', title: '혈압 걱정된다면 먼저 줄일 국물 습관 7' },\n  { lane: 'kitchen_storage', title: '내 가족 건강을 위협하는 주방 보관 실수 7' },\n  { lane: 'kitchen_storage', title: '냉장고에 넣으면 손해 보는 식재료 7' },\n  { lane: 'kitchen_storage', title: '전자레인지 돌리기 전 꼭 확인할 음식 7' },\n  { lane: 'kitchen_storage', title: '유통기한 지났다고 바로 버리면 손해 보는 기준 7' },\n  { lane: 'supplement_basics', title: '영양제 괜히 사기 전 먼저 먹을 음식 7' },\n  { lane: 'supplement_basics', title: '돈 아끼려면 먼저 끊어야 할 영양제 실수 7' },\n  { lane: 'supplement_basics', title: '몸에 좋다며 매일 먹다가 놓치는 조합 7' },\n  { lane: 'supplement_basics', title: '약국에서 자주 보는 영양제 오해 7' },\n  { lane: 'body_signals', title: '내 몸이 보내는 조용한 경고 신호 7' },\n  { lane: 'body_signals', title: '아침 몸 상태로 알 수 있는 생활 힌트 7' },\n  { lane: 'body_signals', title: '피곤함이 오래갈 때 먼저 볼 몸의 신호 7' },\n  { lane: 'body_signals', title: '손발이 자주 붓는 사람이 놓치는 신호 7' },\n  { lane: 'seasonal_home', title: '더운 날 컨디션 망치는 집안 습관 7' },\n  { lane: 'seasonal_home', title: '에어컨 켠 날 목과 잠을 불편하게 하는 것 7' },\n  { lane: 'seasonal_home', title: '장마철 집에서 의외로 건강을 흔드는 습관 7' },\n  { lane: 'seasonal_home', title: '여름에 기력 떨어지는 사람이 놓치는 것 7' },\n  { lane: 'shopping_labels', title: '장볼 때 건강해 보여도 다시 봐야 할 라벨 7' },\n  { lane: 'shopping_labels', title: '무가당이라 믿고 사면 놓치기 쉬운 것 7' },\n  { lane: 'shopping_labels', title: '병원비 줄이고 싶다면 장바구니에서 뺄 것 7' },\n  { lane: 'shopping_labels', title: '간편식 살 때 나만 손해 보는 선택 7' },\n  { lane: 'morning_energy', title: '아침마다 몸이 천근만근이면 꼭 볼 습관 7' },\n  { lane: 'morning_energy', title: '하루 기력을 떨어뜨리는 아침 첫 행동 7' },\n  { lane: 'morning_energy', title: '아침 공복에 무심코 하면 부담되는 습관 7' },\n  { lane: 'morning_energy', title: '뇌가 덜 깬 느낌이면 확인할 아침 루틴 7' },\n  { lane: 'evening_reset', title: '쉬었는데 더 피곤한 사람의 저녁 습관 7' },\n  { lane: 'evening_reset', title: '소파에 눕는 순간 몸이 무거워지는 이유 7' },\n  { lane: 'evening_reset', title: '밤에 먹으면 다음 날까지 남는 음식 습관 7' },\n  { lane: 'evening_reset', title: '자기 전 가족들이 자주 반복하는 최악의 습관 7' },\n  { lane: 'senior_life_wisdom', title: '돈 없어도 대접받는 사람의 생활 태도 7' },\n  { lane: 'senior_life_wisdom', title: '혼자 살아도 절대 늙어 보이지 않는 습관 7' },\n  { lane: 'senior_life_wisdom', title: '은퇴 후 제2의 인생, 자격증 없이 시작할 루틴 7' },\n  { lane: 'money_saving_home', title: '모르면 평생 손해 보는 병원비·약값 습관 7' },\n  { lane: 'money_saving_home', title: '전기요금 반값으로 줄이는 여름 집안 습관 7' },\n  { lane: 'money_saving_home', title: '영양제 괜히 사기 전 장바구니에서 뺄 것 7' },\n  { lane: 'household_common_sense', title: '대부분이 잘못 알고 있는 냉장고 상식 7' },\n  { lane: 'household_common_sense', title: '집 정리할 때 1순위로 비워야 할 것 7' },\n  { lane: 'household_common_sense', title: '유통기한 지났다고 바로 버리면 손해 보는 것 7' },\n  { lane: 'food_cooking_magic', title: '주부 9단도 깜짝 놀란 집밥 맛 살리는 비법 7' },\n  { lane: 'food_cooking_magic', title: '나이 들수록 반드시 줄여야 할 조리 습관 7' },\n  { lane: 'food_cooking_magic', title: '같은 재료로 더 건강하게 먹는 집밥 비법 7' },\n  { lane: 'brain_memory_knowledge', title: '뇌과학자가 추천하는 아침 뇌 깨우는 습관 7' },\n  { lane: 'brain_memory_knowledge', title: '모르면 대화가 안 통하는 건강 외래어 7' },\n  { lane: 'brain_memory_knowledge', title: '기억력이 흐려지는 사람이 놓치는 아침 신호 7' },\n];\n\nconst laneCandidates = evergreenPool\n  .map((entry, index) => ({\n    title: entry.title,\n    source: entry.lane === selectedLane.id ? 'evergreen_selected_lane' : 'evergreen_cross_lane',\n    lane: entry.lane,\n    score: (entry.lane === selectedLane.id ? 85 : 55) - index / 100,\n  }))\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 16);\n\nconst seen = new Set();\nconst topic_candidates = [...manual, ...referenceViral, ...rss, ...laneCandidates].filter((candidate) => {\n  const key = candidate.title.toLowerCase();\n  if (!candidate.title || seen.has(key)) return false;\n  seen.add(key);\n  return true;\n}).slice(0, 30);\n\nconst tiredExamples = [\n  '늦은 밤 과일 한 접시',\n  '국에 밥 말아 먹기',\n  '저녁 후 바로 눕기',\n  '흰쌀밥만 가득 한 공기',\n  '달콤한 믹스커피 한 잔',\n  '야식 라면과 김밥',\n  '자기 전 과자 한 봉지',\n  '잠들기 직전 따뜻한 샤워',\n  '불 끄고 보는 스마트폰',\n  '자기 전 물 벌컥 마시기',\n];\n\nconst schema = {\n  content_lane: selectedLane.id,\n  format_angle: '이번 영상의 차별화 각도',\n  theme: '랭킹 주제',\n  hook_title: '큰 화면 제목. 예: 50대 이후, 장볼 때 놓치는 라벨 습관 7',\n  subtitle: '궁금증을 만드는 짧은 보조 문구',\n  visual_mood_hint: '이미지 생성에 참고할 시각 분위기. 예: 밝은 마트 진열대, 라벨 체크리스트, 산뜻한 민트 포인트',\n  rank_items: [\n    { rank: 1, name: '항목명', reason: '8-16자 안팎의 짧은 이유', caution: '주의 문구 또는 빈 문자열' },\n  ],\n  video_script: 'Short spoken/video copy for 4-5 seconds. No visible disclaimer or consult-professional wording.',\n  description: 'Temporary draft only. Final upload description is generated deterministically from rank_items plus the 하루건강약사 self-introduction tone.',\n  tags: ['건강정보', '시니어건강'],\n  pinned_comment: ctaComment,\n  bgm_prompt: 'one varied calm premium instrumental music direction, no vocals',\n  medical_claims: ['건강 주장 목록'],\n  safety_notes: ['피한 표현'],\n};\n\nconst prompt = [\n  'Create one Korean YouTube Shorts pack for a high-retention ranked card for 하루건강약사. It may be health, senior lifestyle, household, food/cooking, money-saving, or common-sense if useful to Korean ages 50-60.',\n  'Target viewer: Korean ages 50-60. They should feel: I may be doing this, I should check this now.',\n  'This run must feel different from prior uploads. Use a fresh topic lane, fresh objects, fresh verbs, and fresh thumbnail mood.',\n  'Selected content lane: ' + selectedLane.id + ' / ' + selectedLane.title + '. Angle: ' + selectedLane.angle + '.',\n  'The visual format is one finished vertical infographic card. The list must show ' + rankLabel(1) + ' at the TOP, then ' + rankLabel(2) + ', ' + rankLabel(3) + ', down to rank_count.',\n  'Do not make boring textbook food lists. Prefer practical tension: common habits, surprising storage mistakes, body signals, money-saving choices, senior life problems, household mistakes, cooking hacks, common-sense gaps, sleep/blood-sugar/knee/digestion pitfalls, things people overlook daily.',\n  'Reference hook patterns from the benchmark channel. Learn from both health and non-health winners. Exact title structures may be borrowed or adapted when they fit: ' + referenceHookTitles.concat(broadViralReferenceTitles).join(' / ') + '.',\n  'Avoid starting hook_title with the fixed phrase 50대 이후 unless the age angle is truly essential. Use proven openers like 대부분이 잘못 알고 있는, 모르면 평생 손해, 주부 9단도 깜짝 놀란, 자격증 없이, 돈 없어도 대접받는, 나이 들수록, 아침마다, 같은 밥상, 내 몸이 보내는, 가족 건강, 영양제 before buying, or another specific curiosity opener instead.',\n  'Avoid repeating these recently overused examples unless absolutely necessary: ' + tiredExamples.join(', ') + '.',\n  cfg.recent_titles?.length ? 'Also avoid these recent titles/topics: ' + cfg.recent_titles.join(' / ') + '.' : '',\n  'Hook style: specific, curiosity-driven, useful. Examples: ' + hookExamples + '. No fake certainty or fearmongering.',\n  'Reasons must be short enough for a dense infographic row: ideally 8-14 Korean characters.',\n  'BGM direction should vary by run while staying calm and premium: acoustic, light jazz, Korean fusion, ambient piano, warm woodwind, or soft bossa are all allowed. No vocals, no EDM, no heavy drums.',\n  'Return strict JSON only. No markdown.',\n  'Rules:',\n  '- No cure, guaranteed treatment, guaranteed disease prevention.',\n  '- No medication/supplement dosage or prescription change.',\n  '- No fake doctor identity, fake clinic authority, or miracle language. If the topic is non-health, do not force medical claims; make it a practical senior-life or household ranked card.',\n  '- Use soft phrasing when needed: ' + cautiousPhrases + '.',\n  '- Do not add boilerplate safety/disclaimer copy in title, card text, description, script, or comment. No consult-professional or not-medical-advice wording.',\n  '- pinned_comment must use this exact friendly pharmacist tone: ' + ctaComment,\n  '- Ranking count must be exactly ' + cfg.rank_count + '.',\n  '- Use rank values ascending for display: ' + rankLabel(1) + ' first/top ... ' + rankLabel(cfg.rank_count) + ' last/bottom.',\n  'Schema:',\n  JSON.stringify(schema),\n  'Candidates:',\n  JSON.stringify(topic_candidates, null, 2),\n].filter(Boolean).join('\\n\\n');\n\nconst kie_claude_request = {\n  model: cfg.kie_ai_model,\n  stream: false,\n  max_tokens: 3200,\n  messages: [{ role: 'user', content: prompt }],\n};\n\nreturn [{ json: { ...base, selected_content_lane: selectedLane, topic_candidates, kie_claude_request } }];"
      },
      "id": "a1f077c9-455f-4074-8ebd-40ed0a291d43",
      "name": "Build Viral Rank Pack Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        2576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.use_live_kie_ai}}",
              "value2": true
            }
          ]
        }
      },
      "id": "6cf7174a-c852-4378-b428-f907ef8b87d4",
      "name": "Use Live KIE Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3200,
        2576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/claude/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.kie_claude_request) }}",
        "options": {}
      },
      "id": "bd6c9a6f-2eb4-41e9-9133-b9fda4ebd7e2",
      "name": "KIE Claude Generate Pack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3536,
        2400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Build Viral Rank Pack Request').first().json;\nconst response = $input.first().json || {};\nconst cfg = base.config || {};\nfunction hashText(value) {\n  let hash = 2166136261;\n  const text = String(value || '');\n  for (let index = 0; index < text.length; index += 1) {\n    hash ^= text.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return hash >>> 0;\n}\n\nfunction pick(items, seed, salt) {\n  return items[hashText([seed, salt].join('|')) % items.length];\n}\n\nfunction rows(values) {\n  return values.map((value, index) => {\n    const [name, reason, caution = ''] = value.split('|');\n    return { rank: index + 1, name, reason, caution };\n  });\n}\n\nfunction makePack(entry) {\n  return {\n    content_lane: entry.lane,\n    format_angle: entry.angle,\n    theme: entry.theme,\n    hook_title: entry.title,\n    subtitle: entry.subtitle,\n    visual_mood_hint: entry.visual,\n    rank_items: rows(entry.rows),\n    video_script: entry.script,\n    description: entry.description,\n    tags: ['건강정보', '시니어건강', ...entry.tags, 'shorts'],\n    pinned_comment: '오늘 순위 중 하나만 바꿔도 충분합니다. 평소 헷갈렸던 영양제, 음식, 생활습관 질문은 댓글로 남겨주세요. 하루건강약사가 쉽게 풀어드리겠습니다.',\n    bgm_prompt: entry.bgm,\n    medical_claims: entry.claims,\n    safety_notes: ['과장 표현 없음', '치료/완치 보장 표현 없음', '복용량 표현 없음'],\n  };\n}\n\nconst fallbackPacks = [];\n\nconst viralFallbackPacks = [\n  makePack({\n    lane: 'body_signals',\n    angle: '아침 몸 상태와 생활 습관을 연결해 점검',\n    theme: '몸의 조용한 신호',\n    title: '내 몸이 보내는 조용한 경고 신호 7',\n    subtitle: '큰 병 이야기보다 생활 점검입니다',\n    visual: '아침 세면대, 손발, 물컵, 체크 아이콘, 밝은 화이트와 스카이블루',\n    rows: ['입이 자주 마름|수분 습관 점검', '발이 무겁게 느낌|짠맛을 돌아봄', '눈이 뻑뻑함|화면 시간을 확인', '어깨가 굳어 있음|잠자리 자세 점검', '속이 더부룩함|늦은 식사 확인', '머리가 무거움|수면 리듬 점검', '피로가 오래 감|휴식 질을 확인'],\n    script: '몸이 보내는 작은 신호는 전날 생활을 돌아보는 힌트가 될 수 있습니다.',\n    description: '몸의 작은 신호와 생활 습관을 정리했습니다.\\n#건강정보 #시니어건강 #생활습관 #하루건강약사 #쇼츠',\n    tags: ['몸상태', '생활습관', '아침루틴'],\n    bgm: 'clean soft piano with gentle woodwind accents, morning wellness show mood, no vocals, no drums',\n    claims: ['몸 상태는 생활 습관을 돌아보는 힌트가 될 수 있다.'],\n  }),\n  makePack({\n    lane: 'supplement_basics',\n    angle: '영양제 구매 전에 음식과 생활 기반을 먼저 점검',\n    theme: '영양제 전 점검',\n    title: '영양제 괜히 사기 전 먼저 먹을 음식 7',\n    subtitle: '돈 쓰기 전에 식탁부터 봅니다',\n    visual: '약국 상담대, 식탁 재료, 물컵, 영수증, 민트와 차콜 포인트',\n    rows: ['달걀|단백질 기본 점검', '두부|속 편한 단백질', '등푸른 생선|기름 선택 확인', '견과류|소량으로 충분', '제철 채소|식탁 균형 잡기', '요거트|당 함량 먼저 확인', '물|기본 수분부터'],\n    script: '영양제를 더하기 전, 먼저 식탁에서 채울 수 있는 기본을 확인해 보세요.',\n    description: '영양제 전에 먼저 볼 음식과 습관을 정리했습니다.\\n#건강정보 #시니어건강 #영양제 #음식 #쇼츠',\n    tags: ['영양제', '음식', '건강식단'],\n    bgm: 'premium calm piano and warm strings with soft pad, trustworthy health show mood, no vocals',\n    claims: ['기본 식사와 수분은 컨디션 관리의 바탕이 될 수 있다.'],\n  }),\n  makePack({\n    lane: 'blood_sugar_meals',\n    angle: '같은 밥상에서 혈당 부담이 달라지는 선택을 비교',\n    theme: '혈당 식탁 선택',\n    title: '같은 밥상, 혈당 급행 vs 저속행 선택 7',\n    subtitle: '무엇을 먼저 먹느냐가 달라집니다',\n    visual: '밥상 비교 화면, 밥그릇, 채소, 단백질 접시, 코랄과 블루 포인트',\n    rows: ['밥 먼저 먹기|탄수화물 먼저 몰림', '채소 먼저 먹기|속도 조절 도움', '단 음료 곁들이기|숨은 당이 더해짐', '국물 끝까지 마시기|짠맛이 늘어남', '단백질 빼먹기|금방 허기짐', '과일 후식 추가|당 부담 겹침', '천천히 씹기|포만감 신호 확인'],\n    script: '같은 밥상도 순서와 조합에 따라 식후 느낌이 달라질 수 있습니다.',\n    description: '식사 순서와 혈당 부담을 랭킹으로 정리했습니다.\\n#건강정보 #시니어건강 #혈당관리 #식사습관 #쇼츠',\n    tags: ['혈당관리', '식사습관', '생활습관'],\n    bgm: 'soft marimba and piano with warm strings, calm lifestyle health mood, no vocals, no heavy drums',\n    claims: ['식사 순서와 조합은 식후 컨디션에 영향을 줄 수 있다.'],\n  }),\n  makePack({\n    lane: 'kitchen_storage',\n    angle: '가정 주방에서 반복되는 보관과 조리 실수를 점검',\n    theme: '주방 보관 실수',\n    title: '내 가족 건강을 위협하는 주방 보관 실수 7',\n    subtitle: '익숙해서 더 놓치기 쉽습니다',\n    visual: '밝은 주방, 냉장고 칸, 도마, 밀폐용기, 세이지와 옐로 포인트',\n    rows: ['뜨거운 국 바로 넣기|주변 온도 올라감', '젖은 채소 밀폐|쉽게 무를 수 있음', '문쪽에 우유 두기|온도 변화가 잦음', '도마 물기 방치|냄새가 남기 쉬움', '남은 밥 오래 두기|맛과 상태 저하', '라벨 날짜 안 쓰기|보관일을 놓침', '반찬 뚜껑 느슨함|냄새가 섞임'],\n    script: '가족이 매일 쓰는 주방일수록 보관 습관을 한 번 더 확인해 보세요.',\n    description: '주방 보관과 조리 전 확인할 습관을 정리했습니다.\\n#건강정보 #시니어건강 #주방습관 #냉장고정리 #쇼츠',\n    tags: ['주방습관', '냉장고정리', '생활습관'],\n    bgm: 'gentle acoustic bossa with nylon guitar, soft piano, light brushed percussion, warm kitchen morning mood, no vocals',\n    claims: ['보관 습관은 음식의 맛과 상태에 영향을 줄 수 있다.'],\n  }),\n  makePack({\n    lane: 'joint_mobility',\n    angle: '오래 걷기 위한 일상 습관을 관절 부담 관점에서 점검',\n    theme: '걷기 습관',\n    title: '죽을 때까지 내 발로 걷고 싶다면 피할 습관 7',\n    subtitle: '운동보다 먼저 보는 작은 준비',\n    visual: '공원 산책길, 운동화, 계단, 체크리스트, 하늘색과 라임 포인트',\n    rows: ['낡은 신발 그대로|발목이 흔들림', '처음부터 빠르게|몸이 덜 풀림', '보폭 크게 걷기|허리가 흔들림', '물 없이 오래 걷기|쉽게 지침', '계단만 고집하기|무릎 부담 증가', '아픈 날 참고 걷기|불편감이 커짐', '걷고 바로 앉기|다리가 뻣뻣함'],\n    script: '걷기 전 작은 준비가 무릎과 허리 부담을 줄이는 데 도움 될 수 있습니다.',\n    description: '걷기 전후에 피하면 좋은 습관을 정리했습니다.\\n#건강정보 #시니어건강 #걷기운동 #무릎건강 #쇼츠',\n    tags: ['걷기운동', '무릎건강', '생활습관'],\n    bgm: 'warm light jazz trio with soft piano, upright bass, very gentle brushes, relaxed walking pace, no vocals',\n    claims: ['걷기 전후 습관은 관절 부담과 피로감에 영향을 줄 수 있다.'],\n  }),\n].map((entry) => ({ ...entry, rank_items: entry.rank_items.slice(0, 7) }));\n\n\nfunction pickFallbackPack(context, seed, salt) {\n  const lane = String(context?.selected_content_lane?.id || context?.pack?.content_lane || '').trim();\n  const lanePacks = lane ? viralFallbackPacks.filter((entry) => entry.content_lane === lane) : [];\n  const pool = lanePacks.length ? lanePacks : viralFallbackPacks;\n  return pick(pool, seed, salt + '|' + lane);\n}\nconst fallbackPack = pickFallbackPack(base, cfg.variation_seed || new Date().toISOString(), 'parse_fallback');\n\nfunction responseText(value) {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'string') return value;\n  try { return JSON.stringify(value); } catch (error) { return String(value); }\n}\n\nfunction isAuthError(value) {\n  const text = responseText(value).toLowerCase();\n  return text.includes('unauthorized') || text.includes('authentication failed') || text.includes('invalid api key') || text.includes('401') || text.includes('403');\n}\n\nfunction isRecoverableClaudeError(value) {\n  const text = responseText(value).toLowerCase();\n  return Boolean(\n    value?.error ||\n    value?.message ||\n    value?.description ||\n    text.includes('internal error') ||\n    text.includes('service was not able') ||\n    text.includes('try again later') ||\n    text.includes('timeout') ||\n    text.includes('429') ||\n    text.includes('500') ||\n    text.includes('502') ||\n    text.includes('503') ||\n    text.includes('504')\n  );\n}\n\nfunction fallback(reason, errorPayload) {\n  return [{\n    json: {\n      ...base,\n      pack: fallbackPack,\n      ai_source: 'mock_after_kie_claude_error',\n      kie_claude_raw: errorPayload || response,\n      kie_claude_parse_error: reason,\n    },\n  }];\n}\n\nfunction tryParseJson(value) {\n  if (typeof value !== 'string') return value;\n  const trimmed = value.trim();\n  if (!trimmed) return value;\n  if (!trimmed.startsWith('{') && !trimmed.startsWith('[')) return value;\n  try { return JSON.parse(trimmed); } catch (error) { return value; }\n}\n\nfunction looksLikeWrapper(value) {\n  return Boolean(\n    value &&\n    typeof value === 'object' &&\n    (\n      value.content !== undefined ||\n      value.message !== undefined ||\n      value.data !== undefined ||\n      value.response !== undefined ||\n      value.output_text !== undefined ||\n      value.text !== undefined\n    )\n  );\n}\n\nfunction collectText(value, depth = 0) {\n  if (!value || depth > 6) return '';\n\n  if (typeof value === 'string') {\n    const parsed = tryParseJson(value);\n    if (parsed !== value && looksLikeWrapper(parsed)) return collectText(parsed, depth + 1);\n    return value;\n  }\n\n  if (Array.isArray(value)) {\n    return value.map((entry) => collectText(entry, depth + 1)).filter(Boolean).join('\\n');\n  }\n\n  if (Array.isArray(value.content)) {\n    const text = value.content.map((part) => collectText(part, depth + 1)).filter(Boolean).join('\\n');\n    if (text) return text;\n  }\n\n  if (value.message && Array.isArray(value.message.content)) {\n    const text = value.message.content.map((part) => collectText(part, depth + 1)).filter(Boolean).join('\\n');\n    if (text) return text;\n  }\n\n  for (const key of ['output_text', 'text', 'data', 'result', 'response']) {\n    const text = collectText(value[key], depth + 1);\n    if (text) return text;\n  }\n\n  return '';\n}\n\nfunction parseJsonText(text) {\n  const fence = String.fromCharCode(96, 96, 96);\n  const trimmed = String(text || '')\n    .trim()\n    .replace(new RegExp('^' + fence + 'json\\\\s*', 'i'), '')\n    .replace(new RegExp('^' + fence + '\\\\s*', 'i'), '')\n    .replace(new RegExp(fence + '$', 'i'), '')\n    .trim();\n\n  try {\n    return JSON.parse(trimmed);\n  } catch (error) {\n    const start = trimmed.indexOf('{');\n    const end = trimmed.lastIndexOf('}');\n    if (start >= 0 && end > start) return JSON.parse(trimmed.slice(start, end + 1));\n    throw error;\n  }\n}\n\nfunction validatePack(pack) {\n  const issues = [];\n  if (!pack || typeof pack !== 'object') issues.push('pack is not an object');\n  if (!pack.hook_title) issues.push('missing hook_title');\n  if (!Array.isArray(pack.rank_items) || pack.rank_items.length < 1) issues.push('missing rank_items');\n  if (!pack.video_script) issues.push('missing video_script');\n  if (!pack.description) issues.push('missing description');\n  if (issues.length) throw new Error('invalid pack: ' + issues.join(', '));\n}\n\nif (isAuthError(response)) {\n  throw new Error('KIE Claude auth failed: ' + JSON.stringify(response));\n}\n\nif (isRecoverableClaudeError(response)) {\n  return fallback('KIE Claude recoverable error; rotating fallback pack used', response);\n}\n\nconst rawText = collectText(response);\nif (!rawText) {\n  return fallback('KIE Claude returned no parseable text; rotating fallback pack used', response);\n}\n\nlet pack;\ntry {\n  pack = parseJsonText(rawText);\n  validatePack(pack);\n} catch (error) {\n  return fallback('KIE Claude pack parse failed; rotating fallback pack used: ' + error.message, response);\n}\n\nreturn [{\n  json: {\n    ...base,\n    pack,\n    ai_source: 'kie_claude',\n    kie_claude_raw: response,\n    kie_claude_parse_error: null,\n  },\n}];"
      },
      "id": "0153bac3-d465-4fc8-93b9-d8f75441c414",
      "name": "Parse KIE Claude Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        2400
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nif (!dryRun) {\n  throw new Error('Live run reached Mock Viral Rank Pack. Check Load Config: use_live_kie_ai must be true, and KIE auth/credits must work.');\n}\nconst cfg = data.config || {};\nfunction hashText(value) {\n  let hash = 2166136261;\n  const text = String(value || '');\n  for (let index = 0; index < text.length; index += 1) {\n    hash ^= text.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return hash >>> 0;\n}\n\nfunction pick(items, seed, salt) {\n  return items[hashText([seed, salt].join('|')) % items.length];\n}\n\nfunction rows(values) {\n  return values.map((value, index) => {\n    const [name, reason, caution = ''] = value.split('|');\n    return { rank: index + 1, name, reason, caution };\n  });\n}\n\nfunction makePack(entry) {\n  return {\n    content_lane: entry.lane,\n    format_angle: entry.angle,\n    theme: entry.theme,\n    hook_title: entry.title,\n    subtitle: entry.subtitle,\n    visual_mood_hint: entry.visual,\n    rank_items: rows(entry.rows),\n    video_script: entry.script,\n    description: entry.description,\n    tags: ['건강정보', '시니어건강', ...entry.tags, 'shorts'],\n    pinned_comment: '오늘 순위 중 하나만 바꿔도 충분합니다. 평소 헷갈렸던 영양제, 음식, 생활습관 질문은 댓글로 남겨주세요. 하루건강약사가 쉽게 풀어드리겠습니다.',\n    bgm_prompt: entry.bgm,\n    medical_claims: entry.claims,\n    safety_notes: ['과장 표현 없음', '치료/완치 보장 표현 없음', '복용량 표현 없음'],\n  };\n}\n\nconst fallbackPacks = [];\n\nconst viralFallbackPacks = [\n  makePack({\n    lane: 'body_signals',\n    angle: '아침 몸 상태와 생활 습관을 연결해 점검',\n    theme: '몸의 조용한 신호',\n    title: '내 몸이 보내는 조용한 경고 신호 7',\n    subtitle: '큰 병 이야기보다 생활 점검입니다',\n    visual: '아침 세면대, 손발, 물컵, 체크 아이콘, 밝은 화이트와 스카이블루',\n    rows: ['입이 자주 마름|수분 습관 점검', '발이 무겁게 느낌|짠맛을 돌아봄', '눈이 뻑뻑함|화면 시간을 확인', '어깨가 굳어 있음|잠자리 자세 점검', '속이 더부룩함|늦은 식사 확인', '머리가 무거움|수면 리듬 점검', '피로가 오래 감|휴식 질을 확인'],\n    script: '몸이 보내는 작은 신호는 전날 생활을 돌아보는 힌트가 될 수 있습니다.',\n    description: '몸의 작은 신호와 생활 습관을 정리했습니다.\\n#건강정보 #시니어건강 #생활습관 #하루건강약사 #쇼츠',\n    tags: ['몸상태', '생활습관', '아침루틴'],\n    bgm: 'clean soft piano with gentle woodwind accents, morning wellness show mood, no vocals, no drums',\n    claims: ['몸 상태는 생활 습관을 돌아보는 힌트가 될 수 있다.'],\n  }),\n  makePack({\n    lane: 'supplement_basics',\n    angle: '영양제 구매 전에 음식과 생활 기반을 먼저 점검',\n    theme: '영양제 전 점검',\n    title: '영양제 괜히 사기 전 먼저 먹을 음식 7',\n    subtitle: '돈 쓰기 전에 식탁부터 봅니다',\n    visual: '약국 상담대, 식탁 재료, 물컵, 영수증, 민트와 차콜 포인트',\n    rows: ['달걀|단백질 기본 점검', '두부|속 편한 단백질', '등푸른 생선|기름 선택 확인', '견과류|소량으로 충분', '제철 채소|식탁 균형 잡기', '요거트|당 함량 먼저 확인', '물|기본 수분부터'],\n    script: '영양제를 더하기 전, 먼저 식탁에서 채울 수 있는 기본을 확인해 보세요.',\n    description: '영양제 전에 먼저 볼 음식과 습관을 정리했습니다.\\n#건강정보 #시니어건강 #영양제 #음식 #쇼츠',\n    tags: ['영양제', '음식', '건강식단'],\n    bgm: 'premium calm piano and warm strings with soft pad, trustworthy health show mood, no vocals',\n    claims: ['기본 식사와 수분은 컨디션 관리의 바탕이 될 수 있다.'],\n  }),\n  makePack({\n    lane: 'blood_sugar_meals',\n    angle: '같은 밥상에서 혈당 부담이 달라지는 선택을 비교',\n    theme: '혈당 식탁 선택',\n    title: '같은 밥상, 혈당 급행 vs 저속행 선택 7',\n    subtitle: '무엇을 먼저 먹느냐가 달라집니다',\n    visual: '밥상 비교 화면, 밥그릇, 채소, 단백질 접시, 코랄과 블루 포인트',\n    rows: ['밥 먼저 먹기|탄수화물 먼저 몰림', '채소 먼저 먹기|속도 조절 도움', '단 음료 곁들이기|숨은 당이 더해짐', '국물 끝까지 마시기|짠맛이 늘어남', '단백질 빼먹기|금방 허기짐', '과일 후식 추가|당 부담 겹침', '천천히 씹기|포만감 신호 확인'],\n    script: '같은 밥상도 순서와 조합에 따라 식후 느낌이 달라질 수 있습니다.',\n    description: '식사 순서와 혈당 부담을 랭킹으로 정리했습니다.\\n#건강정보 #시니어건강 #혈당관리 #식사습관 #쇼츠',\n    tags: ['혈당관리', '식사습관', '생활습관'],\n    bgm: 'soft marimba and piano with warm strings, calm lifestyle health mood, no vocals, no heavy drums',\n    claims: ['식사 순서와 조합은 식후 컨디션에 영향을 줄 수 있다.'],\n  }),\n  makePack({\n    lane: 'kitchen_storage',\n    angle: '가정 주방에서 반복되는 보관과 조리 실수를 점검',\n    theme: '주방 보관 실수',\n    title: '내 가족 건강을 위협하는 주방 보관 실수 7',\n    subtitle: '익숙해서 더 놓치기 쉽습니다',\n    visual: '밝은 주방, 냉장고 칸, 도마, 밀폐용기, 세이지와 옐로 포인트',\n    rows: ['뜨거운 국 바로 넣기|주변 온도 올라감', '젖은 채소 밀폐|쉽게 무를 수 있음', '문쪽에 우유 두기|온도 변화가 잦음', '도마 물기 방치|냄새가 남기 쉬움', '남은 밥 오래 두기|맛과 상태 저하', '라벨 날짜 안 쓰기|보관일을 놓침', '반찬 뚜껑 느슨함|냄새가 섞임'],\n    script: '가족이 매일 쓰는 주방일수록 보관 습관을 한 번 더 확인해 보세요.',\n    description: '주방 보관과 조리 전 확인할 습관을 정리했습니다.\\n#건강정보 #시니어건강 #주방습관 #냉장고정리 #쇼츠',\n    tags: ['주방습관', '냉장고정리', '생활습관'],\n    bgm: 'gentle acoustic bossa with nylon guitar, soft piano, light brushed percussion, warm kitchen morning mood, no vocals',\n    claims: ['보관 습관은 음식의 맛과 상태에 영향을 줄 수 있다.'],\n  }),\n  makePack({\n    lane: 'joint_mobility',\n    angle: '오래 걷기 위한 일상 습관을 관절 부담 관점에서 점검',\n    theme: '걷기 습관',\n    title: '죽을 때까지 내 발로 걷고 싶다면 피할 습관 7',\n    subtitle: '운동보다 먼저 보는 작은 준비',\n    visual: '공원 산책길, 운동화, 계단, 체크리스트, 하늘색과 라임 포인트',\n    rows: ['낡은 신발 그대로|발목이 흔들림', '처음부터 빠르게|몸이 덜 풀림', '보폭 크게 걷기|허리가 흔들림', '물 없이 오래 걷기|쉽게 지침', '계단만 고집하기|무릎 부담 증가', '아픈 날 참고 걷기|불편감이 커짐', '걷고 바로 앉기|다리가 뻣뻣함'],\n    script: '걷기 전 작은 준비가 무릎과 허리 부담을 줄이는 데 도움 될 수 있습니다.',\n    description: '걷기 전후에 피하면 좋은 습관을 정리했습니다.\\n#건강정보 #시니어건강 #걷기운동 #무릎건강 #쇼츠',\n    tags: ['걷기운동', '무릎건강', '생활습관'],\n    bgm: 'warm light jazz trio with soft piano, upright bass, very gentle brushes, relaxed walking pace, no vocals',\n    claims: ['걷기 전후 습관은 관절 부담과 피로감에 영향을 줄 수 있다.'],\n  }),\n].map((entry) => ({ ...entry, rank_items: entry.rank_items.slice(0, 7) }));\n\n\nfunction pickFallbackPack(context, seed, salt) {\n  const lane = String(context?.selected_content_lane?.id || context?.pack?.content_lane || '').trim();\n  const lanePacks = lane ? viralFallbackPacks.filter((entry) => entry.content_lane === lane) : [];\n  const pool = lanePacks.length ? lanePacks : viralFallbackPacks;\n  return pick(pool, seed, salt + '|' + lane);\n}\nconst pack = pickFallbackPack(data, cfg.variation_seed || new Date().toISOString(), 'dry_run_mock');\nreturn [{ json: { ...data, pack, ai_source: 'mock_rotating' } }];"
      },
      "id": "a39c0785-e8cc-4b3f-ae54-a576a39830cd",
      "name": "Mock Viral Rank Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        2672
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pack = data.pack || {};\nconst allText = [\n  pack.theme,\n  pack.hook_title,\n  pack.subtitle,\n  pack.video_script,\n  pack.description,\n  pack.pinned_comment,\n  ...(pack.rank_items || []).flatMap((item) => [item.name, item.reason, item.caution]),\n  ...(pack.medical_claims || []),\n].filter(Boolean).join('\\n');\n\nconst lowered = allText.toLowerCase();\nconst issues = [];\nconst issue_matches = [];\n\nfunction addIssue(issue, match, contextText = lowered) {\n  if (!issues.includes(issue)) issues.push(issue);\n  const index = match?.index ?? -1;\n  issue_matches.push({\n    issue,\n    match: match?.[0] || '',\n    context: index >= 0 ? contextText.slice(Math.max(0, index - 40), index + 80) : '',\n  });\n}\n\nconst patterns = [\n  { pattern: /(\\uC644\\uCE58|\\uCE58\\uB8CC\\uB41C\\uB2E4|\\uCE58\\uB8CC\\uD574|\\uB0AB\\uB294\\uB2E4|\\uC608\\uBC29\\uB41C\\uB2E4|\\uB9C9\\uC544\\uC900\\uB2E4|\\uBCF4\\uC7A5|100%|\\uAE30\\uC801|\\uC989\\uC2DC\\s*\\uD6A8\\uACFC)/, issue: '\\uCE58\\uB8CC/\\uC644\\uCE58/\\uBCF4\\uC7A5 \\uD45C\\uD604' },\n  { pattern: /(\\uC57D\\uC744\\s*\\uB04A|\\uCC98\\uBC29\\uC744\\s*\\uC911\\uB2E8|\\uBCF5\\uC6A9\\uC744\\s*\\uC911\\uB2E8|\\uC758\\uC0AC\\s*\\uB300\\uC2E0|\\uBCD1\\uC6D0\\s*\\uAC00\\uC9C0)/, issue: '\\uCC98\\uBC29 \\uBCC0\\uACBD/\\uC9C4\\uB8CC \\uD68C\\uD53C' },\n  { pattern: /(\\uB3C5\\uC18C\\s*\\uC81C\\uAC70|\\uD574\\uB3C5|\\uB514\\uD1A1\\uC2A4|\\uD53C\\uAC00\\s*\\uB9D1\\uC544|\\uC5FC\\uC99D\\uC774\\s*\\uB300\\uBCC0|\\uC5FC\\uC99D\\uC744\\s*\\uC2F9|\\uB300\\uBCC0\\uC73C\\uB85C\\s*\\uBE60)/, issue: '\\uADFC\\uAC70 \\uC57D\\uD55C \\uC790\\uADF9 \\uD45C\\uD604' },\n];\n\nfor (const item of patterns) {\n  const match = lowered.match(item.pattern);\n  if (match) addIssue(item.issue, match);\n}\n\nconst dosagePatterns = [\n  /\\d+(?:\\.\\d+)?\\s?(?:mg|g|iu)(?=$|[\\s.,!?)]|\\/)/i,\n  /\\d+(?:\\.\\d+)?\\s?(?:\\uC54C|\\uC815|\\uCEA1\\uC290)(?=$|[\\s.,!?)]|\\uC529|\\uB9CC|\\uC744|\\uB97C|\\uC740|\\uB294|\\uAE4C\\uC9C0|\\uC815\\uB3C4|\\uC774\\uC0C1|\\uC774\\uD558)/,\n];\nfor (const pattern of dosagePatterns) {\n  const match = lowered.match(pattern);\n  if (match) {\n    addIssue('\\uBCF5\\uC6A9\\uB7C9/\\uC6A9\\uB7C9 \\uD45C\\uD604', match);\n    break;\n  }\n}\n\n\nif (!Array.isArray(pack.rank_items) || pack.rank_items.length < 3) addIssue('\\uB7AD\\uD0B9 \\uD56D\\uBAA9 \\uBD80\\uC871', null);\nif (!pack.video_script) addIssue('\\uC601\\uC0C1 \\uBB38\\uAD6C \\uC5C6\\uC74C', null);\nif (!pack.hook_title) addIssue('\\uD070 \\uC81C\\uBAA9 \\uC5C6\\uC74C', null);\n\nconst highRiskIssues = ['\\uCE58\\uB8CC/\\uC644\\uCE58/\\uBCF4\\uC7A5 \\uD45C\\uD604', '\\uCC98\\uBC29 \\uBCC0\\uACBD/\\uC9C4\\uB8CC \\uD68C\\uD53C', '\\uBCF5\\uC6A9\\uB7C9/\\uC6A9\\uB7C9 \\uD45C\\uD604', '\\uADFC\\uAC70 \\uC57D\\uD55C \\uC790\\uADF9 \\uD45C\\uD604'];\nconst highRisk = issues.some((issue) => highRiskIssues.includes(issue));\nconst pass = !highRisk && issues.length <= 1;\n\nreturn [{\n  json: {\n    ...data,\n    blocked: !pass,\n    medical_review: {\n      pass,\n      risk_level: highRisk ? 'high' : issues.length ? 'medium' : 'low',\n      issues,\n      issue_matches,\n      checked_at: new Date().toISOString(),\n    },\n  },\n}];"
      },
      "id": "6afe9e2b-c800-46e3-bc2b-8ba8d3cfa097",
      "name": "Medical Safety Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        2528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.medical_review.pass}}",
              "value2": true
            }
          ]
        }
      },
      "id": "3c4acb05-3d3b-4ab8-b794-5157d42a0b11",
      "name": "Medical Review Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4384,
        2528
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { ...data, result_stage: 'blocked_by_medical_review', youtube: { skipped: true, reason: 'medical_review_failed' }, comment: { skipped: true, reason: 'medical_review_failed' } } }];"
      },
      "id": "da205f46-d366-4aa2-90fa-60dcec1e6284",
      "name": "Prepare Blocked Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4656,
        2736
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pack = data.pack || {};\nconst cfg = data.config || {};\nconst LF = String.fromCharCode(10);\nconst rankSuffix = String.fromCharCode(50948);\nconst ctaComment = '하루건강약사';\nconst pharmacistComment = '오늘 순위 중 하나만 바꿔도 충분합니다. 평소 헷갈렸던 영양제, 음식, 생활습관 질문은 댓글로 남겨주세요. 하루건강약사가 쉽게 풀어드리겠습니다.';\n\nconst sortedItems = [...(pack.rank_items || [])].sort((a, b) => Number(a.rank) - Number(b.rank));\n\nconst rankLines = sortedItems\n  .map((item) => item.rank + rankSuffix + ' ' + item.name + ' - ' + item.reason)\n  .join(LF);\n\nconst shortRankLines = sortedItems\n  .map((item) => item.rank + rankSuffix + ' ' + item.name)\n  .join(LF);\n\nconst cardRows = sortedItems\n  .map((item) => {\n    const reason = String(item.reason || item.caution || '').replace(/\\s+/g, ' ').trim();\n    return item.rank + rankSuffix + ' ' + item.name + (reason ? ' - ' + reason : '');\n  })\n  .join(LF);\n\nconst title = pack.hook_title || pack.theme || ('Health ranking TOP ' + (cfg.rank_count || sortedItems.length || 7));\nconst subtitle = pack.subtitle || '매일 하는데 놓치기 쉬운 것들';\n\nfunction cleanDescriptionLine(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction buildYoutubeDescription() {\n  const rankBody = sortedItems\n    .map((item) => {\n      const name = cleanDescriptionLine(item.name);\n      const reason = cleanDescriptionLine(item.reason);\n      return item.rank + rankSuffix + ' ' + name + (reason ? ' - ' + reason : '');\n    })\n    .join(LF + LF);\n\n  const rankSection = ['오늘 영상 순위입니다.', rankBody]\n    .filter((part) => String(part || '').trim())\n    .join(LF + LF);\n\n  const pharmacistIntro = [\n    '안녕하세요. 하루건강약사입니다.',\n    '',\n    '저는 오랫동안 건강과 영양을 연구하고, 현장에서 많은 분들을 만나왔습니다.',\n    '건강 정보는 참 많은데 정작 내 몸에 무엇이 필요한지 쉽게 이해하기는 어렵다는 것을 자주 느낍니다.',\n    '',\n    '그래서 이 채널에서는 영양제와 음식, 피부 건강, 활력 관리, 생활습관 이야기를 어렵지 않게 풀어 전해드리려 합니다.',\n    '특별한 비법보다 몸을 오래 지키는 기본 지식과 성분을 볼 때 놓치기 쉬운 부분을 차근차근 알려드리겠습니다.',\n    '',\n    '하루에 하나씩, 여러분의 건강한 선택에 도움이 되는 이야기를 전해드리겠습니다.',\n  ].join(LF);\n\n  const tagList = Array.from(new Set([...(pack.tags || []), '하루건강약사', '건강정보', '시니어건강', '쇼츠']))\n    .map((tag) => '#' + String(tag).replace(/^#/, '').replace(/\\s+/g, ''))\n    .slice(0, 10)\n    .join(' ');\n\n  return [title, rankSection, pharmacistIntro, tagList]\n    .filter((part) => String(part || '').trim())\n    .join(LF + LF);\n}\n\nconst youtubeDescription = buildYoutubeDescription();\nconst visibleText = [\n  'TITLE: ' + title,\n  'SUBTITLE: ' + subtitle,\n  'LIST ROWS, top to bottom, ' + ('1' + rankSuffix) + ' first:',\n  cardRows || shortRankLines,\n  'FOOTER: ' + ctaComment,\n].filter(Boolean).join(LF);\n\nfunction limitPrompt(value, maxLength = 480) {\n  const text = String(value || '').replace(/\\s+/g, ' ').trim();\n  if (text.length <= maxLength) return text;\n  return text.slice(0, maxLength).replace(/\\s+\\S*$/, '').trim();\n}\n\nfunction hashText(value) {\n  let hash = 2166136261;\n  const text = String(value || '');\n  for (let index = 0; index < text.length; index += 1) {\n    hash ^= text.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return hash >>> 0;\n}\n\nfunction pick(items, salt) {\n  return items[hashText([cfg.variation_seed, title, salt].join('|')) % items.length];\n}\n\nfunction findById(items, value) {\n  const key = String(value || '').trim().toLowerCase();\n  if (!key) return null;\n  return items.find((item) => item.id.toLowerCase() === key || item.title.toLowerCase() === key) || null;\n}\n\nconst visualProfiles = [\n  {\n    id: 'broadcast_countdown',\n    title: '프리미엄 방송 카운트다운',\n    prompt: 'Korean TV health countdown style, diagonal rank ribbons, deep cobalt and white with restrained gold accents, glossy but clean, not the old navy/yellow template.',\n  },\n  {\n    id: 'clinic_checklist',\n    title: '클린 체크리스트',\n    prompt: 'Bright clinic-inspired checklist without medical logos, mint, ivory, charcoal and coral palette, flat icon badges, airy spacing, rounded checklist ticks.',\n  },\n  {\n    id: 'kitchen_table',\n    title: '주방 매거진',\n    prompt: 'Warm kitchen editorial flatlay, ingredient tiles, cutting-board texture, sage green, tomato red, cream and ink palette, premium magazine layout.',\n  },\n  {\n    id: 'sleep_night',\n    title: '나이트 루틴',\n    prompt: 'Calm night routine card, indigo, lavender, warm lamp amber and soft white, timeline rows with moon/clock/light icons, cozy bedroom hints.',\n  },\n  {\n    id: 'morning_light',\n    title: '모닝 루틴',\n    prompt: 'Fresh morning sunlight, sky blue, clean white, citrus orange and leaf green, circular habit dials and checklist chips, bright optimistic mood.',\n  },\n  {\n    id: 'market_receipt',\n    title: '마트 라벨',\n    prompt: 'Premium grocery-label and receipt concept, product label snippets, magnifier callouts, sage, ink, ivory and soft yellow palette, organized like a smart shopping guide.',\n  },\n  {\n    id: 'wellness_dashboard',\n    title: '웰니스 대시보드',\n    prompt: 'Modern wellness dashboard, compact metric chips, small gauges, teal, white, navy and coral palette, crisp app-like hierarchy, high information density.',\n  },\n  {\n    id: 'magazine_cover',\n    title: '건강 매거진 커버',\n    prompt: 'Elegant Korean health magazine cover layout, burgundy, forest green, cream and black palette, large editorial title, numbered side rail, tasteful object photography icons.',\n  },\n  {\n    id: 'calendar_streak',\n    title: '생활 달력',\n    prompt: 'Weekly habit calendar concept, mini calendar cells and check marks, fresh green, warm yellow, clean white and dark ink palette, friendly practical tone.',\n  },\n  {\n    id: 'myth_fact',\n    title: '오해와 사실',\n    prompt: 'Myth-vs-fact inspired ranking card, split color tabs, soft red and blue contrast, warning dots, clear rank order, energetic but not sensational.',\n  },\n];\n\nconst bgmProfiles = [\n  {\n    id: 'soft_piano_strings',\n    title: '소프트 피아노 스트링',\n    tempo: 74,\n    key: 'C',\n    prompt: 'Warm calm premium instrumental for Korean health Shorts viewers age 50-60. Soft piano, light warm strings, relaxed TV health program mood, slow 74 BPM. No vocals, no EDM, no trap, no heavy drums.',\n  },\n  {\n    id: 'nylon_bossa',\n    title: '나일론 기타 보사',\n    tempo: 78,\n    key: 'D',\n    prompt: 'Gentle acoustic bossa nova with nylon guitar, soft piano, light brushed percussion, premium morning lifestyle mood for Korean ages 50-60, 78 BPM. No vocals, no EDM, no heavy drums.',\n  },\n  {\n    id: 'light_jazz_trio',\n    title: '라이트 재즈 트리오',\n    tempo: 80,\n    key: 'F',\n    prompt: 'Light jazz trio background, soft piano, upright bass, very gentle brushes, warm trustworthy health program mood for Korean ages 50-60, 80 BPM. No vocals, no brass blasts, no heavy drums.',\n  },\n  {\n    id: 'korean_fusion',\n    title: '잔잔한 국악 퓨전',\n    tempo: 72,\n    key: 'G',\n    prompt: 'Calm Korean fusion instrumental with soft gayageum-like plucks, warm pad and light piano, premium public-broadcast health mood, 72 BPM. No vocals, no trot, no EDM, no heavy drums.',\n  },\n  {\n    id: 'ambient_woodwind',\n    title: '앰비언트 우드윈드',\n    tempo: 70,\n    key: 'E',\n    prompt: 'Airy ambient piano and gentle woodwind accents, warm pads, calm senior wellness mood, slow 70 BPM, premium and reassuring. No vocals, no EDM, no heavy drums.',\n  },\n  {\n    id: 'marimba_piano',\n    title: '마림바 피아노',\n    tempo: 76,\n    key: 'A',\n    prompt: 'Soft marimba and piano with warm strings, light optimistic health-magazine mood for Korean ages 50-60, 76 BPM. No vocals, no comedy sound, no EDM, no heavy drums.',\n  },\n  {\n    id: 'acoustic_waltz',\n    title: '어쿠스틱 왈츠',\n    tempo: 82,\n    key: 'G',\n    prompt: 'Gentle acoustic 3/4 waltz feel with nylon guitar, soft piano and subtle strings, cozy evening health-program mood, 82 BPM. No vocals, no EDM, no heavy drums.',\n  },\n  {\n    id: 'calm_lofi_piano',\n    title: '차분한 로파이 피아노',\n    tempo: 76,\n    key: 'B',\n    prompt: 'Clean calm lofi piano with soft vinyl warmth and very light brushed rhythm, premium not sleepy, Korean senior wellness mood, 76 BPM. No vocals, no hip-hop drop, no heavy drums.',\n  },\n];\n\nconst visualProfile =\n  findById(visualProfiles, cfg.visual_profile_override) ||\n  findById(visualProfiles, pack.visual_profile) ||\n  pick(visualProfiles, 'visual_profile');\n\nconst bgmProfile =\n  findById(bgmProfiles, cfg.bgm_profile_override) ||\n  findById(bgmProfiles, pack.bgm_profile) ||\n  pick(bgmProfiles, 'bgm_profile|' + visualProfile.id);\n\nconst packBgmHint = limitPrompt(pack.bgm_prompt, 150);\nconst bgmPrompt = limitPrompt([\n  bgmProfile.prompt,\n  packBgmHint ? 'Topic hint: ' + packBgmHint : '',\n  pack.content_lane ? 'Content lane: ' + pack.content_lane + '.' : '',\n].filter(Boolean).join(' '), 480);\n\nconst bgm_payload = {\n  prompt: bgmPrompt,\n  model: cfg.kie_bgm_model,\n  soundLoop: true,\n  soundTempo: bgmProfile.tempo,\n  soundKey: bgmProfile.key,\n  grabLyrics: false,\n};\n\nconst imagePrompt = [\n  'Create one premium finished 9:16 Korean YouTube Shorts infographic poster. This is the final video frame, not a background for later text overlay.',\n  'All title/list/footer text must be drawn inside the image. Use the exact visible Korean text below. Keep ' + ('1' + rankSuffix) + ' at the very top, then ' + ('2' + rankSuffix) + ', ' + ('3' + rankSuffix) + ', down to the last rank. Do not reverse the order.',\n  visibleText,\n  'This run visual profile: ' + visualProfile.title + '. ' + visualProfile.prompt,\n  pack.visual_mood_hint ? 'Pack visual hint: ' + pack.visual_mood_hint : '',\n  'Make this output visibly different from prior default cards. Do not reuse the same dark navy header, huge yellow headline, white stacked rounded rows, identical left rank badges, and generic object icons unless the selected profile specifically needs them.',\n  'Design quality: high-end Korean health, finance, and lifestyle app advertisement quality; crisp Korean typography; sharp vector-like edges; clean grid; premium editorial information card; polished not amateur.',\n  'Layout: full canvas filled; strong top headline area; subtitle near title; 7 compact ranked rows; each row has a rank marker, varied small illustration or icon, item name, short reason; clear hierarchy; strong phone readability.',\n  'Palette and composition must follow the selected visual profile. Use a different row shape, badge style, background motif, and accent color from generic navy/gold list cards.',\n  'Image quality: sharp 1080x1920 feel, no blur, no haze, no low-resolution text, no distorted Korean characters, no cropped text, no tiny text.',\n  'Avoid: empty lifestyle-photo background, transparent dark overlay panel, stock photo feel, brand logos, medical logos, product packaging, fake doctor identity, before-after imagery, cure/treatment guarantees.',\n  'If space is tight, prioritize title and row readability over decoration.',\n].filter(Boolean).join(LF);\n\nconst image_payload = {\n  model: cfg.kie_image_model,\n  input: {\n    prompt: imagePrompt,\n    aspect_ratio: '9:16',\n  },\n};\n\nreturn [{\n  json: {\n    ...data,\n    pack: { ...pack, description: youtubeDescription, pinned_comment: pharmacistComment },\n    rank_lines: rankLines,\n    short_rank_lines: shortRankLines,\n    visible_card_text: visibleText,\n    diversity: {\n      mode: cfg.diversity_mode,\n      variation_seed: cfg.variation_seed,\n      content_lane: pack.content_lane || data.selected_content_lane?.id || null,\n      visual_profile: visualProfile,\n      bgm_profile: bgmProfile,\n    },\n    bgm_payload,\n    image_payload,\n  },\n}];"
      },
      "id": "d12444a3-2df9-4f04-a368-99812559f2df",
      "name": "Prepare Image and BGM Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4656,
        2400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.use_live_bgm}}",
              "value2": true
            }
          ]
        }
      },
      "id": "4ff1d1a5-cfb3-4602-8e9d-330b0663f913",
      "name": "Use Live BGM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6672,
        2368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/generate/sounds",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.bgm_payload) }}",
        "options": {}
      },
      "id": "6c178fdc-8dc9-4416-b463-cb337651db22",
      "name": "KIE Create BGM Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6960,
        2224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Use Live BGM?').first().json;\nconst response = $input.first().json || {};\nconst apiCode = response.code === undefined ? 200 : Number(response.code);\nconst apiMsg = response.msg || response.message || response.error || '';\nif (response.error || (Number.isFinite(apiCode) && apiCode >= 400)) {\n  throw new Error('KIE BGM create failed. code=' + apiCode + ', message=' + apiMsg + ', response=' + JSON.stringify(response));\n}\nconst taskId = response.data?.taskId || response.taskId || response.id || null;\nif (!taskId) {\n  throw new Error('KIE BGM create returned no taskId. response=' + JSON.stringify(response));\n}\nreturn [{ json: { ...base, bgm_create_response: response, bgm_task_id: taskId } }];"
      },
      "id": "32a46966-14d5-4bde-833e-0df4811c4b47",
      "name": "Normalize BGM Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7232,
        2224
      ]
    },
    {
      "parameters": {
        "amount": "={{$json.config.poll_interval_seconds}}"
      },
      "id": "612a92d9-b415-45a5-8088-8893e15aa08b",
      "name": "Wait BGM 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7520,
        2224
      ],
      "webhookId": "96d9eeaf-058a-422f-a004-371197b23ee2"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/generate/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.bgm_task_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "23e8e1db-e684-44fa-afa9-3572334a8953",
      "name": "KIE Get BGM Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7792,
        2224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalize BGM Task').first().json;\nconst response = $input.first().json || {};\nconst data = response.data || response;\nconst status = String(data.status || data.state || '').toUpperCase();\nconst sunoData =\n  data.response?.sunoData ||\n  data.sunoData ||\n  data.response?.data ||\n  data.data ||\n  [];\nconst first = Array.isArray(sunoData) ? sunoData[0] : sunoData;\nconst bgmUrl =\n  first?.audioUrl ||\n  first?.streamAudioUrl ||\n  first?.sourceAudioUrl ||\n  first?.audio_url ||\n  data.response?.audioUrl ||\n  data.response?.streamAudioUrl ||\n  data.audioUrl ||\n  data.streamAudioUrl ||\n  null;\nconst failed = ['CREATE_TASK_FAILED', 'GENERATE_AUDIO_FAILED', 'CALLBACK_EXCEPTION', 'SENSITIVE_WORD_ERROR', 'FAIL', 'FAILED', 'ERROR'].includes(status);\nif (failed) {\n  throw new Error('KIE BGM failed. state=' + status + ', taskId=' + (base.bgm_task_id || '-') + ', message=' + (data.failMsg || data.message || response.msg || response.error || ''));\n}\nreturn [{ json: { ...base, bgm_poll_response: response, bgm_state: status, bgm_failed: false, bgm_audio_url: bgmUrl } }];"
      },
      "id": "0e68a2f1-1917-4be8-ba91-434c2012b672",
      "name": "Parse BGM Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8080,
        2224
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nif (!dryRun) {\n  throw new Error('Live run reached Mock BGM Result. Check Load Config: use_live_bgm must be true, and KIE BGM auth/credits must work.');\n}\nreturn [{ json: { ...data, bgm_audio_url: null, bgm_state: 'dry_run_disabled' } }];"
      },
      "id": "23a6b583-bcc3-4298-9962-8562457e2eee",
      "name": "Mock BGM Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6960,
        2496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.use_live_render}}",
              "value2": true
            }
          ]
        }
      },
      "id": "f0d1083e-2af6-41b6-ba6e-1d9fd92b83ee",
      "name": "Use Live Render?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8352,
        2368
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nif (!dryRun) {\n  throw new Error('Live run reached Mock Render Result. Check Load Config: use_live_render must be true.');\n}\nreturn [{\n  json: {\n    ...data,\n    result_stage: 'dry_run_no_render',\n    rendered_video_url: null,\n    youtube: {\n      skipped: true,\n      reason: 'dry_run: render skipped',\n      privacy_status_if_enabled: data.config.youtube_privacy_status\n    },\n    comment: { skipped: true, reason: 'No rendered MP4' }\n  }\n}];"
      },
      "id": "1916a396-4c91-4336-ab2f-1397ef4d4b99",
      "name": "Mock Render Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8640,
        2496
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst cfg = data.config || {};\n\nif (!data.image_url) {\n  throw new Error('Local render requires final image_url from Parse Image Result.');\n}\nif (!data.bgm_audio_url) {\n  throw new Error('Local render requires bgm_audio_url from Parse BGM Result. BGM must be live.');\n}\n\nconst renderId = 'health_' + Date.now() + '_' + Math.random().toString(16).slice(2, 8);\nconst duration = Number(cfg.duration_seconds || 5);\n\nconst render_payload = {\n  render_id: renderId,\n  image_url: data.image_url,\n  bgm_audio_url: data.bgm_audio_url,\n  duration,\n  width: 1080,\n  height: 1920,\n  output_dir: cfg.local_render_dir,\n  ffmpeg_path: cfg.ffmpeg_path,\n  card_is_final: true,\n};\n\nconst payloadBase64 = Buffer.from(JSON.stringify(render_payload), 'utf8').toString('base64');\nconst quote = (value) => '\"' + String(value).replace(/\"/g, '\\\"') + '\"';\nconst render_command = [\n  quote(cfg.node_path || 'node'),\n  quote(cfg.local_render_script),\n  quote(payloadBase64),\n].join(' ');\n\nreturn [{\n  json: {\n    ...data,\n    render_id: renderId,\n    render_provider: 'local_ffmpeg_full_image_card',\n    render_payload,\n    render_payload_base64: payloadBase64,\n    render_command,\n  },\n}];"
      },
      "id": "80d6705e-295f-4149-b846-156d13d790ff",
      "name": "Prepare Local FFmpeg Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8640,
        2224
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst { spawnSync } = require(\"child_process\");\n\nconst nodePath = data.config?.node_path || \"C:/Program Files/nodejs/node.exe\";\nconst scriptPath = data.config?.local_render_script || \"C:/dev/n8n-local/scripts/render-static-card.mjs\";\nconst payload = data.render_payload_base64;\nif (!payload) {\n  throw new Error(\"Missing render_payload_base64 for local render.\");\n}\n\nconst result = spawnSync(nodePath, [scriptPath, payload], {\n  encoding: \"utf8\",\n  timeout: 10 * 60 * 1000,\n  windowsHide: true,\n  maxBuffer: 20 * 1024 * 1024,\n});\n\nreturn [{\n  json: {\n    ...data,\n    exitCode: result.status ?? 0,\n    stdout: result.stdout || \"\",\n    stderr: result.stderr || \"\",\n    error: result.error ? result.error.message : undefined,\n    signal: result.signal || null,\n  },\n}];"
      },
      "id": "acbaccb4-966b-465b-a8ba-6073746e0d6f",
      "name": "Local FFmpeg Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8912,
        2224
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Local FFmpeg Render').first().json;\nconst response = $input.first().json || {};\n\nif (response.error || Number(response.exitCode || 0) !== 0) {\n  throw new Error('Local ffmpeg render failed: ' + (response.stderr || response.stdout || response.error || JSON.stringify(response)));\n}\n\nconst stdout = String(response.stdout || '').trim();\nconst jsonLine = stdout.split(/\\r?\\n/).reverse().find((line) => line.trim().startsWith('{'));\nif (!jsonLine) {\n  throw new Error('Local renderer returned no JSON: ' + JSON.stringify(response));\n}\n\nconst parsed = JSON.parse(jsonLine);\nif (!parsed.ok || !parsed.output_path) {\n  throw new Error('Local renderer returned invalid output: ' + JSON.stringify(parsed));\n}\n\nreturn [{\n  json: {\n    ...base,\n    local_render_response: response,\n    render_status: 'succeeded',\n    output_path: parsed.output_path,\n    rendered_video_url: parsed.output_path,\n    card_path: parsed.card_path || null,\n    bgm_download_path: parsed.audio_path || null,\n    render_failed: false,\n  },\n}];"
      },
      "id": "55a9895b-1891-4f9e-9f2e-64fe90ce539c",
      "name": "Parse Local Render Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9200,
        2224
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{$json.output_path}}",
        "options": {
          "fileExtension": "mp4",
          "fileName": "={{$json.render_id + \".mp4\"}}",
          "mimeType": "video/mp4",
          "dataPropertyName": "data"
        }
      },
      "id": "da82fe76-cc1f-4df3-a3af-2ddba4735bb9",
      "name": "Read Rendered MP4",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        9456,
        2368
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Parse Local Render Result').first().json;\nconst input = $input.first();\nreturn [{ json: { ...base, mp4_binary_ready: !!input.binary?.data }, binary: input.binary }];"
      },
      "id": "39728e0b-d9b4-4b35-a591-1325cdefa7c1",
      "name": "Attach Downloaded MP4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9728,
        2368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.allow_youtube_upload}}",
              "value2": true
            }
          ]
        }
      },
      "id": "1cb2df3f-6f06-4575-859d-69b9280296fb",
      "name": "Allow YouTube Upload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        10016,
        2368
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{$json.pack.hook_title}}",
        "regionCode": "={{$json.config.region_code}}",
        "categoryId": "={{$json.config.youtube_category_id}}",
        "options": {
          "description": "={{$json.pack.description}}",
          "embeddable": true,
          "notifySubscribers": false,
          "privacyStatus": "={{$json.config.youtube_privacy_status || \"public\"}}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{$json.pack.tags.join(\",\")}}"
        }
      },
      "id": "74e782b9-18bb-467b-a95d-e6805a450920",
      "name": "YouTube Upload Public",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        10288,
        2224
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "l7YqloikIKiIOtOq",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Attach Downloaded MP4').first().json;\nconst upload = $input.first().json || {};\nconst videoId = upload.uploadId || upload.id || upload.videoId || upload.items?.[0]?.id || null;\nconst privacyStatus = base.config?.youtube_privacy_status || 'public';\nreturn [{ json: { ...base, youtube: { skipped: false, privacy_status: privacyStatus, video_id: videoId, url: videoId ? 'https://www.youtube.com/watch?v=' + videoId : null, raw: upload } } }];"
      },
      "id": "21835258-44cf-4283-b7bc-47131098e39f",
      "name": "Normalize YouTube Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10576,
        2224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/commentThreads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ snippet: { videoId: $json.youtube.video_id, topLevelComment: { snippet: { textOriginal: $json.pack.pinned_comment } } } }) }}",
        "options": {}
      },
      "id": "3ffc4b8f-3e3d-468e-8b5f-5f57f59c6daa",
      "name": "Post Top-Level Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10848,
        2224
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "l7YqloikIKiIOtOq",
          "name": "YouTube account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalize YouTube Upload').first().json;\nconst response = $input.first().json || {};\nreturn [{ json: { ...base, comment: { created: !response.error, id: response.id || response.items?.[0]?.id || null, raw: response, note: 'Top-level comment created. API pin unsupported.' } } }];"
      },
      "id": "4a6b7f60-99b9-4000-813b-05b5c831e39c",
      "name": "Attach Comment Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11136,
        2224
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nif (!dryRun) {\n  throw new Error('Live run reached Skip YouTube Upload. Check Load Config: allow_youtube_upload must be true and rendered_video_url must exist.');\n}\nreturn [{\n  json: {\n    ...data,\n    result_stage: 'dry_run_no_upload',\n    youtube: {\n      skipped: true,\n      reason: 'dry_run: youtube upload skipped',\n      privacy_status_if_enabled: data.config.youtube_privacy_status\n    },\n    comment: { skipped: true, reason: 'No YouTube upload' }\n  }\n}];"
      },
      "id": "402d647f-db55-487f-b595-602a67bc6c0e",
      "name": "Skip YouTube Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10288,
        2512
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pack = data.pack || {};\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nlet status = dryRun ? 'dry_run_complete' : 'completed';\nif (data.result_stage === 'blocked_by_medical_review') status = 'blocked_by_medical_review';\nelse if (data.result_stage) status = data.result_stage;\nelse if (data.youtube && !data.youtube.skipped) status = 'uploaded_' + (data.youtube.privacy_status || data.config?.youtube_privacy_status || 'public');\nelse if (!dryRun && data.rendered_video_url) status = 'rendered_not_uploaded';\nelse if (data.youtube?.skipped) status = dryRun ? 'dry_run_no_upload' : 'youtube_upload_skipped';\nelse if (!data.rendered_video_url) status = dryRun ? 'dry_run_no_render' : 'missing_rendered_video';\n\nconst result = {\n  ok:\n    !String(status).includes('blocked') &&\n    !String(status).includes('failed') &&\n    !String(status).includes('missing') &&\n    !String(status).includes('disabled') &&\n    !String(status).includes('skipped') &&\n    !String(status).includes('no_render') &&\n    !String(status).includes('no_upload'),\n  status,\n  run_mode: data.config?.run_mode || (dryRun ? 'dry_run' : 'live_upload'),\n  test_mode: dryRun,\n  format: 'viral_rank_card',\n  title: pack.hook_title || null,\n  rank_count: Array.isArray(pack.rank_items) ? pack.rank_items.length : 0,\n  rank_items: pack.rank_items || [],\n  medical_review: data.medical_review || null,\n  bgm_audio_url: data.bgm_audio_url || null,\n  image_url: data.image_url || null,\n  rendered_video_url: data.rendered_video_url || null,\n  render_id: data.render_id || null,\n  output_path: data.output_path || null,\n  model_config: data.config?.model_config || null,\n  youtube: data.youtube || { skipped: true },\n  comment: data.comment || { skipped: true },\n};\n\nconst notification_text = [\n  '상태: ' + status,\n  '실행모드: ' + result.run_mode,\n  '포맷: 건강 랭킹 카드형 쇼츠',\n  '제목: ' + (pack.hook_title || '-'),\n  '검수: ' + (data.medical_review?.pass ? 'PASS' : 'FAIL'),\n  '영상: ' + (data.rendered_video_url || '-'),\n  'YouTube: ' + (data.youtube?.url || data.youtube?.reason || '-'),\n].join('\\\\n');\n\nreturn [{ json: { ...data, result, notification_text } }];"
      },
      "id": "2aed73d5-7672-4a90-b1bb-a4107cd5cabc",
      "name": "Final Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11408,
        2512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.notify_slack && !!$json.config.slack_webhook_url}}",
              "value2": true
            }
          ]
        }
      },
      "id": "3016a71f-b79b-46a9-a741-1dd2ba3ec9c6",
      "name": "Notify Slack?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        11696,
        2512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.config.slack_webhook_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.notification_text }) }}",
        "options": {}
      },
      "id": "66f24ea2-7da2-4f59-aa39-a6bac8e91cd9",
      "name": "Send Slack Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11968,
        2368
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Notify Slack?').first().json; const response = $input.first().json || {}; return [{ json: { ...base, slack: { sent: !response.error, response } } }];"
      },
      "id": "c3a1d03d-bcf4-4be9-af41-42e7091abb96",
      "name": "Attach Slack Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12256,
        2368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.trigger_type === \"webhook\"}}",
              "value2": true
            }
          ]
        }
      },
      "id": "25e46c93-c053-4571-bf25-f6d95643cade",
      "name": "Is Webhook Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        12528,
        2512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.result}}",
        "options": {}
      },
      "id": "4920f75c-0516-496e-987c-c02e29072dcb",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        12816,
        2368
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: data }];"
      },
      "id": "798f9a46-096c-4d56-9bd7-99492618fc09",
      "name": "Done - Manual or Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12816,
        2672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.config.use_live_image}}",
              "value2": true
            }
          ]
        }
      },
      "id": "8d423f51-a089-42b1-bca1-5ce92da1d7c9",
      "name": "Use Live Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4944,
        2400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.image_payload) }}",
        "options": {}
      },
      "id": "fb7bbf69-d53f-485d-b014-f60d99e8bc43",
      "name": "KIE Create Image Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5216,
        2112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Image and BGM Payloads').first().json;\nconst response = $input.first().json || {};\nif (response.error || (response.code && Number(response.code) !== 200)) {\n  throw new Error('KIE image create failed: ' + JSON.stringify(response));\n}\nconst taskId = response.data?.taskId || response.taskId || response.id || null;\nif (!taskId) {\n  throw new Error('KIE image create returned no taskId: ' + JSON.stringify(response));\n}\nreturn [{ json: { ...base, image_create_response: response, image_task_id: taskId } }];"
      },
      "id": "2cb71070-c7d8-4f1f-820c-7273a964e0ee",
      "name": "Normalize Image Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5504,
        2112
      ]
    },
    {
      "parameters": {
        "amount": "={{$json.config.image_poll_interval_seconds || 120}}"
      },
      "id": "09ea7925-61df-4dfc-bdaa-2764c29de5db",
      "name": "Wait Image 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5776,
        2112
      ],
      "webhookId": "d5480533-2e8a-4514-a763-b0e88010d2f4"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.image_task_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a6ea6074-f453-441a-991a-e6425f3bdfd4",
      "name": "KIE Get Image Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6064,
        2112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalize Image Task').first().json;\nconst response = $input.first().json || {};\nconst data = response.data || response;\nconst state = String(data.state || data.status || '').toLowerCase();\nlet resultJson = data.resultJson || data.result_json || null;\nif (typeof resultJson === 'string' && resultJson.trim()) {\n  try { resultJson = JSON.parse(resultJson); } catch (error) { resultJson = { raw: data.resultJson, parse_error: error.message }; }\n}\nconst urls =\n  resultJson?.resultUrls ||\n  resultJson?.result_urls ||\n  resultJson?.imageUrls ||\n  resultJson?.images ||\n  resultJson?.urls ||\n  data.response?.resultUrls ||\n  data.resultUrls ||\n  data.imageUrls ||\n  [];\nconst first = Array.isArray(urls) ? urls[0] : urls;\nconst imageUrl = typeof first === 'string' ? first : first?.url || first?.imageUrl || first?.src || null;\nconst apiCode = Number(response.code ?? data.code ?? 200);\nconst failed =\n  ['fail', 'failed', 'error'].includes(state) ||\n  Boolean(data.failCode || data.failMsg || response.error) ||\n  (apiCode !== 200 && apiCode !== 0);\n\nif (failed) {\n  throw new Error('KIE image failed. state=' + state + ', taskId=' + (base.image_task_id || '-') + ', message=' + (data.failMsg || response.msg || response.error || ''));\n}\n\nif (!imageUrl) {\n  throw new Error('KIE image is not ready yet. state=' + (state || 'unknown') + ', taskId=' + (base.image_task_id || '-') + '. Increase image_poll_interval_seconds or rerun this image poll later.');\n}\n\nreturn [{ json: { ...base, image_poll_response: response, image_state: state || 'succeeded', image_failed: false, image_url: imageUrl } }];"
      },
      "id": "2f4ad5ea-ece3-410e-be20-4c5c7887270b",
      "name": "Parse Image Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6336,
        2112
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dryRun = Boolean(data.config?.test_mode || data.config?.dry_run);\nif (!dryRun) {\n  throw new Error('Live run reached Mock Image Result. Check Load Config: use_live_image must be true, and KIE image auth/credits must work.');\n}\nreturn [{ json: { ...data, image_url: null, image_state: 'mock_skipped' } }];"
      },
      "id": "8ba5cf14-d473-47d2-8371-07e292a54753",
      "name": "Mock Image Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5216,
        2528
      ]
    },
    {
      "id": "024feec3-2110-4a70-9eb6-4056e13742c6",
      "name": "BGM Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8352,
        2224
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!!$json.bgm_audio_url}}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "b07b5b80-ebc0-4c98-b921-08bc4ed7e9eb",
      "name": "Wait BGM Retry 90s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8640,
        2080
      ],
      "parameters": {
        "amount": "={{$json.config.bgm_retry_wait_seconds || 90}}"
      },
      "webhookId": "35800c3e-14bb-4731-8ba6-d1c7fbe3be3c"
    },
    {
      "id": "b67d3061-1577-45a9-b260-92175bcb2b61",
      "name": "KIE Get BGM Task Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8912,
        2080
      ],
      "parameters": {
        "url": "https://api.kie.ai/api/v1/generate/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.bgm_task_id}}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "id": "e13d8ff4-a180-4a3e-8210-2cae1daba58f",
      "name": "Parse BGM Result Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9184,
        2080
      ],
      "parameters": {
        "jsCode": "const previous = $('Parse BGM Result').first().json;\nconst response = $input.first().json || {};\nconst data = response.data || response;\nconst status = String(data.status || data.state || '').toUpperCase();\nconst sunoData =\n  data.response?.sunoData ||\n  data.sunoData ||\n  data.response?.data ||\n  data.data ||\n  [];\nconst first = Array.isArray(sunoData) ? sunoData[0] : sunoData;\nconst bgmUrl =\n  first?.audioUrl ||\n  first?.streamAudioUrl ||\n  first?.sourceAudioUrl ||\n  first?.audio_url ||\n  data.response?.audioUrl ||\n  data.response?.streamAudioUrl ||\n  data.audioUrl ||\n  data.streamAudioUrl ||\n  null;\nconst failed = ['CREATE_TASK_FAILED', 'GENERATE_AUDIO_FAILED', 'CALLBACK_EXCEPTION', 'SENSITIVE_WORD_ERROR', 'FAIL', 'FAILED', 'ERROR'].includes(status);\nif (failed) {\n  throw new Error('KIE BGM failed after retry. state=' + status + ', taskId=' + (previous.bgm_task_id || '-') + ', message=' + (data.failMsg || data.message || response.msg || response.error || ''));\n}\nif (!bgmUrl) {\n  throw new Error('KIE BGM still not ready after retry. state=' + (status || '-') + ', taskId=' + (previous.bgm_task_id || '-') + '. Run workflow again or increase bgm_retry_wait_seconds.');\n}\nreturn [{ json: { ...previous, bgm_poll_response: response, bgm_state: status, bgm_failed: false, bgm_audio_url: bgmUrl, bgm_retry_attempted: true } }];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Config": {
      "main": [
        [
          {
            "node": "Fetch Health RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Health RSS": {
      "main": [
        [
          {
            "node": "Build Viral Rank Pack Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Viral Rank Pack Request": {
      "main": [
        [
          {
            "node": "Use Live KIE Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Live KIE Claude?": {
      "main": [
        [
          {
            "node": "KIE Claude Generate Pack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Viral Rank Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Claude Generate Pack": {
      "main": [
        [
          {
            "node": "Parse KIE Claude Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse KIE Claude Pack": {
      "main": [
        [
          {
            "node": "Medical Safety Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Viral Rank Pack": {
      "main": [
        [
          {
            "node": "Medical Safety Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medical Safety Review": {
      "main": [
        [
          {
            "node": "Medical Review Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medical Review Passed?": {
      "main": [
        [
          {
            "node": "Prepare Image and BGM Payloads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Blocked Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Blocked Result": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image and BGM Payloads": {
      "main": [
        [
          {
            "node": "Use Live Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Live BGM?": {
      "main": [
        [
          {
            "node": "KIE Create BGM Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock BGM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Create BGM Task": {
      "main": [
        [
          {
            "node": "Normalize BGM Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize BGM Task": {
      "main": [
        [
          {
            "node": "Wait BGM 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait BGM 30s": {
      "main": [
        [
          {
            "node": "KIE Get BGM Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Get BGM Task": {
      "main": [
        [
          {
            "node": "Parse BGM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse BGM Result": {
      "main": [
        [
          {
            "node": "BGM Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock BGM Result": {
      "main": [
        [
          {
            "node": "Use Live Render?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Live Render?": {
      "main": [
        [
          {
            "node": "Prepare Local FFmpeg Render",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Render Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Render Result": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Downloaded MP4": {
      "main": [
        [
          {
            "node": "Allow YouTube Upload?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow YouTube Upload?": {
      "main": [
        [
          {
            "node": "YouTube Upload Public",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YouTube Upload": {
      "main": [
        [
          {
            "node": "Post Top-Level Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Top-Level Comment": {
      "main": [
        [
          {
            "node": "Attach Comment Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Comment Result": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip YouTube Upload": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Result": {
      "main": [
        [
          {
            "node": "Notify Slack?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack?": {
      "main": [
        [
          {
            "node": "Send Slack Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Webhook Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Webhook": {
      "main": [
        [
          {
            "node": "Attach Slack Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Slack Result": {
      "main": [
        [
          {
            "node": "Is Webhook Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Webhook Run?": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done - Manual or Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Live Image?": {
      "main": [
        [
          {
            "node": "KIE Create Image Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Image Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Create Image Task": {
      "main": [
        [
          {
            "node": "Normalize Image Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Image Task": {
      "main": [
        [
          {
            "node": "Wait Image 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Image 30s": {
      "main": [
        [
          {
            "node": "KIE Get Image Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Get Image Task": {
      "main": [
        [
          {
            "node": "Parse Image Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image Result": {
      "main": [
        [
          {
            "node": "Use Live BGM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Image Result": {
      "main": [
        [
          {
            "node": "Use Live BGM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Local FFmpeg Render": {
      "main": [
        [
          {
            "node": "Local FFmpeg Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local FFmpeg Render": {
      "main": [
        [
          {
            "node": "Parse Local Render Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Local Render Result": {
      "main": [
        [
          {
            "node": "Read Rendered MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Rendered MP4": {
      "main": [
        [
          {
            "node": "Attach Downloaded MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BGM Ready?": {
      "main": [
        [
          {
            "node": "Use Live Render?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait BGM Retry 90s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait BGM Retry 90s": {
      "main": [
        [
          {
            "node": "KIE Get BGM Task Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Get BGM Task Retry": {
      "main": [
        [
          {
            "node": "Parse BGM Result Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse BGM Result Final": {
      "main": [
        [
          {
            "node": "Use Live Render?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload Public": {
      "main": [
        [
          {
            "node": "Normalize YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "2e24f28c-d4ad-46e3-ba7c-c5a9a6a6929b",
  "triggerCount": 0
}
