workflows/shared_content_quality_gate.json
{
  "id": "sharedContentQualityGate01",
  "name": "Shared Content Quality Gate - 사실성·설명 품질 검수",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "f0b6c4e7-a320-4c50-a1f1-0d856b67a201",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pack = data.pack || {};\nconst cfg = data.config || {};\n\nfunction clean(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction channelProfilePolicy(config) {\n  const profileId = clean(config?.channel_editorial_profile);\n  const policies = {\n    haru_health_literacy: {\n      id: 'haru_health_literacy',\n      channel: '하루건강약사',\n      summary: '몸과 성분을 이해해 영양, 음식, 영양제, 피부, 활력에 관한 선택을 판단하도록 돕는 이해 중심 건강교육',\n      pillars: new Set(['nutrition_food_choices', 'supplement_ingredients', 'body_signals', 'skin_vitality', 'sleep_recovery_science', 'medicine_literacy', 'daily_health_choices']),\n    },\n    longevity_daily_function: {\n      id: 'longevity_daily_function',\n      channel: '건강장수비결',\n      summary: '식사, 운동, 수면, 혈압, 혈당, 관절을 관리해 건강한 장수와 일상 기능, 자립을 지키는 실천형 건강교육',\n      pillars: new Set(['cardiometabolic', 'joints_balance_falls', 'strength_walking', 'longevity_meals', 'sleep_recovery', 'daily_function', 'chronic_risk_signals']),\n    },\n  };\n  return policies[profileId] || null;\n}\n\nfunction inspectChannelIdentity(value, config) {\n  const policy = channelProfilePolicy(config);\n  if (!policy) return [];\n  const issues = [];\n  const packProfile = clean(value?.channel_editorial_profile);\n  const pillar = clean(value?.channel_content_pillar);\n  if (packProfile !== policy.id) issues.push({ code: 'channel_profile_mismatch', expected: policy.id, actual: packProfile || null });\n  if (!pillar || !policy.pillars.has(pillar)) issues.push({ code: 'channel_pillar_mismatch', profile: policy.id, pillar: pillar || null });\n  return issues;\n}\n\nfunction researchSourcePackOf(data) {\n  const value = data?.research_source_pack || data?.config?.research_source_pack || null;\n  if (!value || typeof value !== 'object') return null;\n  const sources = Array.isArray(value.sources) ? value.sources : [];\n  const facts = Array.isArray(value.candidate_facts) ? value.candidate_facts : [];\n  if (!sources.length || !facts.length) return null;\n  return { sources, candidate_facts: facts };\n}\n\nfunction inspectEverydayLanguage(pack) {\n  const issues = [];\n  const clinicalUnit = /\\d+(?:[.,]\\d+)?\\s*(?:cm|mm|kg|g\\b|mg|mcg|ug|㎍|ml|mmhg|kcal|%|초당|점 중)/i;\n  const clinicalTerm = /(선별\\s*기준|분획|흡수율|유의하게|양성률|민감도|특이도|산화마그네슘|아스파르트산|구연산마그네슘|sarc-?f|awgs|hba1c|iauc|질병코드|진단 기준|컷오프)/i;\n  const fields = [\n    ['hook_title', pack?.hook_title],\n    ['subtitle', pack?.subtitle],\n  ];\n  for (const [index, item] of (Array.isArray(pack?.rank_items) ? pack.rank_items : []).entries()) {\n    const rank = Number(item?.rank || index + 1);\n    for (const [field, value] of [['card_name', item?.card_name], ['card_reason', item?.card_reason]]) {\n      const text = clean(value);\n      if (clinicalUnit.test(text)) issues.push({ rank, code: 'clinical_unit_in_visible_copy', field, value: text });\n      else if (clinicalTerm.test(text)) issues.push({ rank, code: 'too_technical_for_audience', field, value: text });\n    }\n  }\n  for (const [field, value] of fields) {\n    const text = clean(value);\n    if (clinicalUnit.test(text)) issues.push({ code: 'clinical_unit_in_visible_copy', field, value: text });\n    else if (clinicalTerm.test(text)) issues.push({ code: 'too_technical_for_audience', field, value: text });\n  }\n  return issues;\n}\n\nfunction sourceBackedNumbers(item, researchPack) {\n  if (!researchPack) return null;\n  const fact = researchPack.candidate_facts.find((entry) => clean(entry?.fact_id) === clean(item?.fact_id));\n  if (!fact) return new Set();\n  return new Set(String([fact.claim, fact.evidence_summary, fact.necessary_condition, fact.limitation_or_boundary].filter(Boolean).join(' ')).match(/\\d+(?:[.,]\\d+)?/g) || []);\n}\n\nfunction inspectSourceGrounding(pack, researchPack) {\n  if (!researchPack) return [];\n  const issues = [];\n  const factIds = new Map(researchPack.candidate_facts.map((fact) => [clean(fact?.fact_id), fact]));\n  const sourceIds = new Set(researchPack.sources.map((source) => clean(source?.source_id)));\n  const items = Array.isArray(pack?.rank_items) ? pack.rank_items : [];\n  for (const [index, item] of items.entries()) {\n    const rank = Number(item?.rank || index + 1);\n    const factId = clean(item?.fact_id);\n    const itemSourceIds = (Array.isArray(item?.source_ids) ? item.source_ids : []).map(clean).filter(Boolean);\n    // A research pack is supporting evidence, not a required source for every\n    // item, so an uncited item is allowed. A citation that points at something\n    // absent from the pack is still a hard error.\n    if (factId && !factIds.has(factId)) {\n      issues.push({ rank, code: 'unknown_fact_id', message: 'Ranked item cites a fact_id that is not in the research source pack.', fact_id: factId });\n    }\n    for (const sourceId of itemSourceIds) {\n      if (!sourceIds.has(sourceId)) {\n        issues.push({ rank, code: 'unknown_source_id', message: 'Ranked item cites a source_id that is not in the research source pack.', source_id: sourceId });\n      }\n    }\n    const packFactNumbers = sourceBackedNumbers(item, researchPack) || new Set();\n    const cardNumbers = String([item?.card_reason, item?.card_name, item?.reason].filter(Boolean).join(' ')).match(/\\d+(?:[.,]\\d+)?/g) || [];\n    for (const number of cardNumbers) {\n      if (!packFactNumbers.has(number)) {\n        issues.push({ rank, code: 'fabricated_beyond_source', message: 'Visible copy uses a number that the cited research fact does not contain.', value: number });\n        break;\n      }\n    }\n  }\n  return issues;\n}\n\nfunction inspectPack(value, researchPack) {\n  const issues = [];\n  const items = Array.isArray(value?.rank_items) ? value.rank_items : [];\n  if (items.length < 4 || items.length > 7) {\n    issues.push({ code: 'rank_count', message: 'Rank item count must be 4-7, and 5 is the default target.', count: items.length });\n  }\n  const vagueEnding = /(점검|확인|도움|부담|충분|기본|균형|관리|변화|문제|위험)$/;\n  for (const [index, item] of items.entries()) {\n    const rank = Number(item?.rank || index + 1);\n    const name = clean(item?.name);\n    const cardName = clean(item?.card_name);\n    const reason = clean(item?.reason);\n    const cardReason = clean(item?.card_reason);\n    if (!name) issues.push({ rank, code: 'missing_name', message: 'Item name is missing.' });\n    if (!cardName) issues.push({ rank, code: 'missing_card_name', message: 'Short image item name is missing.' });\n    if ([...cardName].length > 30) issues.push({ rank, code: 'card_name_too_long', message: 'Short image item name exceeds 30 characters.', length: [...cardName].length });\n    if (!reason) issues.push({ rank, code: 'missing_reason', message: 'Item reason is missing.', value: reason });\n    if (!cardReason) issues.push({ rank, code: 'missing_card_reason', message: 'Mobile card sentence is missing.' });\n    if ([...cardReason].length > 60) issues.push({ rank, code: 'card_copy_too_long', message: 'Mobile card sentence exceeds 60 characters.', length: [...cardReason].length });\n    if (/^(?:왜|이유|핵심|tip)\\s*[:：]/i.test(cardReason)) issues.push({ rank, code: 'card_label_prefix', message: 'Mobile card sentence must not start with a repeated label.' });\n    const backedNumbers = sourceBackedNumbers(item, researchPack);\n    const percentages = reason.match(/(\\d{1,3})%/g) || [];\n    const unbackedPercentage = percentages.some((match) => !backedNumbers || !backedNumbers.has(match.replace('%', '')));\n    if (unbackedPercentage) issues.push({ rank, code: 'unsupported_percentage', message: 'Reason contains a percentage that no cited research fact supports.', value: reason });\n  }\n  const viewerCopy = [\n    value?.hook_title,\n    value?.subtitle,\n    value?.video_script,\n    value?.description,\n    value?.pinned_comment,\n    ...items.flatMap((item) => [item?.name, item?.card_name, item?.reason, item?.card_reason, item?.caution]),\n  ].map(clean).filter(Boolean).join(' ');\n  if (/[가-힣]니다(?:[.!?]|\\s|$)/.test(viewerCopy)) {\n    issues.push({ code: 'channel_tone_mismatch', message: 'Viewer-facing copy must use Korean 해요체 instead of 합니다체.' });\n  }\n  // A card whose every line is bent into the same sentence shape reads like\n  // machine translation even when each line is fine on its own. The usual\n  // offender is the if-then clause: five consecutive 조건절 is English grammar\n  // wearing Korean words. Spoken Korean varies its shape line to line.\n  const sentenceShape = (text) => {\n    if (!text) return '';\n    // Order matters: a line carrying an if-clause is built on that clause even\n    // when it also contains a 는데 contrast, so 조건절 is checked first.\n    if (text.includes('면 ') || text.endsWith('면')) return 'conditional';\n    if (text.includes('는데') || text.includes('지만')) return 'contrast';\n    if (text.includes('어서') || text.includes('아서') || text.includes('라서') || text.includes('때문')) return 'cause';\n    return 'plain';\n  };\n  // A bare demonstrative on the card means the line cannot be read on its own:\n  // 이때가 발톱을 보는 순간이에요 never says what changed about the 발톱.\n  for (const [index, item] of items.entries()) {\n    const cardReason = clean(item?.card_reason);\n    // Must start a word: 물건이거든요 and 사람이거나 contain 이거 as a substring\n    // and are perfectly clear, so only a standalone demonstrative counts.\n    const demonstrative = cardReason.match(/(?:^|[^가-힣])(그것|그거|이것|이거|이때|그때|이렇게|그렇게)/);\n    if (demonstrative) {\n      issues.push({\n        rank: Number(item?.rank || index + 1),\n        code: 'vague_demonstrative',\n        message: 'Card copy leans on a demonstrative instead of naming the thing, so the line cannot be read on its own.',\n        value: demonstrative[1],\n      });\n    }\n  }\n  const shapes = items.map((item) => sentenceShape(clean(item?.card_reason))).filter(Boolean);\n  if (shapes.length >= 4) {\n    const shapeCounts = {};\n    // Plain statements are the neutral default and repeat harmlessly; it is a\n    // marked construction repeated down the list that reads as translated.\n    for (const shape of shapes) if (shape !== 'plain') shapeCounts[shape] = (shapeCounts[shape] || 0) + 1;\n    const [dominant, dominantCount] = Object.entries(shapeCounts).sort((left, right) => right[1] - left[1])[0] || ['', 0];\n    if (dominantCount / shapes.length >= 0.8) {\n      issues.push({\n        code: 'monotonous_sentence_shape',\n        message: 'Almost every card_reason uses the same sentence shape, which reads as translated rather than spoken Korean. Vary the shape across ranks.',\n        shape: dominant,\n        count: dominantCount,\n        of: shapes.length,\n      });\n    }\n  }\n  return issues;\n}\n\nconst qualityPreflight = {\n  contract_version: '1.0',\n  issues: [\n    ...inspectPack(pack, researchSourcePackOf(data)),\n    ...inspectChannelIdentity(pack, cfg),\n    ...inspectSourceGrounding(pack, researchSourcePackOf(data)),\n    ...inspectEverydayLanguage(pack),\n    ...(/(?:^|[.!?]\\s*)(?:저는|제가|저희 집|저희 어머니|우리 어머니|직접 해보니|써보니|먹어보니)/.test(clean(pack.pinned_comment)) ? [{\n      code: 'fabricated_personal_anecdote',\n      message: 'Pinned comment presents an unverifiable first-person or family anecdote as the channel owner experience.',\n    }] : []),\n    ...(/[?？]/.test(clean(pack.pinned_comment)) || /(?:댓글|답글)(?:로|에)?\\s*(?:남겨|알려|적어|써|달아)/.test(clean(pack.pinned_comment)) || /좋아요(?:를)?\\s*(?:눌러|부탁|해\\s*주세요)/.test(clean(pack.pinned_comment)) || /(?:어떠세요|있으셨나요|해보셨나요|궁금하신가요)(?:[.!]?|$)/.test(clean(pack.pinned_comment)) ? [{\n      code: 'comment_question_cta',\n      message: 'Pinned comment asks a question or requests a reply, comment, or like instead of giving a plain summary.',\n    }] : []),\n    ...(data.content_duplicate_check?.blocking ? [{\n      code: 'recent_title_duplicate',\n      message: 'Generated title is too similar to a recent title and must be regenerated.',\n      generated_title: data.content_duplicate_check.generated_title,\n      similar_to: data.content_duplicate_check.similar_to,\n    }] : []),\n  ],\n  checked_at: new Date().toISOString(),\n};\n\nconst schema = {\n  decision: 'pass | reject',\n  issues: [{ rank: 1, code: 'specific_code', message: 'Korean explanation' }],\n  channel_audit: {\n    profile: cfg.channel_editorial_profile || '',\n    pillar: pack.channel_content_pillar || '',\n    fit: 'direct | mismatch',\n    explanation: 'How the topic directly serves this channel purpose and differs from the other channel',\n  },\n  language_audit: {\n    status: 'natural | malformed',\n    first_read: 'clear | unclear',\n    human_voice: 'natural | mechanical',\n    checked_fields: ['hook_title', 'subtitle', 'rank_item_names', 'card_copy', 'video_script', 'description', 'pinned_comment'],\n    problems: [{ field: 'rank_items[1].card_name', text: 'problematic original phrase', type: 'grammar | collocation | missing_particle_or_counter | literal_translation | unclear_reference | compressed_keyword_fragment | abstract_or_vague_visible_copy | forced_nominalization | bureaucratic_noun_stack | repeated_ai_template', explanation: 'Why the phrase is malformed, unclear, or mechanically written' }],\n  },\n  comment_audit: {\n    summary_fit: 'direct | mismatch',\n    question_cta: 'absent | present',\n    channel_closing: 'aligned | missing | mismatch',\n    explanation: 'Why the comment accurately summarizes the exact pack and ends with the configured channel closing',\n  },\n  audit: [{\n    rank: 1,\n    confidence: 'high | medium | low',\n    basis_type: 'physical_mechanism | storage_guidance | nutrition_basics | behavioral_mechanism | established_safety_guidance | uncertain',\n    explanation: '왜 이 근거를 신뢰할 수 있는지 짧게 설명',\n    useful_detail: '이 항목을 실제 선택에 유용하게 만드는 조건·기전·행동·경계 중 하나',\n    detail_type: 'condition | mechanism | comparison | label_field | timing_or_situation | interaction | observable_pattern | practical_action | boundary | established_number | none',\n    decision_change: 'specific | generic | none',\n    claim_delivery: 'direct | calibrated | generic_padding',\n    everyday_language: 'plain | technical',\n    everyday_object: 'the ordinary food, drink, object, place, time, action, or body feeling this item is built around',\n    source_fact_id: 'the research_source_pack candidate_fact id this ranked item cites, or empty when no research pack was supplied',\n    source_support: 'supported | partially_supported | unsupported | no_research_pack',\n    precision_check: 'supported | no_exact_number | unsupported',\n    health_depth: 'high | adequate | low',\n    medical_relevance: 'direct | incidental | none',\n    decision_value: 'actionable | limited | none',\n    card_name_clarity: 'clear | unclear',\n    card_reason_completeness: 'complete | missing_role',\n    card_meaning: 'direct | vague',\n    causal_direction: 'clear | ambiguous',\n    title_role: 'fulfills_exact_type | mismatch',\n    claim_strength: 'supported | appropriately_qualified | overstated',\n    alternative_causes: 'not_needed | acknowledged | missing',\n  }],\n};\n\nconst channelPolicy = channelProfilePolicy(cfg);\nconst configuredChannelIdentity = channelPolicy\n  ? channelPolicy.channel + ': ' + channelPolicy.summary\n  : 'No channel-specific profile was supplied.';\n\nconst prompt = [\n  'You are an independent, skeptical audit only. You are not the original writer.',\n  'Review the Korean ranked content pack below before any image, video, or upload is created.',\n  'Do not rewrite, polish, expand, reorder, or replace any title, item, reason, caution, description, comment, visual direction, or BGM direction.',\n  'Your only job is to pass the original pack or reject it when a clear factual or structural failure exists. Return strict JSON only.',\n  'Rules:',\n  'A. Check whether the title promise is semantically fulfilled by every ranked item. Mere membership in the same broad subject is not enough.',\n  'A2. Determine the semantic class named by the title count-bearing phrase and the semantic class of every ranked entry. Every entry must be an instance of the title class. Reject a mismatch or a title that counts an abstraction instead of its entries with issue code title_item_type_mismatch. Record title_role for every rank.',\n  'B. Reject abrupt topic drift or an unrelated item. Use issue code title_item_mismatch when an item does not fulfill the title, and unrelated_item when it belongs to a different logical list.',\n  'C. For each explanation, verify that the stated cause can reasonably produce the stated result and that the causal chain is understandable without guessing missing steps. Use issue code causal_gap for a broken, reversed, or unexplained causal link.',\n  'C2. Distinguish observation, association, cause, and diagnosis. Reject any claim that upgrades an observation or association into a cause or diagnosis without adequate support and stated conditions, using issue code overstated_causal_attribution. When several explanations remain plausible, calibrated wording must include a decision-relevant boundary or next check. Record claim_strength and alternative_causes for every rank.',\n  'D. Reject internal contradictions between title, item name, reason, and caution. Use issue code logical_contradiction.',\n  'E. The pinned_comment must summarize the exact title and item set in 2-4 short natural Korean sentences. It should select 2-3 of the most useful actions or principles and preserve their practical meaning without copying the full description or listing every item. Reject a generic, inaccurate, or context-mismatched summary with issue code comment_topic_mismatch.',\n  'G. The pinned_comment must use calm, respectful, polished Korean appropriate for a mature health-information channel. Do not ask a question, ask viewers to reply or comment, or ask for likes. Reject any such engagement prompt with issue code comment_question_cta. Also reject slang, cute or overly casual chatter, decorative emoji, sales language, or other engagement bait with issue code comment_tone_mismatch. One restrained subscription invitation is allowed only in the final sentence.',\n  'F. Never allow an invented channel-owner or family anecdote such as 저는, 제가, 저희 집, 저희 어머니, 우리 어머니, 직접 해보니, 써보니, or 먹어보니. Use issue code fabricated_personal_anecdote.',\n  'H. The channel is 50대 이후 건강 이야기 in the broad sense: the life of an adult over 50, not a narrow medical beat. Health, nutrition, supplement and medicine literacy, body signals, sleep, movement, and skin all belong, and so do household appliances, home and season, groceries and cooking, money and errands, hospital and pharmacy visits, cars, clothing, phones, family and relationships, and how to carry oneself while ageing. Judge only whether an adult over 50 would find the topic genuinely useful or interesting. Do not narrow the channel to what a clinic would hand out, and do not reject a topic for being about an object, an errand, or a relationship rather than the body. Use issue code channel_concept_mismatch only for a promise that no ordinary viewer over 50 would care about, or that belongs to an unrelated audience entirely such as day trading, gaming, or professional practice.',\n  'I. DECISION_DETAIL_V1: Each item must contain at least one decision-useful detail not inferable from its title or name: who or when it matters, an observable condition, a credible mechanism, a comparison, a label field, an interaction, a practical action, or a meaningful boundary. Record useful_detail, detail_type, and decision_change for every rank. decision_change is specific only when the item tells the viewer what to notice or do differently and why. Reject a restatement, slogan, obvious advice, or generic phrases such as 건강에 좋아요, 도움이 될 수 있어요, 주의가 필요해요, 확인해요, 관리가 중요해요, or 사람마다 달라요 with issue code low_information_value. Do not reject merely because the writing is brief.',\n  'I2. Distinguish justified uncertainty from generic safety padding. Established facts should be stated directly. A qualifier is calibrated only when it names the exact condition, uncertain relation, exception, or plausible alternative. Repeated may, could, might, 수 있어요, or blanket caution that removes the mechanism, condition, or decision is generic_padding and must be rejected with issue code generic_safe_summary. Record claim_delivery for every rank.',\n  'I5. COMMON_KNOWLEDGE_V1: apply the 나도 알지 test to every rank. If a typical Korean viewer in their late fifties would answer 그건 나도 알지 — 의자에 올라서면 위험하다, 어두우면 잘 안 보인다, 물을 충분히 마셔라 — the row teaches nothing and must be rejected with issue code low_information_value. A published card failed exactly this way: five common-sense caution rows, zero takeaways. Every row must hand the viewer something they could repeat to a friend: a surprising cause, a nameable trick, or a specific place, time, function, or interval. 얼린 두부는 식감이 고기처럼 변한다 passes; 넘어지면 다친다 does not. Judge the pack as a whole as well: when most rows are common knowledge, reject the topic itself rather than asking for rewording.',\n  'I4. EVERYDAY_LANGUAGE_V1: This is a senior lifestyle channel, not a clinical education channel. Judge every visible field as a 60-year-old with no health background reading a phone for two seconds. Each ranked item must be built around an ordinary food, drink, object, place, time of day, action, or body feeling the viewer can picture and act on tonight without measuring, testing, or buying anything. Record everyday_language and everyday_object for every rank. Reject with issue code too_technical_for_audience any visible clinical measurement, screening threshold, lab value, percentage, chemical or salt name, medical scale name, diagnosis code, or study term, and any card that reads like a handout rather than kitchen-table Korean. Clinical evidence in the research pack is fine as a source; it must reach the card as the everyday behaviour and everyday result it implies. Do not reject ordinary daily numbers such as 두 시간, 세 알, or 10분 when they are not being used as a cutoff to measure against.',\n  'I3. RESEARCH_GROUNDING_V2: A research_source_pack, when supplied, is supporting evidence rather than the only permitted evidence base, and items may be written without citing it. For a ranked item that does cite a fact_id, find that candidate_fact and judge whether the visible card_name, card_reason, and reason stay inside its claim, evidence_summary, necessary_condition, and limitation_or_boundary; record source_fact_id and source_support for that rank. Reject a cited item whose claim is absent from the fact it cites with issue code claim_not_in_source_pack, and reject a condition, number, threshold, mechanism, comparison, interaction, or causal relation the cited fact does not contain with issue code fabricated_beyond_source. Never reject an item merely for having no citation, and never require the pack to cover every rank. For an uncited item, or when no pack is supplied, set source_support to no_research_pack and judge the claim on ordinary factual plausibility instead.',\n  'J. Check every exact minute, repetition count, percentage, threshold, measurement, or other precise number. If it is unnecessary, unsupported, or appears added only to sound scientific, reject with issue code fabricated_precision. Ordinary non-quantified advice does not need a number.',\n  'K. Apply a usefulness floor rather than a medical floor. Every item must give the viewer something they did not already know and can act on or notice today — a body mechanism, a signal, a household or money consequence, a step that saves a wasted trip, or a boundary worth setting. Household, appliance, shopping, errand, and relationship items clear this floor whenever they carry a real consequence; they are not shallow merely for being non-medical. Reject with issue code insufficient_health_depth only an item that teaches nothing the viewer can use: a slogan, a restatement of common knowledge, or vague encouragement. Record health_depth, medical_relevance, and decision_value for every item, and set medical_relevance to none for a legitimately non-medical everyday item instead of rejecting it.',\n  'L. The visible card_name and card_reason must use common everyday Korean that an ordinary viewer immediately understands. Reject obscure furniture words, unexplained jargon, awkward literal translation, or needlessly technical visible wording with issue code unfamiliar_visible_word.',\n  'L2. PLAIN_MEANING_V1: Clarity outranks brevity, and the character limits are ceilings rather than targets. Read each card_reason alone, without its card_name and without the title, and ask what it is actually about. Reject with issue code low_information_value any line that has been trimmed until the subject, the object, or the actual consequence is gone: a bare comparative with nothing to compare to, a demonstrative such as 그것, 이때, 이렇게, or 그렇게 standing in for the thing itself, or a sentence that only makes sense once the reader has already read the name. Spending more characters to keep the meaning intact is always the correct trade. Never reward a line merely for being short.',\n  'L4. KOREAN_VOICE_V1: The copy must read as Korean somebody spoke, not as English carried across into Korean words. Four habits give it away, and all four are grounds to reject with issue code translationese_copy. (a) Subjects English requires but Korean drops: a Korean speaker omits the subject the situation already makes obvious, so 두 식구가 큰 통을 다 쓰기 전에 냄새가 변해요 should be 큰 통은 다 쓰기도 전에 냄새부터 변해요. (b) Inanimate things driving transitive verbs: 소음이 말소리를 덮어요 is English word order; Korean says 소음 때문에 말이 안 들려요. (c) One sentence shape repeated down the whole list, especially the if-then 조건절 — vary it with 대조 (~는데, ~지만), plain statement, cause (~어서), and an occasional courteous ~해 보세요 so the ranks do not scan identically. (d) Passive and causative piled up where Korean prefers an active verb. DIGNIFIED_VOICE_V1: the channel voice is a courteous professional in their fifties addressing viewers of the same generation as respected peers — composed, warm, polite 해요체 with honorific 시 for viewer actions. Reject chatty endings such as 거든요, 잖아요, or clipped ~죠 with issue code channel_tone_mismatch. Read every line aloud in your head and ask whether that professional would say it to a customer they respect. Judge hook_title and subtitle by the same test, and watch for the commonest title failure: the bookish metaphor built from an abstract noun and a figurative transitive verb, as in 결과를 흔드는 실수, 건강을 깎는 습관, or 노후를 지키는 선택 — printed-copy phrasings nobody says aloud. Reject such a title with translationese_copy and require the actual effect stated plainly, e.g. 혈압이 다르게 나오는 이유.',\n  'L5. DIRECTION_MATCH_V1: read each card_name and its card_reason as one breath and check they point the same way. Reject with issue code low_information_value any row where the name states a mistake but the reason describes the benefit of the opposite action, forcing the viewer to invert the sentence in their head; any row where a plain fact is dressed as an action by nominalizing it with ~하기; and any reason that leads with corrective advice instead of the direct consequence or meaning of the named thing.',\n  'L3. NO_FIGURATIVE_COPY_V1: Visible copy must say the thing directly. Reject with issue code unfamiliar_visible_word any metaphor, simile, analogy, poetic image, or roundabout phrasing that makes the viewer infer what is meant instead of reading it. Name the actual object, the actual action, and the actual consequence in plain words.',\n  'M. All viewer-facing explanatory copy must use natural Korean 해요체. Reject 합니다체 or endings such as 입니다, 합니다, 됩니다, or 습니다 with issue code channel_tone_mismatch.',\n  'N. Audit the configured channel identity separately from general health relevance. 하루건강약사 must teach health literacy and informed choices about nutrition, ingredients, supplements, food, body signals, skin, vitality, or recovery. 건강장수비결 must help adults over 50 protect healthy aging, chronic-risk control, mobility, joints, sleep, meals, daily function, or independence. Reject a pack that mainly belongs to the other channel or only mentions the configured purpose incidentally with issue code channel_identity_mismatch.',\n  'O. The configured channel pillar is a broad rotation category, not permission to repeat the same narrow promise. Confirm that the exact topic directly fits the supplied pillar and that its medical question, mechanism, decision, and practical situation are coherent. Use issue code channel_pillar_mismatch when the topic does not fit.',\n  'P. CLEAR_KOREAN_COPY_V2: Audit every viewer-facing field as a native Korean copy editor, and audit every card pair rank by rank. Check natural subject-predicate combinations, particles, counters, modifiers, collocations, and referents. Read only the title, card_name, and card_reason without the long reason. The pair must immediately state what happens, under which condition, and the specific health meaning or action; do not mentally supply a missing actor, object, particle, or situation. A card_reason ending in 확인해요 or 살펴봐요 is vague unless it names exactly what to check. Reject reversed or ambiguous wording that turns an observed loss of capacity into its cause. Record card_name_clarity, card_reason_completeness, card_meaning, causal_direction, title_role, claim_strength, and alternative_causes for every rank. Use first_read_clarity for a failed card pair, unnatural_korean for objectively malformed grammar, and mechanical_ai_tone only for a clear pattern of report headings, keyword strings, forced noun chains, or repeated AI templates. Do not block one necessary medical term, one naturally short noun phrase, harmless brevity, or a mere preference about elegance or rhythm. Fill language_audit even when the copy passes.',\n  'S. The final pinned_comment sentence must be a calm subscription invitation aligned to the configured channel, with naturally varied wording instead of a fixed slogan. For 하루건강약사, promise easy explanations that help viewers understand their body, ingredients, nutrition, supplements, food, skin, vitality, recovery, or healthier choices. For 건강장수비결, invite viewers to keep building habits for healthy aging, chronic-risk control, mobility, joints, sleep, meals, daily function, or independence together. Use issue code comment_channel_closing when the closing is missing or belongs to the other channel. Fill comment_audit even when the comment passes.',\n  '1. Every reason must state a concrete cause and effect in one complete Korean sentence. Do not reject merely because of character count or writing length.',\n  '2. Reject vague noun fragments such as 밀폐 공간 압력 부담, 단백질 기본 점검, 소량으로 충분.',\n  '3. Distinguish the actual mechanism and location. Example: a hot car does not create cabin-pressure danger; heat can raise pressure inside a lighter or aerosol container.',\n  '4. Keep only claims you rate HIGH confidence from well-established physical mechanisms, product storage guidance, nutrition basics, behavioral mechanisms, or established safety guidance.',\n  '5. If any item is medium or low confidence, decision must be reject. Never remove or rewrite an item.',\n  '6. Never invent citations, institutions, studies, percentages, scores, dosage, or exact numbers.',\n  '7. Preserve the channel tone and topic, but factual clarity outranks virality or visual density.',\n  '8. Never return corrected_pack. The writer pack is immutable.',\n  'Preflight issues found by deterministic checks: ' + JSON.stringify(qualityPreflight.issues),\n  researchSourcePackOf(data) ? 'research_source_pack (the only permitted evidence base): ' + JSON.stringify(researchSourcePackOf(data)) : 'No research_source_pack was supplied; set source_support to no_research_pack for every rank.',\n  'Configured channel identity: ' + configuredChannelIdentity,\n  'Configured channel profile and selected pillar: ' + JSON.stringify({ profile: cfg.channel_editorial_profile || '', pillar: pack.channel_content_pillar || '' }),\n  'Required schema: ' + JSON.stringify(schema),\n  'Input pack: ' + JSON.stringify(pack),\n].join('\\n\\n');\n\n// Prepared packs used to skip the AI reviewer, and a queued card of pure\n// common sense shipped verbatim because nothing downstream could judge\n// usefulness. Prepared packs are now reviewed like generated ones; on\n// rejection the retry node refuses to regenerate and stops the run instead.\nconst useAiReview = !data.locked_source_pack && !cfg.dry_run && !cfg.test_mode && cfg.content_quality_ai_review !== false;\nconst kieQualityReviewRequest = {\n  model: cfg.kie_ai_model || 'claude-opus-4-7',\n  stream: false,\n  max_tokens: 3200,\n  messages: [{ role: 'user', content: prompt }],\n};\n\nreturn [{\n  json: {\n    ...data,\n    quality_preflight: qualityPreflight,\n    use_ai_quality_review: useAiReview,\n    kie_quality_review_request: kieQualityReviewRequest,\n  },\n}];"
      },
      "id": "405af623-59a1-4587-b31b-82305bb3519e",
      "name": "Build Quality Review Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.use_ai_quality_review}}",
              "value2": true
            }
          ]
        }
      },
      "id": "45882e44-f9af-4b37-81d6-ef8042100938",
      "name": "Use AI Quality Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/claude/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.kie_quality_review_request) }}",
        "options": {}
      },
      "id": "f176841d-bcc8-4f7f-9547-bec1d6ebac2e",
      "name": "KIE Claude Independent Quality Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "MV5JVbdiJSoVx9O8",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Build Quality Review Request').first().json;\nconst response = $input.first().json || {};\n\nfunction clean(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction channelProfilePolicy(config) {\n  const profileId = clean(config?.channel_editorial_profile);\n  const policies = {\n    haru_health_literacy: {\n      id: 'haru_health_literacy',\n      channel: '하루건강약사',\n      summary: '몸과 성분을 이해해 영양, 음식, 영양제, 피부, 활력에 관한 선택을 판단하도록 돕는 이해 중심 건강교육',\n      pillars: new Set(['nutrition_food_choices', 'supplement_ingredients', 'body_signals', 'skin_vitality', 'sleep_recovery_science', 'medicine_literacy', 'daily_health_choices']),\n    },\n    longevity_daily_function: {\n      id: 'longevity_daily_function',\n      channel: '건강장수비결',\n      summary: '식사, 운동, 수면, 혈압, 혈당, 관절을 관리해 건강한 장수와 일상 기능, 자립을 지키는 실천형 건강교육',\n      pillars: new Set(['cardiometabolic', 'joints_balance_falls', 'strength_walking', 'longevity_meals', 'sleep_recovery', 'daily_function', 'chronic_risk_signals']),\n    },\n  };\n  return policies[profileId] || null;\n}\n\nfunction inspectChannelIdentity(value, config) {\n  const policy = channelProfilePolicy(config);\n  if (!policy) return [];\n  const issues = [];\n  const packProfile = clean(value?.channel_editorial_profile);\n  const pillar = clean(value?.channel_content_pillar);\n  if (packProfile !== policy.id) issues.push({ code: 'channel_profile_mismatch', expected: policy.id, actual: packProfile || null });\n  if (!pillar || !policy.pillars.has(pillar)) issues.push({ code: 'channel_pillar_mismatch', profile: policy.id, pillar: pillar || null });\n  return issues;\n}\n\nfunction researchSourcePackOf(data) {\n  const value = data?.research_source_pack || data?.config?.research_source_pack || null;\n  if (!value || typeof value !== 'object') return null;\n  const sources = Array.isArray(value.sources) ? value.sources : [];\n  const facts = Array.isArray(value.candidate_facts) ? value.candidate_facts : [];\n  if (!sources.length || !facts.length) return null;\n  return { sources, candidate_facts: facts };\n}\n\nfunction inspectEverydayLanguage(pack) {\n  const issues = [];\n  const clinicalUnit = /\\d+(?:[.,]\\d+)?\\s*(?:cm|mm|kg|g\\b|mg|mcg|ug|㎍|ml|mmhg|kcal|%|초당|점 중)/i;\n  const clinicalTerm = /(선별\\s*기준|분획|흡수율|유의하게|양성률|민감도|특이도|산화마그네슘|아스파르트산|구연산마그네슘|sarc-?f|awgs|hba1c|iauc|질병코드|진단 기준|컷오프)/i;\n  const fields = [\n    ['hook_title', pack?.hook_title],\n    ['subtitle', pack?.subtitle],\n  ];\n  for (const [index, item] of (Array.isArray(pack?.rank_items) ? pack.rank_items : []).entries()) {\n    const rank = Number(item?.rank || index + 1);\n    for (const [field, value] of [['card_name', item?.card_name], ['card_reason', item?.card_reason]]) {\n      const text = clean(value);\n      if (clinicalUnit.test(text)) issues.push({ rank, code: 'clinical_unit_in_visible_copy', field, value: text });\n      else if (clinicalTerm.test(text)) issues.push({ rank, code: 'too_technical_for_audience', field, value: text });\n    }\n  }\n  for (const [field, value] of fields) {\n    const text = clean(value);\n    if (clinicalUnit.test(text)) issues.push({ code: 'clinical_unit_in_visible_copy', field, value: text });\n    else if (clinicalTerm.test(text)) issues.push({ code: 'too_technical_for_audience', field, value: text });\n  }\n  return issues;\n}\n\nfunction sourceBackedNumbers(item, researchPack) {\n  if (!researchPack) return null;\n  const fact = researchPack.candidate_facts.find((entry) => clean(entry?.fact_id) === clean(item?.fact_id));\n  if (!fact) return new Set();\n  return new Set(String([fact.claim, fact.evidence_summary, fact.necessary_condition, fact.limitation_or_boundary].filter(Boolean).join(' ')).match(/\\d+(?:[.,]\\d+)?/g) || []);\n}\n\nfunction inspectSourceGrounding(pack, researchPack) {\n  if (!researchPack) return [];\n  const issues = [];\n  const factIds = new Map(researchPack.candidate_facts.map((fact) => [clean(fact?.fact_id), fact]));\n  const sourceIds = new Set(researchPack.sources.map((source) => clean(source?.source_id)));\n  const items = Array.isArray(pack?.rank_items) ? pack.rank_items : [];\n  for (const [index, item] of items.entries()) {\n    const rank = Number(item?.rank || index + 1);\n    const factId = clean(item?.fact_id);\n    const itemSourceIds = (Array.isArray(item?.source_ids) ? item.source_ids : []).map(clean).filter(Boolean);\n    // A research pack is supporting evidence, not a required source for every\n    // item, so an uncited item is allowed. A citation that points at something\n    // absent from the pack is still a hard error.\n    if (factId && !factIds.has(factId)) {\n      issues.push({ rank, code: 'unknown_fact_id', message: 'Ranked item cites a fact_id that is not in the research source pack.', fact_id: factId });\n    }\n    for (const sourceId of itemSourceIds) {\n      if (!sourceIds.has(sourceId)) {\n        issues.push({ rank, code: 'unknown_source_id', message: 'Ranked item cites a source_id that is not in the research source pack.', source_id: sourceId });\n      }\n    }\n    const packFactNumbers = sourceBackedNumbers(item, researchPack) || new Set();\n    const cardNumbers = String([item?.card_reason, item?.card_name, item?.reason].filter(Boolean).join(' ')).match(/\\d+(?:[.,]\\d+)?/g) || [];\n    for (const number of cardNumbers) {\n      if (!packFactNumbers.has(number)) {\n        issues.push({ rank, code: 'fabricated_beyond_source', message: 'Visible copy uses a number that the cited research fact does not contain.', value: number });\n        break;\n      }\n    }\n  }\n  return issues;\n}\n\nfunction responseText(value) {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'string') return value;\n  try { return JSON.stringify(value); } catch (error) { return String(value); }\n}\n\nfunction tryParseJson(value) {\n  if (typeof value !== 'string') return value;\n  const trimmed = value.trim();\n  if (!trimmed || (!trimmed.startsWith('{') && !trimmed.startsWith('['))) return value;\n  try { return JSON.parse(trimmed); } catch (error) { return value; }\n}\n\nfunction collectText(value, depth = 0) {\n  if (!value || depth > 6) return '';\n  if (typeof value === 'string') {\n    const parsed = tryParseJson(value);\n    if (parsed !== value) {\n      if (parsed?.corrected_pack || parsed?.pack || parsed?.decision) return value;\n      return collectText(parsed, depth + 1);\n    }\n    return value;\n  }\n  if (Array.isArray(value)) return value.map((entry) => collectText(entry, depth + 1)).filter(Boolean).join('\\n');\n  if (Array.isArray(value.content)) {\n    const text = value.content.map((entry) => collectText(entry, depth + 1)).filter(Boolean).join('\\n');\n    if (text) return text;\n  }\n  if (value.message && Array.isArray(value.message.content)) {\n    const text = value.message.content.map((entry) => collectText(entry, depth + 1)).filter(Boolean).join('\\n');\n    if (text) return text;\n  }\n  for (const key of ['output_text', 'text', 'data', 'result', 'response']) {\n    const text = collectText(value[key], depth + 1);\n    if (text) return text;\n  }\n  return '';\n}\n\nfunction reviewStopReason(value, depth = 0) {\n  if (!value || depth > 6) return '';\n  if (typeof value === 'string') {\n    const parsed = tryParseJson(value);\n    return parsed !== value ? reviewStopReason(parsed, depth + 1) : '';\n  }\n  if (Array.isArray(value)) {\n    for (const entry of value) {\n      const reason = reviewStopReason(entry, depth + 1);\n      if (reason) return reason;\n    }\n    return '';\n  }\n  const ownReason = clean(value.stop_reason || value.stopReason).toLowerCase();\n  if (ownReason) return ownReason;\n  for (const key of ['data', 'result', 'response', 'message']) {\n    const reason = reviewStopReason(value[key], depth + 1);\n    if (reason) return reason;\n  }\n  return '';\n}\n\nfunction parseJsonText(text) {\n  const fence = String.fromCharCode(96, 96, 96);\n  const trimmed = String(text || '')\n    .trim()\n    .replace(new RegExp('^' + fence + 'json\\\\s*', 'i'), '')\n    .replace(new RegExp('^' + fence + '\\\\s*', 'i'), '')\n    .replace(new RegExp(fence + '$', 'i'), '')\n    .trim();\n  try { return JSON.parse(trimmed); } catch (error) {\n    const start = trimmed.indexOf('{');\n    const end = trimmed.lastIndexOf('}');\n    if (start >= 0 && end > start) return JSON.parse(trimmed.slice(start, end + 1));\n    throw error;\n  }\n}\n\nfunction inspectPack(value, researchPack) {\n  const issues = [];\n  const items = Array.isArray(value?.rank_items) ? value.rank_items : [];\n  if (items.length < 4 || items.length > 7) issues.push({ code: 'rank_count', count: items.length });\n  const vagueEnding = /(점검|확인|도움|부담|충분|기본|균형|관리|변화|문제|위험)$/;\n  for (const [index, item] of items.entries()) {\n    const rank = Number(item?.rank || index + 1);\n    const cardName = clean(item?.card_name);\n    const reason = clean(item?.reason);\n    const cardReason = clean(item?.card_reason);\n    if (!clean(item?.name)) issues.push({ rank, code: 'missing_name' });\n    if (!cardName) issues.push({ rank, code: 'missing_card_name' });\n    if ([...cardName].length > 30) issues.push({ rank, code: 'card_name_too_long', length: [...cardName].length });\n    if (!reason) issues.push({ rank, code: 'missing_reason', value: reason });\n    if (!cardReason) issues.push({ rank, code: 'missing_card_reason' });\n    if ([...cardReason].length > 60) issues.push({ rank, code: 'card_copy_too_long', length: [...cardReason].length });\n    if (/^(?:왜|이유|핵심|tip)\\s*[:：]/i.test(cardReason)) issues.push({ rank, code: 'card_label_prefix' });\n    const backedNumbers = sourceBackedNumbers(item, researchPack);\n    const percentages = reason.match(/(\\d{1,3})%/g) || [];\n    if (percentages.some((match) => !backedNumbers || !backedNumbers.has(match.replace('%', '')))) issues.push({ rank, code: 'unsupported_percentage', value: reason });\n  }\n  const viewerCopy = [\n    value?.hook_title,\n    value?.subtitle,\n    value?.video_script,\n    value?.description,\n    value?.pinned_comment,\n    ...items.flatMap((item) => [item?.name, item?.card_name, item?.reason, item?.card_reason, item?.caution]),\n  ].map(clean).filter(Boolean).join(' ');\n  if (/[가-힣]니다(?:[.!?]|\\s|$)/.test(viewerCopy)) issues.push({ code: 'channel_tone_mismatch' });\n  // A card whose every line is bent into the same sentence shape reads like\n  // machine translation even when each line is fine on its own. The usual\n  // offender is the if-then clause: five consecutive 조건절 is English grammar\n  // wearing Korean words. Spoken Korean varies its shape line to line.\n  const sentenceShape = (text) => {\n    if (!text) return '';\n    // Order matters: a line carrying an if-clause is built on that clause even\n    // when it also contains a 는데 contrast, so 조건절 is checked first.\n    if (text.includes('면 ') || text.endsWith('면')) return 'conditional';\n    if (text.includes('는데') || text.includes('지만')) return 'contrast';\n    if (text.includes('어서') || text.includes('아서') || text.includes('라서') || text.includes('때문')) return 'cause';\n    return 'plain';\n  };\n  // A bare demonstrative on the card means the line cannot be read on its own:\n  // 이때가 발톱을 보는 순간이에요 never says what changed about the 발톱.\n  for (const [index, item] of items.entries()) {\n    const cardReason = clean(item?.card_reason);\n    // Must start a word: 물건이거든요 and 사람이거나 contain 이거 as a substring\n    // and are perfectly clear, so only a standalone demonstrative counts.\n    const demonstrative = cardReason.match(/(?:^|[^가-힣])(그것|그거|이것|이거|이때|그때|이렇게|그렇게)/);\n    if (demonstrative) {\n      issues.push({\n        rank: Number(item?.rank || index + 1),\n        code: 'vague_demonstrative',\n        message: 'Card copy leans on a demonstrative instead of naming the thing, so the line cannot be read on its own.',\n        value: demonstrative[1],\n      });\n    }\n  }\n  const shapes = items.map((item) => sentenceShape(clean(item?.card_reason))).filter(Boolean);\n  if (shapes.length >= 4) {\n    const shapeCounts = {};\n    // Plain statements are the neutral default and repeat harmlessly; it is a\n    // marked construction repeated down the list that reads as translated.\n    for (const shape of shapes) if (shape !== 'plain') shapeCounts[shape] = (shapeCounts[shape] || 0) + 1;\n    const [dominant, dominantCount] = Object.entries(shapeCounts).sort((left, right) => right[1] - left[1])[0] || ['', 0];\n    if (dominantCount / shapes.length >= 0.8) {\n      issues.push({ code: 'monotonous_sentence_shape', shape: dominant, count: dominantCount, of: shapes.length });\n    }\n  }\n  return issues;\n}\n\nfunction advisoryResult(code, message, extra = {}) {\n  const deterministicIssues = Array.isArray(base.quality_preflight?.issues) ? base.quality_preflight.issues : [];\n  const pass = deterministicIssues.length === 0;\n  return [{\n    json: {\n      ...base,\n      blocked: !pass,\n      content_quality_review: {\n        pass,\n        decision: pass ? 'pass_with_advisory' : 'reject',\n        mode: 'independent_ai_audit_fail_open',\n        contract_version: '1.0',\n        issues: [{ code, message }, ...deterministicIssues],\n        audit: [],\n        checked_at: new Date().toISOString(),\n        ...extra,\n      },\n    },\n  }];\n}\n\nconst rawResponse = responseText(response).toLowerCase();\nif (response.error || rawResponse.includes('unauthorized') || rawResponse.includes('try again later') || rawResponse.includes('internal error')) {\n  return advisoryResult('review_api_error', 'Independent quality review API failed. Original pack continues to medical safety review.');\n}\nif (reviewStopReason(response) === 'max_tokens') {\n  return advisoryResult('review_output_truncated', 'Independent quality review reached its output limit. Original pack continues to medical safety review.');\n}\n\nconst rawText = collectText(response);\nif (!rawText) return advisoryResult('review_empty', 'Independent quality review returned no parseable text. Original pack continues.');\n\nlet review;\ntry { review = parseJsonText(rawText); } catch (error) {\n  return advisoryResult('review_parse_error', error.message);\n}\n\nconst localIssues = [...inspectPack(base.pack), ...inspectChannelIdentity(base.pack, base.config || {})];\nconst channelPolicy = channelProfilePolicy(base.config || {});\nconst channelAudit = review.channel_audit && typeof review.channel_audit === 'object' ? review.channel_audit : {};\nconst languageAudit = review.language_audit && typeof review.language_audit === 'object' ? review.language_audit : {};\nconst commentAudit = review.comment_audit && typeof review.comment_audit === 'object' ? review.comment_audit : {};\nconst reviewerIssues = Array.isArray(review.issues) ? review.issues : [];\nconst reviewerHasIssue = (code) => reviewerIssues.some((issue) => clean(issue?.code).toLowerCase() === code);\nconst reviewerHasIssueForRank = (code, rank) => reviewerIssues.some((issue) => {\n  if (clean(issue?.code).toLowerCase() !== code) return false;\n  const issueRank = clean(issue?.rank);\n  return !issueRank || Number(issueRank) === rank;\n});\nif (channelPolicy) {\n  const auditedProfile = clean(channelAudit.profile);\n  const auditedPillar = clean(channelAudit.pillar);\n  const channelFit = clean(channelAudit.fit).toLowerCase();\n  if (auditedProfile !== channelPolicy.id || auditedPillar !== clean(base.pack?.channel_content_pillar) || channelFit !== 'direct') {\n    localIssues.push({\n      code: 'incomplete_channel_audit',\n      expected_profile: channelPolicy.id,\n      expected_pillar: clean(base.pack?.channel_content_pillar) || null,\n      audited_profile: auditedProfile || null,\n      audited_pillar: auditedPillar || null,\n      fit: channelFit || null,\n    });\n  }\n}\nconst requiredLanguageFields = ['hook_title', 'subtitle', 'rank_item_names', 'card_copy', 'video_script', 'description', 'pinned_comment'];\nconst languageStatus = clean(languageAudit.status).toLowerCase();\nconst firstReadStatus = clean(languageAudit.first_read).toLowerCase();\nconst humanVoiceStatus = clean(languageAudit.human_voice).toLowerCase();\nconst checkedLanguageFields = new Set(Array.isArray(languageAudit.checked_fields) ? languageAudit.checked_fields.map((field) => clean(field)) : []);\nconst languageProblems = Array.isArray(languageAudit.problems) ? languageAudit.problems : [];\nif (!['natural', 'malformed'].includes(languageStatus) || !['clear', 'unclear'].includes(firstReadStatus) || !['natural', 'mechanical'].includes(humanVoiceStatus) || !requiredLanguageFields.every((field) => checkedLanguageFields.has(field))) {\n  localIssues.push({\n    code: 'incomplete_language_audit',\n    status: languageStatus || null,\n    first_read: firstReadStatus || null,\n    human_voice: humanVoiceStatus || null,\n    missing_fields: requiredLanguageFields.filter((field) => !checkedLanguageFields.has(field)),\n  });\n}\nif (languageStatus === 'malformed' && !(Array.isArray(review.issues) && review.issues.some((issue) => clean(issue?.code).toLowerCase() === 'unnatural_korean'))) {\n  localIssues.push({\n    code: 'unnatural_korean',\n    message: 'Viewer-facing Korean contains an objectively malformed grammar or word combination.',\n    problems: languageProblems,\n  });\n}\nif (firstReadStatus === 'unclear' && !(Array.isArray(review.issues) && review.issues.some((issue) => clean(issue?.code).toLowerCase() === 'first_read_clarity'))) {\n  localIssues.push({\n    code: 'first_read_clarity',\n    message: 'Visible Korean copy cannot be understood comfortably on the first reading.',\n    problems: languageProblems,\n  });\n}\nif (humanVoiceStatus === 'mechanical' && !(Array.isArray(review.issues) && review.issues.some((issue) => clean(issue?.code).toLowerCase() === 'mechanical_ai_tone'))) {\n  localIssues.push({\n    code: 'mechanical_ai_tone',\n    message: 'Viewer-facing Korean uses a clear pattern of forced nominalization or mechanical AI-template wording.',\n    problems: languageProblems,\n  });\n}\nconst commentSummaryFit = clean(commentAudit.summary_fit).toLowerCase();\nconst commentQuestionCta = clean(commentAudit.question_cta).toLowerCase();\nconst commentChannelClosing = clean(commentAudit.channel_closing).toLowerCase();\nif (!['direct', 'mismatch'].includes(commentSummaryFit) || !['absent', 'present'].includes(commentQuestionCta) || !['aligned', 'missing', 'mismatch'].includes(commentChannelClosing)) {\n  localIssues.push({\n    code: 'incomplete_comment_audit',\n    summary_fit: commentSummaryFit || null,\n    question_cta: commentQuestionCta || null,\n    channel_closing: commentChannelClosing || null,\n  });\n}\nif (commentSummaryFit === 'mismatch' && !reviewerHasIssue('comment_topic_mismatch')) {\n  localIssues.push({ code: 'comment_topic_mismatch', message: 'Pinned comment does not accurately summarize the exact title and item set.' });\n}\nconst pinnedCommentText = clean(base.pack?.pinned_comment);\nconst commentHasEngagementCta = /[?？]/.test(pinnedCommentText)\n  || /(?:댓글|답글)(?:로|에)?\\s*(?:남겨|알려|적어|써|달아)/.test(pinnedCommentText)\n  || /좋아요(?:를)?\\s*(?:눌러|부탁|해\\s*주세요)/.test(pinnedCommentText)\n  || /(?:어떠세요|있으셨나요|해보셨나요|궁금하신가요)(?:[.!]?|$)/.test(pinnedCommentText);\nif ((commentQuestionCta === 'present' || commentHasEngagementCta) && !reviewerHasIssue('comment_question_cta')) {\n  localIssues.push({ code: 'comment_question_cta', message: 'Pinned comment asks a question or requests a reply, comment, or like instead of giving a plain summary.' });\n}\nif ((commentChannelClosing === 'missing' || commentChannelClosing === 'mismatch') && !reviewerHasIssue('comment_channel_closing')) {\n  localIssues.push({ code: 'comment_channel_closing', message: 'Pinned comment lacks a calm subscription closing aligned to the configured channel.' });\n}\nif (/(?:^|[.!?]\\s*)(?:저는|제가|저희 집|저희 어머니|우리 어머니|직접 해보니|써보니|먹어보니)/.test(clean(base.pack?.pinned_comment))) {\n  localIssues.push({ code: 'fabricated_personal_anecdote', message: 'Pinned comment contains an unverifiable first-person or family anecdote.' });\n}\nif (base.content_duplicate_check?.blocking) {\n  localIssues.push({\n    code: 'recent_title_duplicate',\n    message: 'Generated title is too similar to a recent title and must be regenerated.',\n    generated_title: base.content_duplicate_check.generated_title,\n    similar_to: base.content_duplicate_check.similar_to,\n  });\n}\nconst audit = Array.isArray(review.audit) ? review.audit : [];\nfor (const [index, item] of (base.pack?.rank_items || []).entries()) {\n  const rank = Number(item.rank || index + 1);\n  const auditItem = audit.find((entry) => Number(entry.rank) === rank);\n  const confidence = clean(auditItem?.confidence).toLowerCase();\n  const basisType = clean(auditItem?.basis_type).toLowerCase();\n  const healthDepth = clean(auditItem?.health_depth).toLowerCase();\n  const medicalRelevance = clean(auditItem?.medical_relevance).toLowerCase();\n  const decisionValue = clean(auditItem?.decision_value).toLowerCase();\n  const usefulDetail = clean(auditItem?.useful_detail);\n  const detailType = clean(auditItem?.detail_type).toLowerCase();\n  const decisionChange = clean(auditItem?.decision_change).toLowerCase();\n  const claimDelivery = clean(auditItem?.claim_delivery).toLowerCase();\n  const cardNameClarity = clean(auditItem?.card_name_clarity).toLowerCase();\n  const cardReasonCompleteness = clean(auditItem?.card_reason_completeness).toLowerCase();\n  const cardMeaning = clean(auditItem?.card_meaning).toLowerCase();\n  const causalDirection = clean(auditItem?.causal_direction).toLowerCase();\n  const titleRole = clean(auditItem?.title_role).toLowerCase();\n  const claimStrength = clean(auditItem?.claim_strength).toLowerCase();\n  const alternativeCauses = clean(auditItem?.alternative_causes).toLowerCase();\n  const validHealthDepth = new Set(['high', 'adequate']);\n  const validMedicalRelevance = new Set(['direct']);\n  const validDecisionValue = new Set(['actionable', 'limited']);\n  if (!auditItem || !validHealthDepth.has(healthDepth) || !validMedicalRelevance.has(medicalRelevance) || !validDecisionValue.has(decisionValue)) {\n    localIssues.push({\n      rank,\n      code: 'incomplete_health_audit',\n      health_depth: healthDepth || null,\n      medical_relevance: medicalRelevance || null,\n      decision_value: decisionValue || null,\n    });\n  }\n  if (confidence === 'low' || confidence === 'medium') localIssues.push({ rank, code: 'insufficient_confidence', confidence });\n  if (basisType === 'uncertain') localIssues.push({ rank, code: 'uncertain_basis', basis_type: basisType });\n  if (healthDepth === 'low' || medicalRelevance === 'incidental' || medicalRelevance === 'none') {\n    localIssues.push({ rank, code: 'insufficient_health_depth', health_depth: healthDepth || null, medical_relevance: medicalRelevance || null });\n  }\n  if (decisionValue === 'none') localIssues.push({ rank, code: 'low_information_value', decision_value: decisionValue });\n  const validDetailTypes = new Set(['condition', 'mechanism', 'comparison', 'label_field', 'timing_or_situation', 'interaction', 'observable_pattern', 'practical_action', 'boundary', 'established_number', 'none']);\n  const detailAuditComplete = Boolean(usefulDetail)\n    && validDetailTypes.has(detailType)\n    && ['specific', 'generic', 'none'].includes(decisionChange)\n    && ['direct', 'calibrated', 'generic_padding'].includes(claimDelivery);\n  if (!detailAuditComplete) {\n    localIssues.push({\n      rank,\n      code: 'incomplete_detail_audit',\n      useful_detail: usefulDetail || null,\n      detail_type: detailType || null,\n      decision_change: decisionChange || null,\n      claim_delivery: claimDelivery || null,\n    });\n  } else {\n    if ((detailType === 'none' || decisionChange === 'generic' || decisionChange === 'none') && !reviewerHasIssueForRank('low_information_value', rank)) {\n      localIssues.push({ rank, code: 'low_information_value', useful_detail: usefulDetail, detail_type: detailType, decision_change: decisionChange });\n    }\n    if (claimDelivery === 'generic_padding' && !reviewerHasIssueForRank('generic_safe_summary', rank)) {\n      localIssues.push({ rank, code: 'generic_safe_summary', message: 'The item uses blanket uncertainty instead of stating the supported mechanism, condition, or decision.' });\n    }\n  }\n  const everydayLanguage = clean(auditItem?.everyday_language).toLowerCase();\n  const everydayObject = clean(auditItem?.everyday_object);\n  if (!['plain', 'technical'].includes(everydayLanguage) || !everydayObject) {\n    localIssues.push({ rank, code: 'incomplete_everyday_audit', everyday_language: everydayLanguage || null, everyday_object: everydayObject || null });\n  } else if (everydayLanguage === 'technical' && !reviewerHasIssueForRank('too_technical_for_audience', rank)) {\n    localIssues.push({ rank, code: 'too_technical_for_audience', message: 'The visible copy reads as clinical rather than everyday Korean.', everyday_object: everydayObject });\n  }\n  const researchPack = researchSourcePackOf(base);\n  const sourceSupport = clean(auditItem?.source_support).toLowerCase();\n  const sourceFactId = clean(auditItem?.source_fact_id);\n  const itemCitesPack = Boolean(clean(item?.fact_id));\n  if (researchPack && itemCitesPack) {\n    const sourceAuditComplete = ['supported', 'partially_supported', 'unsupported'].includes(sourceSupport) && Boolean(sourceFactId);\n    if (!sourceAuditComplete) {\n      localIssues.push({ rank, code: 'incomplete_source_audit', source_support: sourceSupport || null, source_fact_id: sourceFactId || null });\n    } else if (sourceSupport !== 'supported' && !reviewerHasIssueForRank('claim_not_in_source_pack', rank)) {\n      localIssues.push({ rank, code: 'claim_not_in_source_pack', message: 'The ranked item is not fully supported by the research fact it cites.', source_support: sourceSupport, source_fact_id: sourceFactId });\n    }\n  }\n  const visibleCopyAuditComplete = ['clear', 'unclear'].includes(cardNameClarity)\n    && ['complete', 'missing_role'].includes(cardReasonCompleteness)\n    && ['direct', 'vague'].includes(cardMeaning)\n    && ['clear', 'ambiguous'].includes(causalDirection);\n  if (!visibleCopyAuditComplete) {\n    localIssues.push({\n      rank,\n      code: 'incomplete_visible_copy_audit',\n      card_name_clarity: cardNameClarity || null,\n      card_reason_completeness: cardReasonCompleteness || null,\n      card_meaning: cardMeaning || null,\n      causal_direction: causalDirection || null,\n    });\n  } else if (cardNameClarity !== 'clear' || cardReasonCompleteness !== 'complete' || cardMeaning !== 'direct' || causalDirection !== 'clear') {\n    if (!reviewerHasIssueForRank('first_read_clarity', rank)) {\n      localIssues.push({\n        rank,\n        code: 'first_read_clarity',\n        message: 'The card pair omits a needed sentence role, gives only a vague instruction, or obscures the observation and its meaning.',\n        card_name_clarity: cardNameClarity,\n        card_reason_completeness: cardReasonCompleteness,\n        card_meaning: cardMeaning,\n        causal_direction: causalDirection,\n      });\n    }\n  }\n  const semanticAuditComplete = ['fulfills_exact_type', 'mismatch'].includes(titleRole)\n    && ['supported', 'appropriately_qualified', 'overstated'].includes(claimStrength)\n    && ['not_needed', 'acknowledged', 'missing'].includes(alternativeCauses);\n  if (!semanticAuditComplete) {\n    localIssues.push({\n      rank,\n      code: 'incomplete_semantic_audit',\n      title_role: titleRole || null,\n      claim_strength: claimStrength || null,\n      alternative_causes: alternativeCauses || null,\n    });\n  } else {\n    if (titleRole === 'mismatch' && !reviewerHasIssueForRank('title_item_type_mismatch', rank)) {\n      localIssues.push({ rank, code: 'title_item_type_mismatch', message: 'The ranked item type does not match the type counted by the title.' });\n    }\n    if ((claimStrength === 'overstated' || alternativeCauses === 'missing') && !reviewerHasIssueForRank('overstated_causal_attribution', rank)) {\n      localIssues.push({ rank, code: 'overstated_causal_attribution', message: 'The claim exceeds the supported relation or certainty without adequate conditions or a useful boundary.' });\n    }\n  }\n}\n\nconst advisoryCodes = new Set(['reason_length', 'vague_fragment', 'style', 'wording', 'density', 'too_long', 'too_short']);\nconst hardReviewerIssues = reviewerIssues.filter((issue) => !advisoryCodes.has(clean(issue?.code).toLowerCase()));\nlocalIssues.push(...hardReviewerIssues);\nconst decision = clean(review.decision || (review.pass ? 'pass' : 'reject')).toLowerCase();\nconst pass = localIssues.length === 0;\n\nreturn [{\n  json: {\n    ...base,\n    pack: base.pack,\n    blocked: !pass,\n    content_quality_review: {\n      pass,\n      decision: pass ? (decision === 'reject' ? 'pass_with_advisory' : 'pass') : 'reject',\n      mode: 'independent_ai_audit_only',\n      contract_version: '1.0',\n      issues: [...reviewerIssues, ...localIssues],\n      audit,\n      channel_audit: channelAudit,\n      language_audit: languageAudit,\n      comment_audit: commentAudit,\n      preflight_issues: base.quality_preflight?.issues || [],\n      checked_at: new Date().toISOString(),\n    },\n  },\n}];"
      },
      "id": "39d7617d-70d7-40cb-b6ab-8f5fa98f7869",
      "name": "Parse and Enforce Quality Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pack = data.pack || {};\nconst cfg = data.config || {};\n\nfunction clean(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction channelProfilePolicy(config) {\n  const profileId = clean(config?.channel_editorial_profile);\n  const policies = {\n    haru_health_literacy: {\n      id: 'haru_health_literacy',\n      channel: '하루건강약사',\n      summary: '몸과 성분을 이해해 영양, 음식, 영양제, 피부, 활력에 관한 선택을 판단하도록 돕는 이해 중심 건강교육',\n      pillars: new Set(['nutrition_food_choices', 'supplement_ingredients', 'body_signals', 'skin_vitality', 'sleep_recovery_science', 'medicine_literacy', 'daily_health_choices']),\n    },\n    longevity_daily_function: {\n      id: 'longevity_daily_function',\n      channel: '건강장수비결',\n      summary: '식사, 운동, 수면, 혈압, 혈당, 관절을 관리해 건강한 장수와 일상 기능, 자립을 지키는 실천형 건강교육',\n      pillars: new Set(['cardiometabolic', 'joints_balance_falls', 'strength_walking', 'longevity_meals', 'sleep_recovery', 'daily_function', 'chronic_risk_signals']),\n    },\n  };\n  return policies[profileId] || null;\n}\n\nfunction inspectChannelIdentity(value, config) {\n  const policy = channelProfilePolicy(config);\n  if (!policy) return [];\n  const issues = [];\n  const packProfile = clean(value?.channel_editorial_profile);\n  const pillar = clean(value?.channel_content_pillar);\n  if (packProfile !== policy.id) issues.push({ code: 'channel_profile_mismatch', expected: policy.id, actual: packProfile || null });\n  if (!pillar || !policy.pillars.has(pillar)) issues.push({ code: 'channel_pillar_mismatch', profile: policy.id, pillar: pillar || null });\n  return issues;\n}\n\nfunction researchSourcePackOf(data) {\n  const value = data?.research_source_pack || data?.config?.research_source_pack || null;\n  if (!value || typeof value !== 'object') return null;\n  const sources = Array.isArray(value.sources) ? value.sources : [];\n  const facts = Array.isArray(value.candidate_facts) ? value.candidate_facts : [];\n  if (!sources.length || !facts.length) return null;\n  return { sources, candidate_facts: facts };\n}\n\nfunction inspectEverydayLanguage(pack) {\n  const issues = [];\n  const clinicalUnit = /\\d+(?:[.,]\\d+)?\\s*(?:cm|mm|kg|g\\b|mg|mcg|ug|㎍|ml|mmhg|kcal|%|초당|점 중)/i;\n  const clinicalTerm = /(선별\\s*기준|분획|흡수율|유의하게|양성률|민감도|특이도|산화마그네슘|아스파르트산|구연산마그네슘|sarc-?f|awgs|hba1c|iauc|질병코드|진단 기준|컷오프)/i;\n  const fields = [\n    ['hook_title', pack?.hook_title],\n    ['subtitle', pack?.subtitle],\n  ];\n  for (const [index, item] of (Array.isArray(pack?.rank_items) ? pack.rank_items : []).entries()) {\n    const rank = Number(item?.rank || index + 1);\n    for (const [field, value] of [['card_name', item?.card_name], ['card_reason', item?.card_reason]]) {\n      const text = clean(value);\n      if (clinicalUnit.test(text)) issues.push({ rank, code: 'clinical_unit_in_visible_copy', field, value: text });\n      else if (clinicalTerm.test(text)) issues.push({ rank, code: 'too_technical_for_audience', field, value: text });\n    }\n  }\n  for (const [field, value] of fields) {\n    const text = clean(value);\n    if (clinicalUnit.test(text)) issues.push({ code: 'clinical_unit_in_visible_copy', field, value: text });\n    else if (clinicalTerm.test(text)) issues.push({ code: 'too_technical_for_audience', field, value: text });\n  }\n  return issues;\n}\n\nfunction sourceBackedNumbers(item, researchPack) {\n  if (!researchPack) return null;\n  const fact = researchPack.candidate_facts.find((entry) => clean(entry?.fact_id) === clean(item?.fact_id));\n  if (!fact) return new Set();\n  return new Set(String([fact.claim, fact.evidence_summary, fact.necessary_condition, fact.limitation_or_boundary].filter(Boolean).join(' ')).match(/\\d+(?:[.,]\\d+)?/g) || []);\n}\n\nfunction inspectSourceGrounding(pack, researchPack) {\n  if (!researchPack) return [];\n  const issues = [];\n  const factIds = new Map(researchPack.candidate_facts.map((fact) => [clean(fact?.fact_id), fact]));\n  const sourceIds = new Set(researchPack.sources.map((source) => clean(source?.source_id)));\n  const items = Array.isArray(pack?.rank_items) ? pack.rank_items : [];\n  for (const [index, item] of items.entries()) {\n    const rank = Number(item?.rank || index + 1);\n    const factId = clean(item?.fact_id);\n    const itemSourceIds = (Array.isArray(item?.source_ids) ? item.source_ids : []).map(clean).filter(Boolean);\n    // A research pack is supporting evidence, not a required source for every\n    // item, so an uncited item is allowed. A citation that points at something\n    // absent from the pack is still a hard error.\n    if (factId && !factIds.has(factId)) {\n      issues.push({ rank, code: 'unknown_fact_id', message: 'Ranked item cites a fact_id that is not in the research source pack.', fact_id: factId });\n    }\n    for (const sourceId of itemSourceIds) {\n      if (!sourceIds.has(sourceId)) {\n        issues.push({ rank, code: 'unknown_source_id', message: 'Ranked item cites a source_id that is not in the research source pack.', source_id: sourceId });\n      }\n    }\n    const packFactNumbers = sourceBackedNumbers(item, researchPack) || new Set();\n    const cardNumbers = String([item?.card_reason, item?.card_name, item?.reason].filter(Boolean).join(' ')).match(/\\d+(?:[.,]\\d+)?/g) || [];\n    for (const number of cardNumbers) {\n      if (!packFactNumbers.has(number)) {\n        issues.push({ rank, code: 'fabricated_beyond_source', message: 'Visible copy uses a number that the cited research fact does not contain.', value: number });\n        break;\n      }\n    }\n  }\n  return issues;\n}\n\nfunction inspectPack(value, researchPack) {\n  const issues = [];\n  const items = Array.isArray(value?.rank_items) ? value.rank_items : [];\n  if (items.length < 4 || items.length > 7) issues.push({ code: 'rank_count', count: items.length });\n  const vagueEnding = /(점검|확인|도움|부담|충분|기본|균형|관리|변화|문제|위험)$/;\n  for (const [index, item] of items.entries()) {\n    const rank = Number(item?.rank || index + 1);\n    const cardName = clean(item?.card_name);\n    const reason = clean(item?.reason);\n    const cardReason = clean(item?.card_reason);\n    if (!clean(item?.name)) issues.push({ rank, code: 'missing_name' });\n    if (!cardName) issues.push({ rank, code: 'missing_card_name' });\n    if ([...cardName].length > 30) issues.push({ rank, code: 'card_name_too_long', length: [...cardName].length });\n    if (!reason) issues.push({ rank, code: 'missing_reason', value: reason });\n    if (!cardReason) issues.push({ rank, code: 'missing_card_reason' });\n    if ([...cardReason].length > 60) issues.push({ rank, code: 'card_copy_too_long', length: [...cardReason].length });\n    if (/^(?:왜|이유|핵심|tip)\\s*[:：]/i.test(cardReason)) issues.push({ rank, code: 'card_label_prefix' });\n    const backedNumbers = sourceBackedNumbers(item, researchPack);\n    const percentages = reason.match(/(\\d{1,3})%/g) || [];\n    if (percentages.some((match) => !backedNumbers || !backedNumbers.has(match.replace('%', '')))) issues.push({ rank, code: 'unsupported_percentage', value: reason });\n  }\n  const viewerCopy = [\n    value?.hook_title,\n    value?.subtitle,\n    value?.video_script,\n    value?.description,\n    value?.pinned_comment,\n    ...items.flatMap((item) => [item?.name, item?.card_name, item?.reason, item?.card_reason, item?.caution]),\n  ].map(clean).filter(Boolean).join(' ');\n  if (/[가-힣]니다(?:[.!?]|\\s|$)/.test(viewerCopy)) issues.push({ code: 'channel_tone_mismatch' });\n  // A card whose every line is bent into the same sentence shape reads like\n  // machine translation even when each line is fine on its own. The usual\n  // offender is the if-then clause: five consecutive 조건절 is English grammar\n  // wearing Korean words. Spoken Korean varies its shape line to line.\n  const sentenceShape = (text) => {\n    if (!text) return '';\n    // Order matters: a line carrying an if-clause is built on that clause even\n    // when it also contains a 는데 contrast, so 조건절 is checked first.\n    if (text.includes('면 ') || text.endsWith('면')) return 'conditional';\n    if (text.includes('는데') || text.includes('지만')) return 'contrast';\n    if (text.includes('어서') || text.includes('아서') || text.includes('라서') || text.includes('때문')) return 'cause';\n    return 'plain';\n  };\n  // A bare demonstrative on the card means the line cannot be read on its own:\n  // 이때가 발톱을 보는 순간이에요 never says what changed about the 발톱.\n  for (const [index, item] of items.entries()) {\n    const cardReason = clean(item?.card_reason);\n    // Must start a word: 물건이거든요 and 사람이거나 contain 이거 as a substring\n    // and are perfectly clear, so only a standalone demonstrative counts.\n    const demonstrative = cardReason.match(/(?:^|[^가-힣])(그것|그거|이것|이거|이때|그때|이렇게|그렇게)/);\n    if (demonstrative) {\n      issues.push({\n        rank: Number(item?.rank || index + 1),\n        code: 'vague_demonstrative',\n        message: 'Card copy leans on a demonstrative instead of naming the thing, so the line cannot be read on its own.',\n        value: demonstrative[1],\n      });\n    }\n  }\n  const shapes = items.map((item) => sentenceShape(clean(item?.card_reason))).filter(Boolean);\n  if (shapes.length >= 4) {\n    const shapeCounts = {};\n    // Plain statements are the neutral default and repeat harmlessly; it is a\n    // marked construction repeated down the list that reads as translated.\n    for (const shape of shapes) if (shape !== 'plain') shapeCounts[shape] = (shapeCounts[shape] || 0) + 1;\n    const [dominant, dominantCount] = Object.entries(shapeCounts).sort((left, right) => right[1] - left[1])[0] || ['', 0];\n    if (dominantCount / shapes.length >= 0.8) {\n      issues.push({ code: 'monotonous_sentence_shape', shape: dominant, count: dominantCount, of: shapes.length });\n    }\n  }\n  return issues;\n}\n\nconst issues = [...inspectPack(pack, researchSourcePackOf(data)), ...inspectChannelIdentity(pack, cfg), ...inspectSourceGrounding(pack, researchSourcePackOf(data)), ...inspectEverydayLanguage(pack)];\nconst pass = issues.length === 0;\nreturn [{\n  json: {\n    ...data,\n    blocked: !pass,\n    content_quality_review: {\n      pass,\n      decision: pass ? 'pass' : 'reject',\n      mode: 'deterministic_dry_run',\n      contract_version: '1.0',\n      issues,\n      audit: (pack.rank_items || []).map((item, index) => ({\n        rank: Number(item.rank || index + 1),\n        confidence: 'not_evaluated_in_dry_run',\n        basis_type: 'deterministic_structure_only',\n      })),\n      checked_at: new Date().toISOString(),\n    },\n  },\n}];"
      },
      "id": "219d696a-a018-43b7-9428-fee7b260c888",
      "name": "Deterministic Quality Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        120
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Quality Review Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Quality Review Request": {
      "main": [
        [
          {
            "node": "Use AI Quality Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use AI Quality Review?": {
      "main": [
        [
          {
            "node": "KIE Claude Independent Quality Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deterministic Quality Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Claude Independent Quality Review": {
      "main": [
        [
          {
            "node": "Parse and Enforce Quality Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "995261e3-317c-4c6b-a9f2-51637990919d",
  "triggerCount": 0,
  "meta": null,
  "nodeGroups": []
}
